﻿@model List<SistemaLabMQ.Models.ValidacionesAnalisis>

@{
    ViewBag.Title = "Validaciones de Análisis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Mensaje"] != null)
{
    if (TempData["Mensaje"].ToString() == "1")
    {
        <div class="alert alert-primary" role="alert">
            Se ha insertado una <strong>nueva validación</strong>.
        </div>
    }
    else
    {
        if (TempData["Mensaje"].ToString() == "2")
        {
            <div class="alert alert-danger" role="alert">
                Error al insertar la nueva validación.
            </div>
        }
        if (TempData["Mensaje"].ToString() == "3")
        {
            <div class="alert alert-primary" role="alert">
                Se ha actualizado la validación con éxito.
            </div>
        }
        if (TempData["Mensaje"].ToString() == "4")
        {
            <div class="alert alert-danger" role="alert">
                Error al actualizar la validación.
            </div>
        }
    }
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a data-toggle="modal" data-target="#exampleModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="text-white-50"></i> Insertar validación
    </a>
</div>

<!-- Modal para crear una nueva validación -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingrese nueva validación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" novalidate
                      action="@Url.Content("../Validaciones/InsertarValidacion")"
                      method="post" autocomplete="off">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="Analisis" class="form-label">Análisis:</label>
                            <button type="button" class="btn btn-light btn-sm" data-toggle="modal"
                                    data-target="#modalBuscarAnalisis">
                                <i class="fas fa-search"></i>
                            </button>
                            <input type="number" class="form-control" id="IdAnalisis" name="IdAnalisis" required hidden />
                            <input type="text" class="form-control" id="Analisis" name="Analisis" required onfocus="this.blur();" />
                            <div class="valid-feedback">Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="Metodo" class="form-label">Método:</label>
                            <input type="text" class="form-control" id="Metodo" name="Metodo" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="Operador" class="form-label">Operador:</label>
                            <select class="custom-select" id="Operador" name="Operador" required>

                                <option selected disabled value="">Selecione...</option>
                                <option value=">">></option>
                                <option value="<"><</option>
                                <option value="=">=</option>
                                <option value="ENTRE">ENTRE</option>
                                <option value="METODO_IGUAL">METODO_IGUAL</option>

                            </select>
                            <div class="valid-feedback">Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="Valor1" class="form-label">Valor1:</label>
                            <input type="number" step="0.0001" class="form-control" id="Valor1" name="Valor1" />
                        </div>
                        <div class="col-md-6">
                            <label for="Valor2" class="form-label">Valor2:</label>
                            <input type="number" step="0.0001" class="form-control" id="Valor2" name="Valor2" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="MensajeNoAcreditado" class="form-label">Mensaje no acreditado:</label>
                            <input type="text" class="form-control" id="MensajeNoAcreditado" name="MensajeNoAcreditado" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal analisis -->
<div class="modal fade" id="modalBuscarAnalisis" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="staticBackdropLabel">Tipos de analisis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                    <a href="@Url.Action("../AnalisisMantenimiento/Index")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="text-white-50"></i> Nuevo Analisis
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tipo de analisis</th>
                                <th>Analisis</th>
                                <th>Metodo</th>
                                <th>Unidades</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SistemaLabMQ.Models.Analisis item in ViewBag.lstAnalisis)
                            {
                                <tr>
                                    <td>@item.TiposAnalisis.TipoAnalisis</td>
                                    <td>@item.Analisis1</td>
                                    <td>@item.Metodo</td>
                                    <td>@item.Unidades</td>
                                    <td>
                                        <button type="button" class="btn btn-light" onclick="buscarAnalisis(@item.IdAnalisis, '@item.Analisis1')" data-dismiss="modal">
                                            <i class="fas fa-check"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Tabla para mostrar validaciones existentes -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de validaciones</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Analisis</th>
                        <th>Método</th>
                        <th>Operador</th>
                        <th>Valor1</th>
                        <th>Valor2</th>
                        <th>Mensaje no acreditado</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Analisis.TiposAnalisis1.TipoAnalisis | @item.Analisis.Analisis1 </td>
                            <td>@item.Metodo</td>
                            <td>@item.Operador</td>
                            <td>@item.Valor1</td>
                            <td>@item.Valor2</td>
                            <td>@item.MensajeNoAcreditado</td>
                            <td>
                                <!-- Ajusta la ruta según tu acción/Controlador de edición -->
                                <a class="btn btn-primary"
                                   href="@Url.Content("../Validaciones/EditView?IdValidacion=" + item.IdValidacion)"
                                   role="button">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function buscarAnalisis(IdAnalisis, Analisis) {
        document.getElementById('IdAnalisis').value = IdAnalisis;
        document.getElementById('Analisis').value = Analisis;
    }
</script>