﻿
@{
    ViewBag.Title = "agregarFirma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #canvas {
        border: 1px solid black;
        border-radius: 5px;
    }
</style>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Agregar firma </h6>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <button id="btnLimpiar" class="btn btn-primary">Limpiar</button>
                <button id="btnDescargar" class="btn btn-success">Descargar</button>
                <button class="btn btn-primary" data-toggle="modal"
                        data-target="#agregarFirma">
                    Agregar firma
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal agregar firma-->
<div class="modal fade" id="agregarFirma" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar firma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate enctype="multipart/form-data" autocomplete="off" method="post" action="@Url.Content("../Entradas/guardarFirma")">
                    <div class="form-row">
                        <label for="Firma">Firma</label>

                        <input type="file" class="form-control" id="Firma" name="Firma"
                               required>
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor no puede quedar en blanco
                        </div>
                    </div>
                    <input type="text" name="idEntrada" id="idEntrada" hidden value="@ViewBag.idEntrada" />
                    <input type="text" name="Tipo" id="Tipo" hidden value="@ViewBag.Tipo" />
                    <input type="text" name="NumeroEnmienda" id="NumeroEnmienda" hidden value="@ViewBag.NumeroEnmienda" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Insertar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    const $canvas = document.querySelector("#canvas");
    const $btnLimpiar = document.querySelector("#btnLimpiar");
    const $btnDescargar = document.querySelector("#btnDescargar");
    const contexto = $canvas.getContext("2d");
    const COLOR = "black";
    const COLOR_FONDO = "white";
    const GROSOR = 2;
    let xAnterior = 0, yAnterior = 0, xActual = 0, yActual = 0;
    const obtenerXReal = (clientX) => clientX - $canvas.getBoundingClientRect().left;
    const obtenerYReal = (clientY) => clientY - $canvas.getBoundingClientRect().top;
    let haComenzadoDibujo = false; // Bandera que indica si el usuario está presionando el botón del mouse sin soltarlo
    $canvas.addEventListener("mousedown", evento => {
        // En este evento solo se ha iniciado el clic, así que dibujamos un punto
        xAnterior = xActual;
        yAnterior = yActual;
        xActual = obtenerXReal(evento.clientX);
        yActual = obtenerYReal(evento.clientY);
        contexto.beginPath();
        contexto.fillStyle = COLOR;
        contexto.fillRect(xActual, yActual, GROSOR, GROSOR);
        contexto.closePath();
        // Y establecemos la bandera
        haComenzadoDibujo = true;
    });

    $canvas.addEventListener("mousemove", (evento) => {
        if (!haComenzadoDibujo) {
            return;
        }
        // El mouse se está moviendo y el usuario está presionando el botón, así que dibujamos todo

        xAnterior = xActual;
        yAnterior = yActual;
        xActual = obtenerXReal(evento.clientX);
        yActual = obtenerYReal(evento.clientY);
        contexto.beginPath();
        contexto.moveTo(xAnterior, yAnterior);
        contexto.lineTo(xActual, yActual);
        contexto.strokeStyle = COLOR;
        contexto.lineWidth = GROSOR;
        contexto.stroke();
        contexto.closePath();
    });
    ["mouseup", "mouseout"].forEach(nombreDeEvento => {
        $canvas.addEventListener(nombreDeEvento, () => {
            haComenzadoDibujo = false;
        });
    });
    const limpiarCanvas = () => {
        // Colocar color blanco en fondo de canvas
        contexto.fillStyle = COLOR_FONDO;
        contexto.fillRect(0, 0, $canvas.width, $canvas.height);
    };
    limpiarCanvas();
    $btnLimpiar.onclick = limpiarCanvas;

    // Escuchar clic del botón para descargar el canvas
    $btnDescargar.onclick = () => {
        const enlace = document.createElement('a');
        // El título
        enlace.download = "Firma.png";
        // Convertir la imagen a Base64 y ponerlo en el enlace
        enlace.href = $canvas.toDataURL();
        // Hacer click en él
        enlace.click();
    };

    $canvas.addEventListener("touchstart", evento => {
        // Obtener la posición del toque en el canvas
        const touch = evento.touches[0];
        xAnterior = xActual = obtenerXReal(touch.clientX);
        yAnterior = yActual = obtenerYReal(touch.clientY);

        // Iniciar el dibujo
        contexto.beginPath();
        contexto.fillStyle = COLOR;
        contexto.fillRect(xActual, yActual, GROSOR, GROSOR);
        contexto.closePath();

        // Establecer la bandera
        haComenzadoDibujo = true;
    });

    $canvas.addEventListener("touchmove", evento => {
        // Evitar el comportamiento predeterminado de la pantalla táctil
        evento.preventDefault();

        // Obtener la posición del toque en el canvas
        const touch = evento.touches[0];
        xAnterior = xActual;
        yAnterior = yActual;
        xActual = obtenerXReal(touch.clientX);
        yActual = obtenerYReal(touch.clientY);

        // Dibujar la línea
        contexto.beginPath();
        contexto.moveTo(xAnterior, yAnterior);
        contexto.lineTo(xActual, yActual);
        contexto.strokeStyle = COLOR;
        contexto.lineWidth = GROSOR;
        contexto.stroke();
        contexto.closePath();
    });

    // Agregar eventos "touchend" y "touchcancel" para limpiar la bandera
    ["touchend", "touchcancel"].forEach(nombreDeEvento => {
        $canvas.addEventListener(nombreDeEvento, () => {
            haComenzadoDibujo = false;
        });
    });

</script>
