﻿@model SistemaLabMQ.Models.Muestras
@{
    ViewBag.Title = "AgregarAnalisis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Duplicar"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Duplicar"]
    </div>
}

<div class="modal fade" id="modalDuplicar" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="staticBackdropLabel">Duplicar analisis desde muestra @Model.IdCorrelativoMuestra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate autocomplete="off" action="@Url.Content("../Entradas/Duplicar")">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="Cumple" class="form-label">Tipo:</label>
                            <select class="custom-select" id="TipoDuplicarMuestra" name="TipoDuplicarMuestra" required>
                                <option value="0" selected disabled>Seleccione...</option>
                                <option value="1">Información muestra</option>
                                <option value="2">Análisis</option>
                                <option value="3">Todo</option>
                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <input type="text" hidden name="IdMuestraOrigen" id="IdMuestraOrigen" value="@Model.IdCorrelativoMuestra" />
                            <input type="text" hidden name="IdEntrada" id="IdEntrada" value="@Model.IdCorrelativoEntrada" />
                            <label for="validationCustom03">Numero de muestra destino</label>
                            <input type="number" class="form-control" id="IdMuestra" min="1" value="0" name="IdMuestra" required>
                            <input type="number" class="form-control" id="Tipo" hidden value="1" name="Tipo" required>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalMuestras" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="staticBackdropLabel">Duplicar analisis desde muestra @Model.IdCorrelativoMuestra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number" hidden name="IdMuestraOrigen" id="IdMuestraOrigen" value="@Model.IdCorrelativoMuestra" />

                <div class="col-md-12 mb-3">
                    <label for="Cumple" class="form-label">Tipo:</label>
                    <select class="custom-select" id="TipoDuplicarMuestra2" name="TipoDuplicarMuestra2" required>
                        <option value="0" selected disabled>Seleccione...</option>
                        <option value="1">Información muestra</option>
                        <option value="2">Análisis</option>
                        <option value="3">Todo</option>
                    </select>
                    <div class="valid-feedback">
                        Valor valido
                    </div>
                    <div class="invalid-feedback">
                        Valor no puede quedar en blanco
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Numero muestra</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SistemaLabMQ.Models.Muestras item in ViewBag.lstIdMuestras)
                            {
                                <tr>
                                    <td>@item.IdCorrelativoMuestra</td>
                                    <td>
                                        <input type="checkbox" class="form-control-sm chkMuestras" value="@item.IdCorrelativoMuestra">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" id="btnGuardar2" type="submit" value="@Model.IdCorrelativoEntrada">Guardar</button>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Modal buscar TipoMuestra -->
<div class="modal fade" id="modalBuscarTipoMuestra" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Buscar tipo de muestra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tipo</th>
                                <th>Clasificación</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SistemaLabMQ.Models.TiposMuestra item in ViewBag.TiposMuestra)
                            {
                                <tr>
                                    <td>@item.IdRow</td>
                                    <td>@item.Tipo</td>
                                    <td>@item.Clasificacion</td>
                                    <td>
                                        <button type="button" class="btn btn-light" onclick="insertarTipoMuestra(@item.IdRow, '@item.Tipo')" data-dismiss="modal">
                                            <i class="fas fa-check"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>Generico</td>
                                <td><input type="text" class="form-control" placeholder="Ingrese un valor..." /></td>
                                <td>Genérico</td>
                                <td>
                                    <button type="button" class="btn btn-light" onclick="insertarTipoMuestra(document.querySelector('#dataTable input').value, document.querySelector('#dataTable input').value)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Informaci&oacute;n de muestra @Model.IdCorrelativoMuestra
            @Html.Raw(Model.NumeroEnmienda != 0 ? $"| Enmienda N<sup>o</sup> {Model.NumeroEnmienda}" : "")
        </h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate autocomplete="off" action="@Url.Content("../Entradas/actMuestra")">
            <div class="form-row">
                <input type="text" hidden name="IdMuestra" id="IdMuestra" value="@Model.IdCorrelativoMuestra" />
                <input type="text" hidden name="NumeroEnmienda" id="NumeroEnmienda" value="@Model.NumeroEnmienda" />
                <div class="col-md-6 mb-3">
                    <label for="validationCustom03">Identificacionde la muestra</label>
                    <textarea class="form-control" id="IdentificacionMuestra" name="IdentificacionMuestra" value="@Model.IdentificacionMuestra" required>@Model.IdentificacionMuestra</textarea>
                    <div class="valid-feedback">
                        Valor valido
                    </div>
                    <div class="invalid-feedback">
                        Valor no puede quedar en blanco
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <button type="button" class="btn btn-light btn-sm" data-toggle="modal"
                            data-target="#modalBuscarTipoMuestra">
                        <i class="fas fa-search"></i>
                    </button>
                    <label for="TipoMuestra">Tipo de Muestra</label>
                    <input type="text" hidden name="IdTipoMuestra" id="IdTipoMuestra" value="@ViewBag.IdTipoMuestra" />
                    <input type="text" class="form-control" id="TipoMuestra" name="TipoMuestra" value="@ViewBag.DescripcionTipoMuestra" required autocomplete="off" onfocus="this.blur();">
                    <div class="valid-feedback">
                        Valor válido
                    </div>
                    <div class="invalid-feedback">
                        Valor no puede quedar en blanco
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="col-md-2 mb-3">
                    <label for="validationCustom03">Numero muestras</label>
                    <input type="number" class="form-control" id="NumeroMuestras" name="NumeroMuestras" min="1" value="@Model.NumeroMuestras" required>
                    <div class="valid-feedback">
                        Valor valido
                    </div>
                    <div class="invalid-feedback">
                        Valor no puede quedar en blanco
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Fecha toma de muestra</label>
                    <input type="date" class="form-control" id="FechaMuestra" name="FechaMuestra" value="@Model.FechaMuestra.ToString("yyyy-MM-dd")">
                    <div class="valid-feedback">
                        Valor valido
                    </div>
                    <div class="invalid-feedback">
                        Valor no puede quedar en blanco
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Hora toma de muestra</label>
                    <input type="text" class="form-control" id="HoraMuestra" name="HoraMuestra" value="@Model.HoraMuestra" placeholder="HH:MM" maxlength="5" pattern="([01][0-9]|2[0-3]):[0-5][0-9]" title="Formato válido: MM:SS (00-23:00-59)">
                    <div class="valid-feedback">
                        Valor valido
                    </div>
                    <div class="invalid-feedback">
                        Valor no v&aacute;lido, ingrese hora:minuto en formato HH:MM 24 horas
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom03">Cantidad de muestra</label>
                    <input type="text" class="form-control" id="Cantidad" name="Cantidad" min="0" value="@Model.Cantidad" required>
                    <div class="valid-feedback">
                        Valor valido
                    </div>
                    <div class="invalid-feedback">
                        Valor no puede quedar en blanco
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom04">Envase</label>
                    <select class="custom-select" multiple id="Envase" name="Envase"
                            required>
                        @Html.Raw(Model.Envase);

                    </select>
                    <div class="valid-feedback">
                        Valor valido
                    </div>
                    <div class="invalid-feedback">
                        Valor no puede quedar en blanco
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" @(ViewBag.Estado == 4 ? "disabled" : "")>Guardar</button>
        </form>
        <br />
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a href="@Url.Content("../Entradas/back?IdEntrada="+Model.IdCorrelativoEntrada+"&NumeroEnmienda="+Model.NumeroEnmienda)" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="text-white-50"></i> Regresar
            </a>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Agregar analisis a la muestra @Model.IdCorrelativoMuestra
            @Html.Raw(Model.NumeroEnmienda != 0 ? $"| Enmienda N<sup>o</sup> {Model.NumeroEnmienda}" : "")
        </h6>
    </div>
    <div class="card-body">
        <div class="btn-group align-items-center justify-content-between mb-4" role="group" aria-label="Basic example">
            @if (ViewBag.Estado == 4)
            {
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    Nuevo Analisis
                </a>
                <a class="btn btn-success btn-sm" href="#">
                    Resultados
                </a>
                <a class="btn btn-danger btn-sm" href="#">
                    Eliminar todo
                </a>
            }
            else
            {
                <a data-toggle="modal" data-target="#modalTiposAnalisis" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    Nuevo Analisis
                </a>
                <a class="btn btn-success btn-sm" href="@Url.Content("../Entradas/ResultadosMasivos?IdMuestra="+Model.IdCorrelativoMuestra+"&NumeroEnmienda="+Model.NumeroEnmienda)">
                    Resultados
                </a>
                <a class="btn btn-danger btn-sm" data-target="#modalEliminarAnalisis" data-toggle="modal">
                    Eliminar todo
                </a>
            }

            @if (Model.NumeroEnmienda == 0)
            {
                    if (ViewBag.lstIdMuestras.Count > 0)
                    {
                        <a href="#" data-toggle="modal" data-target="#modalMuestras" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                            Duplicar en misma entrada
                        </a>
                    }
                    <a href="#" data-toggle="modal" data-target="#modalDuplicar" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
                        Duplicar a otra entrada
                    </a>

            }


        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableAnalisisSolicitados" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Tipo de analisis</th>
                        <th>Analisis</th>
                        <th>Metodo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                        <th>Check<input type="checkbox" id="selectAll" class="form-control-sm" style="margin-left: 5px; vertical-align: middle;" /></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.lstAnalisisS)
                    {
                        <tr>
                            <td>@item.Analisis.TiposAnalisis.TipoAnalisis</td>
                            <td>@item.Analisis.Analisis1</td>
                            <td>@item.Analisis.Metodo</td>
                            <td>
                                @if (item.Estado == 0)
                                {
                                    <span class="btn btn-warning btn-icon-split btn-sm">
                                        <span class="text">En proceso</span>
                                    </span>
                                }
                                else
                                {
                                    <span class="btn btn-success btn-icon-split btn-sm">
                                        <span class="text">Entregado</span>
                                    </span>
                                }
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    @if (ViewBag.Estado == 4)
                                    {
                                        <a class="btn btn-danger btn-sm" href="#" role="button">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a class="btn btn-primary btn-sm" href="#" role="button">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger btn-sm" href="@Url.Content("../Entradas/eliminarAnalisis?IdAnalisisSolicitado="+item.IdAnalisisSolicitados+"&idMuestra="+item.IdCorrelativoMuestra+"&NumeroEnmienda="+Model.NumeroEnmienda)" role="button">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a class="btn btn-primary btn-sm" href="@Url.Content("../IngresoResultados/EnviarResultados?IdAnalisisSolicitado="+item.IdAnalisisSolicitados+"&IdEntrada="+Model.IdCorrelativoEntrada+"&IdMuestra="+item.IdCorrelativoMuestra+"&NumeroEnmienda="+Model.NumeroEnmienda)" role="button">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    }
                                </div>
                            </td>
                            <td> <input type="checkbox" class="form-control-sm chkborrar" value="@item.IdAnalisisSolicitados"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTiposAnalisis" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="staticBackdropLabel">Tipos de analisis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                    <a href="@Url.Action("../AnalisisMantenimiento/Index")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="text-white-50"></i> Nuevo Analisis
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tipo de analisis</th>
                                <th>Analisis</th>
                                <th>Metodo</th>
                                <th>Unidades</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SistemaLabMQ.Models.Analisis item in ViewBag.lstAnalisis)
                            {
                            <tr>
                                <td>@item.TiposAnalisis.TipoAnalisis</td>
                                <td>@item.Analisis1</td>
                                <td>@item.Metodo</td>
                                <td>@item.Unidades</td>
                                <td>
                                    <input type="checkbox" class="form-control-sm chkAnalisis" value="@item.IdAnalisis">
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btnGuardar" value="@Model.IdCorrelativoMuestra">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEliminarAnalisis" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="staticBackdropLabel">¿Desea eliminar todos los analisis seleccionados?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-danger" id="btnEliminar" name="btnEliminar" value="@Model.IdCorrelativoMuestra">Eliminar todo</button>
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionExample">
    <div class="card shadow mb-4">
        <div class="card-header d-flex align-items-center justify-content-between" id="headingFour">
            <h2 class="mb-0 w-100 d-flex align-items-center">
                <button class="btn btn-light text-left collapsed flex-grow-1" type="button"
                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                        aria-controls="collapseFour" style=" padding-left: 10px;">
                    Parámetros informe - Muestra @Model.IdCorrelativoMuestra
                    @Html.Raw(Model.NumeroEnmienda != 0 ? $"| Enmienda N<sup>o</sup> {Model.NumeroEnmienda}" : "")
                </button>
                <a class="btn btn-success ml-3 generar-informe" oncontextmenu="return false;" href="../Entradas/GenerarInforme?IdMuestra=@ViewBag.IdMuestra&IdEntrada=@Model.IdCorrelativoEntrada&NumeroEnmienda=@Model.NumeroEnmienda" role="button">
                    <i class="far fa-file-pdf"></i>
                </a>
            </h2>
        </div>


        <div id="collapseFour" class="collapse" aria-labelledby="headingfour"
             data-parent="#accordionExample">
            @if (ViewBag.Bandera)
            {
                <div class="card-body">
                    <form class="needs-validation" novalidate action="@Url.Content("../Entradas/GuardarParametrosInforme")" enctype="multipart/form-data" method="post" autocomplete="off">
                        <input type="text" class="form-control" id="IdMuestra" name="IdMuestra" value="@ViewBag.IdMuestra" hidden>
                        <input type="text" class="form-control" id="IdEntrada" name="IdEntrada" value="@ViewBag.IdEntrada" hidden>
                        <input type="text" hidden name="NumeroEnmienda" id="NumeroEnmienda" value="@Model.NumeroEnmienda" />
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="LeyendaP" class="form-label">Leyenda personalizada:</label>
                                <textarea id="LeyendaP" class="form-control" style="height: 130px;" name="LeyendaP">@ViewBag.paramInforme.LeyendaP</textarea>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="TipoI" class="form-label">Tipo de informe:</label>
                                <select class="custom-select" id="TipoI" name="TipoI" required>
                                    @switch (ViewBag.TipoMuestra)
                                    {
                                        case "1":
                                        case "10":
                                        case "11":
                                        case "12":
                                        case "13":
                                        case "14":
                                        case "15":
                                        case "16":
                                        case "17":
                                        case "18":
                                        case "19":
                                        case "20":
                                        case "21":
                                        case "22":
                                        case "28":
                                        case "30":
                                        case "31":
                                        case "34":
                                        case "45":
                                        case "46":
                                            switch (ViewBag.paramInforme.TipoI.ToString())
                                            {
                                                case "1":
                                                    <optgroup label="Agua potable">
                                                        <option value="1" selected>Agua potable 1</option>
                                                        <option value="2">Agua potable 2</option>
                                                        <option value="3">Agua potable 3</option>
                                                        <option value="20">Agua potable 4</option>
                                                    </optgroup>
                                                    break;
                                                case "2":
                                                    <optgroup label="Agua potable">
                                                        <option value="1">Agua potable 1</option>
                                                        <option value="2" selected>Agua potable 2</option>
                                                        <option value="3">Agua potable 3</option>
                                                        <option value="20">Agua potable 4</option>
                                                    </optgroup>
                                                    break;
                                                case "3":
                                                    <optgroup label="Agua potable">
                                                        <option value="1">Agua potable 1</option>
                                                        <option value="2">Agua potable 2</option>
                                                        <option value="3" selected>Agua potable 3</option>
                                                        <option value="20">Agua potable 4</option>
                                                    </optgroup>
                                                    break;
                                                case "20":
                                                    <optgroup label="Agua potable">
                                                        <option value="1">Agua potable 1</option>
                                                        <option value="2">Agua potable 2</option>
                                                        <option value="3">Agua potable 3</option>
                                                        <option value="20" selected>Agua potable 4</option>
                                                    </optgroup>
                                                    break;
                                                default:
                                                    <option value="0" selected disabled>Seleccione...</option>
                                                    <optgroup label="Agua potable">
                                                        <option value="1">Agua potable 1</option>
                                                        <option value="2">Agua potable 2</option>
                                                        <option value="3">Agua potable 3</option>
                                                        <option value="20">Agua potable 4</option>
                                                    </optgroup>
                                                    break;
                                            }
                                            break;
                                    }


                                    @if (ViewBag.TipoMuestra == "2" || ViewBag.TipoMuestra == "42" || ViewBag.TipoMuestra == "43" || ViewBag.TipoMuestra == "47" || ViewBag.TipoMuestra == "48" || ViewBag.TipoMuestra == "49")
                                    {
                                        switch (ViewBag.paramInforme.TipoI.ToString())
                                        {
                                            case "4":
                                                <optgroup label="Agua residual">
                                                    <option value="4" selected>Agua residual 1</option>
                                                    <option value="5">Agua residual 2</option>
                                                    <option value="6">Agua residual 3</option>
                                                    <option value="21">Agua residual 4</option>
                                                </optgroup>
                                                break;
                                            case "5":
                                                <optgroup label="Agua residual">
                                                    <option value="4">Agua residual 1</option>
                                                    <option value="5" selected>Agua residual 2</option>
                                                    <option value="6">Agua residual 3</option>
                                                    <option value="21">Agua residual 4</option>
                                                </optgroup>
                                                break;
                                            case "6":
                                                <optgroup label="Agua residual">
                                                    <option value="4">Agua residual 1</option>
                                                    <option value="5">Agua residual 2</option>
                                                    <option value="6" selected>Agua residual 3</option>
                                                    <option value="21">Agua residual 4</option>
                                                </optgroup>
                                                break;
                                            case "21":
                                                <optgroup label="Agua residual">
                                                    <option value="4">Agua residual 1</option>
                                                    <option value="5">Agua residual 2</option>
                                                    <option value="6">Agua residual 3</option>
                                                    <option value="21" selected>Agua residual 4</option>
                                                </optgroup>
                                                break;
                                            default:
                                                <option value="0" selected disabled>Seleccione...</option>
                                                <optgroup label="Agua residual">
                                                    <option value="4">Agua residual 1</option>
                                                    <option value="5">Agua residual 2</option>
                                                    <option value="6">Agua residual 3</option>
                                                    <option value="21">Agua residual 4</option>
                                                </optgroup>
                                                break;
                                        }
                                    }
                                    else if (ViewBag.TipoMuestra == "3" || ViewBag.TipoMuestra == "23" || ViewBag.TipoMuestra == "24" || ViewBag.TipoMuestra == "32")
                                    {
                                        switch (ViewBag.paramInforme.TipoI.ToString())
                                        {
                                            case "7":
                                                <optgroup label="Alimentos, PT, MP">
                                                    <option value="7" selected>Alimentos, PT, MP 1</option>
                                                    <option value="8">Alimentos, PT, MP 2</option>
                                                    <option value="9">Alimentos, PT, MP 3</option>
                                                    <option value="22">Alimentos, PT, MP 4</option>
                                                    <option value="23">Alimentos, PT, MP 5</option>
                                                </optgroup>
                                                break;
                                            case "8":
                                                <optgroup label="Alimentos, PT, MP">
                                                    <option value="7">Alimentos, PT, MP 1</option>
                                                    <option value="8" selected>Alimentos, PT, MP 2</option>
                                                    <option value="9">Alimentos, PT, MP 3</option>
                                                    <option value="22">Alimentos, PT, MP 4</option>
                                                    <option value="23">Alimentos, PT, MP 5</option>
                                                </optgroup>
                                                break;
                                            case "9":
                                                <optgroup label="Alimentos, PT, MP">
                                                    <option value="7">Alimentos, PT, MP 1</option>
                                                    <option value="8">Alimentos, PT, MP 2</option>
                                                    <option value="9" selected>Alimentos, PT, MP 3</option>
                                                    <option value="22">Alimentos, PT, MP 4</option>
                                                    <option value="23">Alimentos, PT, MP 5</option>
                                                </optgroup>
                                                break;
                                            case "22":
                                                <optgroup label="Alimentos, PT, MP">
                                                    <option value="7">Alimentos, PT, MP 1</option>
                                                    <option value="8">Alimentos, PT, MP 2</option>
                                                    <option value="9">Alimentos, PT, MP 3</option>
                                                    <option value="22" selected>Alimentos, PT, MP 4</option>
                                                    <option value="23">Alimentos, PT, MP 5</option>
                                                </optgroup>
                                                break;
                                            case "23":
                                                <optgroup label="Alimentos, PT, MP">
                                                    <option value="7">Alimentos, PT, MP 1</option>
                                                    <option value="8">Alimentos, PT, MP 2</option>
                                                    <option value="9">Alimentos, PT, MP 3</option>
                                                    <option value="22">Alimentos, PT, MP 4</option>
                                                    <option value="23" selected>Alimentos, PT, MP 5</option>
                                                </optgroup>
                                                break;
                                            default:
                                                <option value="0" selected disabled>Seleccione...</option>
                                                <optgroup label="Alimentos, PT, MP">
                                                    <option value="7">Alimentos, PT, MP 1</option>
                                                    <option value="8">Alimentos, PT, MP 2</option>
                                                    <option value="9">Alimentos, PT, MP 3</option>
                                                    <option value="22">Alimentos, PT, MP 4</option>
                                                    <option value="23">Alimentos, PT, MP 5</option>
                                                </optgroup>
                                                break;
                                        }
                                    }
                                    else if (ViewBag.TipoMuestra == "4" || ViewBag.TipoMuestra == "25" || ViewBag.TipoMuestra == "33" || ViewBag.TipoMuestra == "35" || ViewBag.TipoMuestra == "36" || ViewBag.TipoMuestra == "37" || ViewBag.TipoMuestra == "38" || ViewBag.TipoMuestra == "39" || ViewBag.TipoMuestra == "40" || ViewBag.TipoMuestra == "41")
                                    {
                                        switch (ViewBag.paramInforme.TipoI.ToString())
                                        {
                                            case "10":
                                                <optgroup label="Hisopado o ambiente">
                                                    <option value="10" selected>Hisopado o ambiente 1</option>
                                                    <option value="11">Hisopado o ambiente 2</option>
                                                </optgroup>
                                                break;

                                            case "11":
                                                <optgroup label="Hisopado o ambiente">
                                                    <option value="10">Hisopado o ambiente 1</option>
                                                    <option value="11" selected>Hisopado o ambiente 2</option>
                                                </optgroup>
                                                break;
                                            default:
                                                <option value="0" selected disabled>Seleccione...</option>
                                                <optgroup label="Hisopado o ambiente">
                                                    <option value="10">Hisopado o ambiente 1</option>
                                                    <option value="11">Hisopado o ambiente 2</option>
                                                </optgroup>
                                                break;
                                        }
                                    }
                                    else if (ViewBag.TipoMuestra == "5" || ViewBag.TipoMuestra == "26" || ViewBag.TipoMuestra == "29" || ViewBag.TipoMuestra == "44")
                                    {
                                        switch (ViewBag.paramInforme.TipoI.ToString())
                                        {
                                            case "12":
                                                <optgroup label="Medicamentos o MP">
                                                    <option value="12" selected>Medicamentos o MP 1</option>
                                                    <option value="19">Medicamentos o Producto terminado 1</option>
                                                    <option value="13">Medicamentos o MP 2</option>
                                                </optgroup>
                                                break;
                                            case "13":
                                                <optgroup label="Medicamentos o MP">
                                                    <option value="12">Medicamentos o MP 1</option>
                                                    <option value="19">Medicamentos o Producto terminado 1</option>
                                                    <option value="13" selected>Medicamentos o MP 2</option>
                                                </optgroup>
                                                break;
                                            case "19":
                                                <optgroup label="Medicamentos o MP">
                                                    <option value="12">Medicamentos o MP 1</option>
                                                    <option value="19" selected>Medicamentos o Producto terminado 1</option>
                                                    <option value="13">Medicamentos o MP 2</option>
                                                </optgroup>
                                                break;
                                            default:
                                                <option value="0" selected disabled>Seleccione...</option>
                                                <optgroup label="Medicamentos o MP">
                                                    <option value="12">Medicamentos o MP 1</option>
                                                    <option value="19">Medicamentos o Producto terminado 1</option>
                                                    <option value="13">Medicamentos o MP 2</option>
                                                </optgroup>
                                                break;
                                        }
                                    }
                                    else if (ViewBag.TipoMuestra == "6")
                                    {
                                        switch (ViewBag.paramInforme.TipoI.ToString())
                                        {
                                            case "14":
                                                <optgroup label="Poder bactericida">
                                                    <option value="14" selected>Poder bactericida</option>
                                                </optgroup>
                                                break;
                                            default:
                                                <option value="0" selected disabled>Seleccione...</option>
                                                <optgroup label="Poder bactericida">
                                                    <option value="14">Poder bactericida</option>
                                                </optgroup>
                                                break;
                                        }
                                    }
                                    else if (ViewBag.TipoMuestra == "7")
                                    {
                                        switch (ViewBag.paramInforme.TipoI.ToString())
                                        {
                                            case "15":
                                                <optgroup label="Vida util">
                                                    <option value="15" selected>Vida util</option>
                                                </optgroup>
                                                break;
                                            default:
                                                <option value="0" selected disabled>Seleccione...</option>
                                                <optgroup label="Vida util">
                                                    <option value="15">Vida util</option>
                                                </optgroup>
                                                break;
                                        }
                                    }
                                    else if (ViewBag.TipoMuestra == "8" || ViewBag.TipoMuestra == "27")
                                    {
                                        switch (ViewBag.paramInforme.TipoI.ToString())
                                        {
                                            case "16":
                                                <optgroup label="Productos o MP">
                                                    <option value="16" selected>Chemex 1</option>
                                                    <option value="17">Chemex 2</option>
                                                </optgroup>
                                                break;
                                            case "17":
                                                <optgroup label="Productos o MP">
                                                    <option value="16">Chemex 1</option>
                                                    <option value="17" selected>Chemex 2</option>
                                                </optgroup>
                                                break;
                                            default:
                                                <option value="0" selected disabled>Seleccione...</option>
                                                <optgroup label="Productos o MP">
                                                    <option value="16">Chemex 1</option>
                                                    <option value="17">Chemex 2</option>
                                                </optgroup>
                                                break;
                                        }
                                    }
                                    else if (ViewBag.TipoMuestra == "9")
                                    {
                                        switch (ViewBag.paramInforme.TipoI.ToString())
                                        {
                                            case "18":
                                                <optgroup label="Suelo">
                                                    <option value="18" selected>Suelo</option>
                                                </optgroup>
                                                break;
                                            default:
                                                <option value="0" selected disabled>Seleccione...</option>
                                                <optgroup label="Suelo">
                                                    <option value="18">Suelo</option>
                                                </optgroup>
                                                break;
                                        }
                                    }
                                </select>
                                <div class="valid-feedback">Valor válido</div>
                                <div class="invalid-feedback">Campo requerido</div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="agregarParamMuestras" class="form-label">Agregar parametros a todas las muestras</label>
                                <select class="custom-select" id="agregarParamMuestras" name="agregarParamMuestras" required>
                                    <option selected disabled value="">Selecione...</option>
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                                <div class="valid-feedback">Valor valido</div>
                                <div class="invalid-feedback">Campo requerido</div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Salto" class="form-label">Generar un resultado por pagina:</label>
                                <select class="custom-select" id="Salto" name="Salto" required>
                                    <option selected disabled value="">Selecione...</option>
                                    @switch (ViewBag.paramInforme.Salto)
                                    {
                                        case 1:
                                            <option value="1" selected>Si</option>
                                            <option value="2">No</option>
                                            break;
                                        case 2:
                                            <option value="1">Si</option>
                                            <option value="2" selected>No</option>
                                            break;
                                        default:
                                            <option value="" selected disabled>Seleccione...</option>
                                            <option value="1">Si</option>
                                            <option value="2">No</option>
                                            break;
                                    }
                                </select>
                                <div class="valid-feedback">Valor valido</div>
                                <div class="invalid-feedback">Campo requerido</div>
                            </div>
                            @if (ViewBag.TipoMuestra == "5" || ViewBag.TipoMuestra == "26" || ViewBag.TipoMuestra == "29" || ViewBag.TipoMuestra == "44")
                            {
                                <div class="col-md-4 mb-3">
                                    <label for="Cumple" class="form-label">Cumple:</label>
                                    <select class="custom-select" id="Cumple" name="Cumple" required>
                                        @switch (ViewBag.paramInforme.Cumple)
                                        {
                                            case 0:
                                                <option value="1">Si</option>
                                                <option value="0" selected>No</option>
                                                <option value="2">N/A</option>
                                                break;
                                            case 1:
                                                <option value="1" selected>Si</option>
                                                <option value="0">No</option>
                                                <option value="2">N/A</option>
                                                break;
                                            case 2:
                                                <option value="1">Si</option>
                                                <option value="0">No</option>
                                                <option value="2" selected>N/A</option>
                                                break;
                                            default:
                                                <option value="" selected disabled>Seleccione...</option>
                                                <option value="1">Si</option>
                                                <option value="0">No</option>
                                                <option value="2">N/A</option>
                                                break;
                                        }
                                    </select>
                                </div>
                            }

                            @if (ViewBag.TipoMuestra == "7")
                            {
                                <div class="col-md-4 mb-3">
                                    <label for="Temperatura" class="form-label">Temperatura:</label>
                                    <input type="text" class="form-control" id="Temperatura" name="Temperatura" value="@ViewBag.paramInforme.Temperatura">
                                    <div class="valid-feedback">Valor valido</div>
                                    <div class="invalid-feedback">Campo requerido</div>
                                </div>
                            }

                        </div>
                        @if (ViewBag.lstFirmasMuestra.Count < 2)
                        {
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="ValorM" class="form-label">Firma</label>
                                    <select class="custom-select" id="Firma" name="Firma">
                                        <option selected disabled value="">Selecione...</option>
                                        @foreach (SistemaLabMQ.Models.Firmas item in ViewBag.Firmas)
                                        {
                                            <option value="@item.IdFirma">@item.Nombre</option>
                                        }

                                    </select>
                                    <div class="valid-feedback">Valor valido</div>
                                    <div class="invalid-feedback">Campo requerido</div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="agregarFirmasMuestras" class="form-label">Agregar firma a todas las muestras</label>
                                    <select class="custom-select" id="agregarFirmasMuestras" name="agregarFirmasMuestras">
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Si</option>
                                        <option value="0">No</option>
                                    </select>
                                    <div class="valid-feedback">Valor valido</div>
                                    <div class="invalid-feedback">Campo requerido</div>
                                </div>

                            </div>
                        }
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" @(ViewBag.Estado == 4 ? "disabled" : "")>Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="card-body">                    
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Firma</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SistemaLabMQ.Models.Procedures.sp_getFirmasMuestra item in ViewBag.lstFirmasMuestra)
                                {
                                    <tr>
                                        <td>@item.Nombre</td>
                                        <td><img src="data:image/png;base64,@item.ImgFirma" width="35%"></td>
                                        <td>
                                            @if (ViewBag.Estado == 4)
                                            {
                                                <a class="btn btn-danger" href="#" role="button">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger" href="@Url.Content("../Entradas/EliminarFirmaMuestra?IdFirma="+item.IdFirma+"&IdMuestra="+Model.IdCorrelativoMuestra+"&NumeroEnmienda="+Model.NumeroEnmienda)" role="button">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header" id="headingSix">
            <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                        aria-controls="collapseSix">
                    Observaciones
                </button>
            </h2>
        </div>
        <div id="collapseSix" class="collapse show" aria-labelledby="headingSix"
             data-parent="#accordionExample">
            <div class="card-body">
                <form class="needs-validation" novalidate action="@Url.Content("../Entradas/AgregarObservaciones")" enctype="multipart/form-data" method="post" autocomplete="off">

                    <div class="form-row">

                        <input type="text" hidden name="IdMuestra" id="IdMuestra" value="@Model.IdCorrelativoMuestra" />
                        <input type="text" hidden name="NumeroEnmienda" id="NumeroEnmienda" value="@Model.NumeroEnmienda" />
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom04">Observaciones para tecnico</label>
                            <textarea class="form-control" id="ObsTecnico" name="ObsTecnico" required>@Model.ObservacionTecnicos</textarea>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">
                                Observaciones para informe
                            </label>
                            <textarea class="form-control" id="ObsInforme" name="ObsInforme" required>@Model.ObservacionInforme</textarea>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" @(ViewBag.Estado == 4 ? "disabled" : "")>Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).on('click', '.generar-informe', function (e) {
        e.preventDefault(); // Prevenir la redirección automática

        var baseHref = $(this).attr('href'); // Obtener el href del elemento clicado

        // Mostrar SweetAlert para que el usuario seleccione el formato
        Swal.fire({
            title: 'Selecciona el tipo de página',
            input: 'select',
            inputOptions: {
                'carta': 'Carta',
                'oficio': 'Oficio'
            },
            inputPlaceholder: 'Elige un tipo',
            showCancelButton: true,
            confirmButtonText: 'Generar Informe',
            cancelButtonText: 'Cancelar',
            preConfirm: (formato) => {
                if (!formato) {
                    Swal.showValidationMessage('Por favor selecciona un tipo');
                }
                return formato;
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const formatoSeleccionado = result.value;

                // Agregar el formato seleccionado a la URL base
                var url = baseHref + "&formato=" + formatoSeleccionado;

                console.log(url);
                // Redirigir a la URL generada
                window.location.href = url;
            }
        });
    });
    $(document).ready(function () {
        // Inicializar DataTable
        var table = $('#dataTableAnalisisSolicitados').DataTable();

        // Evento para seleccionar/deseleccionar todos los checkboxes
        $('#selectAll').on('change', function () {
            var isChecked = this.checked; // Verifica si el checkbox principal está marcado

            // Usar la API de DataTables para afectar todos los checkboxes
            table.rows().every(function () {
                $(this.node()).find('.chkborrar').prop('checked', isChecked);
            });
        });

        // Evento para desmarcar "selectAll" si un checkbox es desmarcado manualmente
        $('#dataTableAnalisisSolicitados').on('change', '.chkborrar', function () {
            if (!this.checked) {
                $('#selectAll').prop('checked', false); // Desmarcar el checkbox principal
            }
        });
    });
    $(document).ready(function () {
        $("#btnEliminar").on("click", function () {
            // Desactivar la paginación
            var tabla = $('#dataTableAnalisisSolicitados').DataTable();
            tabla.search('').draw();
            tabla.page.len(-1).draw();

            var idsSeleccionados = [];
            $(".chkborrar:checked").each(function () {
                idsSeleccionados.push($(this).val());
            });

            tabla.page.len(10).draw();
            idMuestra = $("#btnEliminar").val();
            var url = "../Entradas/eliminarTodosAnalisis?IdAnalisisSolicitados=" + idsSeleccionados + "&idMuestra=" + idMuestra +"&NumeroEnmienda="+@Model.NumeroEnmienda;
            $.ajax({
                url: url,
                cache: false,
                type: 'GET',
                success: function (data) {
                    if (data != null) {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            })
        });
    });
    $(document).ready(function () {
        // Variable global para almacenar los IDs seleccionados
        var idsSeleccionados = new Set();

        // Inicializar DataTable
        var tabla = $('#dataTable2').DataTable();

        // Manejar el evento de cambio en los checkboxes
        $(document).on("change", ".chkAnalisis", function () {
            var id = $(this).val();
            if ($(this).is(":checked")) {
                idsSeleccionados.add(id); // Agregar el ID al conjunto
            } else {
                idsSeleccionados.delete(id); // Remover el ID del conjunto
            }
        });

        // Antes de cargar una nueva página, sincronizar los checkboxes
        $('#dataTable2').on('draw.dt', function () {
            $(".chkAnalisis").each(function () {
                if (idsSeleccionados.has($(this).val())) {
                    $(this).prop("checked", true);
                } else {
                    $(this).prop("checked", false);
                }
            });
        });

        // Botón Guardar
        $("#btnGuardar").on("click", function () {
            // Convertir el conjunto a un array para enviar al servidor
            var idsArray = Array.from(idsSeleccionados);

            idMuestra = $("#btnGuardar").val();
            var url = "../Entradas/AgregarAnalisis?idMuestra=" + idMuestra + "&NumeroEnmienda="+@Model.NumeroEnmienda+"&idAnalisis=" + idsArray.join(",");
            $.ajax({
                url: url,
                cache: false,
                type: 'GET',
                success: function (data) {
                    if (data != null) {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            });
        });
    });

    /*$(document).ready(function () {
        $("#btnGuardar").on("click", function () {
            // Desactivar la paginación
            var tabla = $('#dataTable2').DataTable();
            tabla.search('').draw();
            tabla.page.len(-1).draw();

            var idsSeleccionados = [];
            $(".chkAnalisis:checked").each(function () {
                idsSeleccionados.push($(this).val());
            });

            tabla.page.len(10).draw();

            idMuestra = $("#btnGuardar").val();
            var url = "../Entradas/AgregarAnalisis?idMuestra=" + idMuestra + "&&idAnalisis=" + idsSeleccionados;
            $.ajax({
                url: url,
                cache: false,
                type: 'GET',
                success: function (data) {
                    if (data != null) {
                        location.reload();
                    }
                },
                processData: false,
                contentType: false
            })
        });
    });*/

    $(document).ready(function () {
        $("#btnGuardar2").on("click", function (tipo) {
            // Desactivar la paginación
            var tabla = $('#dataTable3').DataTable();
            tabla.search('').draw();
            tabla.page.len(-1).draw();

            var idsSeleccionados = [];
            $(".chkMuestras:checked").each(function () {
                idsSeleccionados.push($(this).val());
            });

            tabla.page.len(10).draw();
            IdEntrada = $("#btnGuardar2").val();
            IdMuestraOrigen = $("#IdMuestraOrigen").val();
            TipoDuplicarMuestra = $("#TipoDuplicarMuestra").val();


            if (TipoDuplicarMuestra = '0') {
                TipoDuplicarMuestra = $("#TipoDuplicarMuestra2").val();
            }
            var url = "../Entradas/Duplicar?IdMuestra=" + idsSeleccionados + "&IdEntrada=" + IdEntrada + "&IdMuestraOrigen=" + IdMuestraOrigen + "&Tipo=2" + "&TipoDuplicarMuestra=" + TipoDuplicarMuestra;
            $.ajax({
                url: url,
                cache: false,
                type: 'GET',
                success: function (data) {
                    if (data != null && data.redirectUrl) {
                        window.location.href = data.redirectUrl;
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                    console.log("Status: " + status);
                    console.dir(xhr);
                },
                processData: false,
                contentType: false
            })
        });
    });

    document.getElementById("IdentificacionMuestra").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
        }
    });
    document.getElementById("ObsTecnico").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
        }
    });
    document.getElementById("ObsInforme").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
        }
    });

    $(document).ready(function () {
        $('#dataTable3').dataTable();
    });

    $(document).ready(function () {
        // Verificar si el DataTable ya está inicializado
        if (!$.fn.DataTable.isDataTable('#dataTableAnalisisSolicitados')) {
            // Inicializar el DataTable con stateSave habilitado
            var table = $('#dataTableAnalisisSolicitados').DataTable({
                stateSave: true, // Habilita el guardado de estado de DataTable
                "order": [[0, "desc"]]
            });

            // Guardar el estado en el sessionStorage antes de que el usuario salga de la página
            window.onbeforeunload = function () {
                var state = table.state();
                sessionStorage.setItem('dataTableMuestraState', JSON.stringify(state));
            };

            // Recuperar el estado almacenado cuando se carga la página
            var savedState = sessionStorage.getItem('dataTableMuestraState');
            if (savedState) {
                table.state.clear(); // Limpiar el estado previo
                table.state(JSON.parse(savedState)); // Aplicar el estado guardado
            }
        }
    });

    function insertarTipoMuestra(IdTipoMuestra, TipoMuestra) {
        document.getElementById('IdTipoMuestra').value = IdTipoMuestra;
        document.getElementById('TipoMuestra').value = TipoMuestra;
    }
</script>
