﻿@model SistemaLabMQ.Models.AnulacionMuestras
@{
    ViewBag.Title = "detallesAnulacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Detalles anulaci&oacute;n de muestra N<sup>o</sup> @Model.IdCorrelativoMuestra
            @Html.Raw(Model.NumeroEnmienda != 0 ? $"| Enmienda N<sup>o</sup> {Model.NumeroEnmienda}" : "")
        </h6>

    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="ViaNotificacion">Via de notificacion</label>
                <select class="custom-select" id="ViaNotificacion" name="ViaNotificacion">
                    @if (Model.ViaNotificacion == 1)
                    {
                        <option value="1" selected>Personalmente</option>
                    }
                    else
                    {
                        if (Model.ViaNotificacion == 2)
                        {
                            <option value="2" selected>Tel&eacute;fono</option>
                        }
                        else
                        {
                            <option value="3" selected>Correo</option>
                        }
                    }
                </select>
                <div class="valid-feedback">
                    Valor valido
                </div>
                <div class="invalid-feedback">
                    Valor no puede quedar en blanco
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="Persona">Persona que recibe notificaci&oacute;n</label>
                <input type="text" class="form-control" id="Persona" name="Persona" value="@Model.Persona" readonly>
                <div class="valid-feedback">
                    Valor valido
                </div>
                <div class="invalid-feedback">
                    Valor no puede quedar en blanco
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="Fecha">Fecha modificacion</label>
                <input type="text" class="form-control" id="Fecha" name="Fecha" required
                       value="@Model.Fecha.ToString("yyyy-MM-dd")" readonly>
                <div class="valid-feedback">
                    Valor valido
                </div>
                <div class="invalid-feedback">
                    Valor no puede quedar en blanco
                </div>
            </div>
            <div class="col-md-8 mb-3">
                <label for="Descripcion">Descripcion</label>
                <textarea class="form-control" id="Descripcion" name="Descripcion" readonly>@Model.Descripcion</textarea>
                <div class="valid-feedback">
                    Valor valido
                </div>
                <div class="invalid-feedback">
                    Valor no puede quedar en blanco
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
    <a href="javascript:history.back()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="text-white-50"></i> Regresar
    </a>
</div>