﻿@model SistemaLabMQ.Models.Procedures.sp_verEntrada
@{
    ViewBag.Title = "EntradasView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Estado == 4)
{
    <div class="alert alert-info text-center" role="alert">
        <b>Entrada guardada previamente, visualización solo de lectura.</b>
    </div>
}
@if (ViewBag.NumeroEnmienda != 0)
{
    <div class="alert alert-success text-center" role="alert">
        <b>Enmienda No @ViewBag.NumeroEnmienda, realizada el @ViewBag.InformacionEnmienda.Fecha.ToString("dd/MM/yyyy"), por @ViewBag.InformacionEnmienda.Usuario, justificaci&oacute;n: @ViewBag.InformacionEnmienda.Justificacion</b>
    </div>
}
<div class="card mb-4 bg-transparent">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="row">
                    <center><img src="data:image/png;base64,@ViewBag.Parametros.Logo" width="35%"></center>
                </div>
                <div class="row">
                    <p class="text-center text-dark">Laboratorio de Análisis <br>Industriales MQ</p>
                </div>
            </div>
            <div class="col-md-4 mb-6">

                <p class="text-center text-dark font-weight-bold">
                    @ViewBag.Parametros.TituloEntrada <br>
                    Teléfono: @ViewBag.Parametros.Telefonos<br>
                    Correo electrónico:<br>
                    @ViewBag.Parametros.Correos
                </p>

            </div>
            <div class="col-md-4 mb-3">

                <p class="text-right text-dark">
                    Código: @ViewBag.Parametros.CodigoFormatoEntrada<br>
                    Versión: @ViewBag.Parametros.VersionFormatoEntrada<br>
                    Correlativo: @Model.idEntrada @(ViewBag.NumeroEnmienda!=0? "-"+ViewBag.NumeroEnmienda:"")<br>
                </p>
            </div>
        </div>
    </div>
</div>
@{
    if (TempData["DuplicarEntrada"] != null)
    {
        <div class="alert alert-primary" role="alert">
            @TempData["DuplicarEntrada"]
        </div>
    }
}
@if (ViewBag.NumeroEnmienda == 0)
{
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a href="#" data-toggle="modal" data-target="#modalDuplicar" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="text-white-50"></i> Duplicar entrada
        </a>
    </div>
}

<div class="modal fade" id="modalDuplicar" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="staticBackdropLabel">Duplicar entrada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate autocomplete="off" action="@Url.Content("../Entradas/DuplicarEntrada")">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <input type="text" hidden name="IdEntradaOrigen" id="IdEntradaOrigen" value="@Model.idEntrada" />
                            <label for="validationCustom03">Entrada destino</label>
                            <input type="number" class="form-control" id="IdEntradaDestino" min="1" value="0" name="IdEntradaDestino" required>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<!-- Modal buscar cliente -->
<div class="modal fade" id="modalBuscarEmpresa" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Buscar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Direccion</th>
                                <th>Contacto</th>
                                <th>Telefono</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SistemaLabMQ.Models.Clientes item in ViewBag.lstClientes)
                            {
                                <tr>
                                    <td>@item.Cliente</td>
                                    <td>@item.Direccion</td>
                                    <td>@item.Contacto</td>
                                    <td>@item.Telefono</td>
                                    <td>
                                        <button type="button" class="btn btn-light" onclick="buscarCliente(@item.IdCliente)" data-dismiss="modal">
                                            <i class="fas fa-check"></i>
                                        </button>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <div class="card shadow mb-4">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left" type="button"
                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                    Seccion general
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
             data-parent="#accordionExample">
            <div class="card-body">
                <form class="needs-validation" novalidate autocomplete="off" action="@Url.Content("../Entradas/actSeccionGeneral?IdEntrada="+Model.idEntrada)" method="post">
                    <input type="text" id="NumeroEnmienda" name="NumeroEnmienda"
                           hidden value="@Model.NumeroEnmienda" />
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom01">Empresa</label>
                            <button type="button" class="btn btn-light btn-sm" data-toggle="modal"
                                    data-target="#modalBuscarEmpresa">
                                <i class="fas fa-search"></i>
                            </button>

                            <input type="text" class="form-control" id="Empresa" name="Empresa"
                                   required autocomplete="off" value="@Model.Empresa" onfocus="this.blur();">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <input type="text" hidden name="IdCliente" id="IdCliente" value="0" />
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom02">Direccion</label>
                            <input type="text" class="form-control" id="Direccion" name="Direccion"
                                   required autocomplete="off" value="@Model.Direccion" onfocus="this.blur();">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom02">Contacto</label>
                            <input type="text" autocomplete="off" class="form-control" id="Contacto" name="Contacto"
                                   required value="@Model.Contacto" onfocus="this.blur();">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom02">Telefono/Fax/Cel</label>
                            <input type="text" autocomplete="off" class="form-control" id="Telefono" name="Telefono"
                                   required value="@Model.Telefono" onfocus="this.blur();">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">Toma de muestra</label>
                            <select class="custom-select" id="TomaMuestra" name="TomaMuestra" required>
                                @if (Model.TomaMuestra == 1)
                                {
                                    <option value="1" selected>Cliente</option>
                                    <option value="2">Laboratorio</option>
                                }
                                else
                                {
                                    if (Model.TomaMuestra == 2)
                                    {
                                        <option value="1">Cliente</option>
                                        <option value="2" selected>Laboratorio</option>
                                    }
                                    else
                                    {
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Cliente</option>
                                        <option value="2">Laboratorio</option>
                                    }
                                }
                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">Plan de toma de muestra</label>
                            <select class="custom-select" id="PlanMuestra" name="PlanMuestra" required>
                                @if (Model.PlanMuestra == 1)
                                {
                                    <option value="1" selected>Si</option>
                                    <option value="2">N/A</option>
                                }
                                else
                                {
                                    if (Model.PlanMuestra == 2)
                                    {
                                        <option value="1">Si</option>
                                        <option value="2" selected>N/A</option>
                                    }
                                    else
                                    {
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Si</option>
                                        <option value="2">N/A</option>
                                    }
                                }


                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom02">Tipo de muestra</label>
                            <input type="text" class="form-control" id="TipoMuestra" name="TipoMuestra"
                                   required value="@Model.TipoMuestra">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom02">Punto de toma de muestra</label>
                            <input type="text" class="form-control" id="PuntoToma" name="PuntoToma"
                                   required value="@Model.PuntoToma">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">Fecha toma de muestra</label>
                            <input type="date" class="form-control" id="FechaMuestra" name="FechaMuestra" value="@Model.FechaMuestra.ToString("yyyy-MM-dd")">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">Hora toma de muestra</label>
                            <input type="text" class="form-control" id="HoraMuestra" name="HoraMuestra" value="@Model.HoraMuestra" placeholder="HH:MM" maxlength="5" pattern="([01][0-9]|2[0-3]):[0-5][0-9]" title="Formato válido: MM:SS (00-23:00-59)">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no v&aacute;lido, ingrese hora:minuto en formato HH:MM 24 horas
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom02">Responsable toma de muestra</label>
                            <input type="text" class="form-control" id="Responsable" name="Responsable"
                                   required value="@Model.Responsable">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom02">Entregado por</label>
                            <input type="text" class="form-control" id="Entregado" name="Entregado"
                                   required value="@Model.Entregado">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">Fecha de entrega</label>
                            <input type="date" class="form-control" id="FechaEntrega" required name="FechaEntrega" value="@Model.FechaEntrega.ToString("yyyy-MM-dd")">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">Hora de entrega</label>
                            <input type="text" class="form-control" id="HoraEntrega" name="HoraEntrega" value="@Model.HoraEntrega" placeholder="HH:MM" maxlength="5" pattern="([01][0-9]|2[0-3]):[0-5][0-9]" title="Formato válido: MM:SS (00-23:00-59)">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no v&aacute;lido, ingrese hora:minuto en formato HH:MM 24 horas
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            @if (string.IsNullOrEmpty(Model.FirmaGeneral) | string.IsNullOrWhiteSpace(Model.FirmaGeneral))
                            {
                                <label for="Firma">Agregar firma</label>
                                if (ViewBag.Estado == 4)
                                {
                                    <a href="#" id="Firma" class="form-control btn btn-secondary">
                                        <i class="fas fa-file-signature fa-lg"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Content("../Entradas/firmarSeccionGeneral?IdEntrada="+Model.idEntrada+"&Tipo=1&NumeroEnmienda="+Model.NumeroEnmienda)" id="Firma" class="form-control btn btn-secondary">
                                        <i class="fas fa-file-signature fa-lg"></i>
                                    </a>
                                }

                            }
                            else
                            {
                                <label for="Firma">Firma</label>
                                <img src="data:image/png;base64,@Model.FirmaGeneral">
                                if (ViewBag.Estado == 4)
                                {
                                    <a href="#" id="Firma" class="form-control btn btn-secondary">
                                        <i class="fas fa-file-signature fa-lg"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Content("../Entradas/firmarSeccionGeneral?IdEntrada="+Model.idEntrada+"&Tipo=1&NumeroEnmienda="+Model.NumeroEnmienda)" id="Firma" class="form-control btn btn-secondary">
                                        <i class="fas fa-file-signature fa-lg"></i>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" @(ViewBag.Estado == 4 ? "disabled" : "")>Guardar datos generales</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                    Condiciones de recepción de la muestra
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
             data-parent="#accordionExample">
            <div class="card-body">
                <form class="needs-validation" novalidate autocomplete="off" method="post" action="@Url.Content("../Entradas/actCondiciones?IdEntrada="+Model.idEntrada)">
                    <input type="text" id="NumeroEnmienda" name="NumeroEnmienda"
                           hidden value="@Model.NumeroEnmienda" />
                    <div class="form-row">
                        <div class="card col-md-6 mb-3">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom04">Unidad de medida</label>
                                        <select class="custom-select" id="UnidadMedida" name="UnidadMedida"
                                                required>
                                            @if (Model.UnidadMedida == 1)
                                            {
                                                <option value="1" selected>mL</option>
                                                <option value="2">L</option>
                                                <option value="3">g</option>
                                                <option value="4">oz</option>
                                                <option value="5">Varios</option>
                                            }
                                            else
                                            {
                                                if (Model.UnidadMedida == 2)
                                                {
                                                    <option value="1">mL</option>
                                                    <option value="2" selected>L</option>
                                                    <option value="3">g</option>
                                                    <option value="4">oz</option>
                                                    <option value="5">Varios</option>
                                                }
                                                else
                                                {
                                                    if (Model.UnidadMedida == 3)
                                                    {
                                                        <option value="1">mL</option>
                                                        <option value="2">L</option>
                                                        <option value="3" selected>g</option>
                                                        <option value="4">oz</option>
                                                        <option value="5">Varios</option>
                                                    }
                                                    else
                                                    {
                                                        if (Model.UnidadMedida == 4)
                                                        {
                                                            <option value="1">mL</option>
                                                            <option value="2">L</option>
                                                            <option value="3">g</option>
                                                            <option value="4" selected>oz</option>
                                                            <option value="5">Varios</option>
                                                        }
                                                        else
                                                        {
                                                            if (Model.UnidadMedida == 5)
                                                            {
                                                                <option value="1">mL</option>
                                                                <option value="2">L</option>
                                                                <option value="3">g</option>
                                                                <option value="4">oz</option>
                                                                <option value="5" selected>Varios</option>
                                                            }
                                                            else
                                                            {
                                                                <option selected disabled value="">Selecione...</option>
                                                                <option value="1">mL</option>
                                                                <option value="2">L</option>
                                                                <option value="3">g</option>
                                                                <option value="4">oz</option>
                                                                <option value="5">Varios</option>
                                                            }

                                                        }
                                                    }
                                                }
                                            }

                                        </select>
                                        <div class="valid-feedback">
                                            Valor valido
                                        </div>
                                        <div class="invalid-feedback">
                                            Valor no puede quedar en blanco
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom04">Cantidad</label>
                                        <input type="text" class="form-control"
                                               id="Cantidad" name="Cantidad"
                                               required value="@Model.Cantidad">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom04">Condicion</label>
                                        <select class="custom-select" id="CondicionCantidad" name="CondicionCantidad"
                                                required>
                                            @if (Model.CondicionCantidad == 1)
                                            {
                                                <option value="1" selected>Apto</option>
                                                <option value="2">No apto</option>
                                            }
                                            else
                                            {
                                                if (Model.CondicionCantidad == 2)
                                                {
                                                    <option value="1">Apto</option>
                                                    <option value="2" selected>No apto</option>
                                                }
                                                else
                                                {
                                                    <option selected disabled value="">Selecione...</option>
                                                    <option value="1">Apto</option>
                                                    <option value="2">No apto</option>
                                                }
                                            }
                                        </select>
                                        <div class="valid-feedback">
                                            Valor valido
                                        </div>
                                        <div class="invalid-feedback">
                                            Valor no puede quedar en blanco
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card col-md-6 mb-3">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom04">Envase</label>
                                        <select class="custom-select" multiple id="Envase" name="Envase"
                                                required>
                                            @Html.Raw(Model.Envase);

                                        </select>
                                        <div class="valid-feedback">
                                            Valor valido
                                        </div>
                                        <div class="invalid-feedback">
                                            Valor no puede quedar en blanco
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom04">Condicion</label>
                                        <select class="custom-select" id="CondicionEnvase" name="CondicionEnvase"
                                                required>
                                            @switch (Model.CondicionEnvase)
                                            {
                                                case 1:
                                                    <option value="1" selected> Apto</option>
                                                    <option value="2"> No Apto</option>
                                                    break;
                                                case 2:
                                                    <option value="1">Apto</option>
                                                    <option value="2" selected>No Apto</option>
                                                    break;
                                                default:
                                                    <option selected disabled>Selecione...</option>
                                                    <option value="1">Apto</option>
                                                    <option value="2">No Apto</option>
                                                    break;
                                            }

                                        </select>
                                        <div class="valid-feedback">
                                            Valor valido
                                        </div>
                                        <div class="invalid-feedback">
                                            Valor no puede quedar en blanco
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom04">
                                Muestra dentro del periodo
                                de
                                analisis
                            </label>
                            <select class="custom-select" id="MuestraPeriodo" name="MuestraPeriodo" required>
                                @if (Model.MuestraPeriodo == 1)
                                {
                                    <option value="1" selected>Apto</option>
                                    <option value="2">No apto</option>
                                }
                                else
                                {
                                    if (Model.MuestraPeriodo == 2)
                                    {
                                        <option value="1">Apto</option>
                                        <option value="2" selected>No apto</option>
                                    }
                                    else
                                    {
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Apto</option>
                                        <option value="2">No apto</option>
                                    }
                                }
                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom04">Preservacion</label>
                            <select class="custom-select" id="PreservacionCondicion" name="PreservacionCondicion" required>
                                @if (Model.PreservacionCondicion == 1)
                                {
                                    <option value="1" selected>Apto</option>
                                    <option value="2">No apto</option>
                                }
                                else
                                {
                                    if (Model.PreservacionCondicion == 2)
                                    {
                                        <option value="1">Apto</option>
                                        <option value="2" selected>No apto</option>
                                    }
                                    else
                                    {
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Apto</option>
                                        <option value="2">No apto</option>
                                    }
                                }

                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <p>
                                En caso de incumplimiento de condiciones solicitadas por el laboratorio se realizan los
                                an&aacute;lisis bajo responsabilidad y aceptaci&oacute;n del cliente
                            </p>
                        </div>
                        <div class="col-md-3 mb-3">
                            @if (string.IsNullOrEmpty(Model.FirmaCondicion) | string.IsNullOrWhiteSpace(Model.FirmaCondicion))
                            {
                                <label for="Firma">Agregar firma</label>
                                if (ViewBag.Estado == 4)
                                {
                                    <a href="#" id="Firma" class="form-control btn btn-secondary">
                                        <i class="fas fa-file-signature fa-lg"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Content("../Entradas/firmarSeccionGeneral?IdEntrada="+Model.idEntrada+"&Tipo=2&NumeroEnmienda="+Model.NumeroEnmienda)" id="Firma" class="form-control btn btn-secondary">
                                        <i class="fas fa-file-signature fa-lg"></i>
                                    </a>
                                }

                            }
                            else
                            {
                                <label for="Firma">Firma</label>
                                <img src="data:image/png;base64,@Model.FirmaCondicion">
                                if (ViewBag.Estado == 4)
                                {
                                    <a href="#" id="Firma" class="form-control btn btn-secondary">
                                        <i class="fas fa-file-signature fa-lg"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Content("../Entradas/firmarSeccionGeneral?IdEntrada="+Model.idEntrada+"&Tipo=2&NumeroEnmienda="+Model.NumeroEnmienda)" id="Firma" class="form-control btn btn-secondary">
                                        <i class="fas fa-file-signature fa-lg"></i>
                                    </a>
                                }

                            }


                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" @(ViewBag.Estado == 4 ? "disabled" : "")>Guardar condiciones</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                    Para uso interno del laboratorio
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
             data-parent="#accordionExample">
            <div class="card-body">
                <form class="needs-validation" novalidate autocomplete="off" method="post" action="@Url.Content("../Entradas/actUsoInterno?IdEntrada="+Model.idEntrada)">
                    <input type="text" id="NumeroEnmienda" name="NumeroEnmienda"
                           hidden value="@Model.NumeroEnmienda" />
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom04">Muestra recibida por</label>
                            <input type="text" class="form-control" id="MuestraRecibida" name="MuestraRecibida"
                                   required value="@Model.MuestraRecibida" />
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom04">
                                Almacenamiento electronico del informe
                                en
                            </label>
                            <input type="text" class="form-control" id="AlmacenamientoE" name="AlmacenamientoE"
                                   required value="@Model.AlmacenamientoE" />
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom04">Fecha de impresion del informe</label>
                            <input type="date" class="form-control" id="FechaImpresion" name="FechaImpresion"
                                   required value="@Model.FechaImpresion.ToString("yyyy-MM-dd")" />
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <!-- <textarea class="form-control" disabled>El cliente solicita y acepta que en el informe de resultados se coloquen referencias a especificaciones o normativas aplicables</textarea> -->
                            <p>
                                El cliente solicita y acepta que en el informe de resultados se
                                coloquen referencias a especificaciones o normativas aplicables
                            </p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom04">&nbsp;</label>
                            <select class="custom-select" id="DeclaracionCliente" name="DeclaracionCliente" required>
                                @if (Model.DeclaracionCliente == 1)
                                {
                                    <option value="1" selected>Si</option>
                                    <option value="2">No</option>
                                }
                                else
                                {
                                    if (Model.DeclaracionCliente == 2)
                                    {
                                        <option value="1">Si</option>
                                        <option value="2" selected>No</option>
                                    }
                                    else
                                    {
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Si</option>
                                        <option value="2">No</option>
                                    }
                                }
                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="validationCustom04">
                                NoFactura
                            </label>
                            <input type="text" class="form-control" id="NoFactura" name="NoFactura"
                                   required value="@Model.NoFactura" />
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" @(ViewBag.Estado == 4 ? "disabled" : "")>Guardar</button>
                </form>
            </div>
        </div>
    </div>
    @if (TempData["Duplicar"] != null)
    {
        <div class="alert alert-primary" role="alert">
            @TempData["Duplicar"]
        </div>
    }
    <div class="card shadow mb-4">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour">
                    Analisis solicitados
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
             data-parent="#accordionExample">
            <div class="card-body">
                <form class="needs-validation" novalidate autocomplete="off" action="@Url.Content("../Entradas/actFechas")">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <input type="text" id="NumeroEnmienda" name="NumeroEnmienda"
                                   hidden value="@Model.NumeroEnmienda" />
                            <input type="text" hidden name="IdEntrada" id="IdEntrada" value="@Model.idEntrada" />
                            <label for="FechaIngresoLab">Fecha de ingreso al Laboratorio </label>
                            <input type="date" class="form-control" id="FechaIngresoLab" name="FechaIngresoLab" value="@Model.FechaIngresoLab.ToString("yyyy-MM-dd")" required>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="HoraRecibo">Hora de recibo</label>
                            <input type="text" class="form-control" id="HoraRecibo" name="HoraRecibo" value="@Model.HoraRecibo" required placeholder="HH:MM" maxlength="5" pattern="([01][0-9]|2[0-3]):[0-5][0-9]" title="Formato válido: MM:SS (00-23:00-59)">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no v&aacute;lido, ingrese hora:minuto en formato HH:MM 24 horas
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="FechaEntregaI">Fecha de entrega del informe</label>
                            <input type="date" class="form-control" id="FechaEntregaI" name="FechaEntregaI" value="@Model.FechaEntregaI.ToString("yyyy-MM-dd")" required>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" @(ViewBag.Estado == 4 ? "disabled" : "")>Guardar</button>
                </form>
                <br />
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableMuestras" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Numero muestra</th>
                                <th>Identificacion de muestra</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                                <th>Check     <input type="checkbox" id="selectAll" class="form-control-sm" style="margin-left: 5px; vertical-align: middle;" /></th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (SistemaLabMQ.Models.Procedures.sp_getMuestras item in ViewBag.lstMuestras)
                            {
                                <tr>
                                    <td>@item.IdCorrelativoMuestra</td>
                                    <td>@item.IdentificacionMuestra</td>
                                    @switch (item.Estado)
                                    {
                                        case 0:
                                            <td class="text-center">
                                                <span class="btn btn-warning btn-sm">
                                                    <span class="text">En proceso</span>
                                                </span>
                                            </td>

                                            break;
                                        case 1:
                                            <td class="text-center">
                                                <span class="btn btn-success btn-sm">
                                                    <span class="text">Entregado</span>
                                                </span>
                                            </td>
                                            break;
                                        case 2:
                                            <td class="text-center">
                                                <span class="btn btn-danger btn-sm">
                                                    <span class="text">Anulado</span>
                                                </span>
                                            </td>
                                            break;
                                        default:
                                            break;
                                    }

                                    <td class="text-center">
                                        @if (item.Estado != 2)
                                        {
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-danger" @(ViewBag.Estado == 4 ? "disabled" : "") data-toggle="modal"
                                                        data-target="#modalRazonAnulacion" onclick="AnularMuestra(@item.IdCorrelativoMuestra, @Model.NumeroEnmienda)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <a href="@Url.Content("../Entradas/analisisMuestras?IdMuestra="+item.IdCorrelativoMuestra+"&NumeroEnmienda="+Model.NumeroEnmienda)" class="btn btn-primary">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                                <a class="btn btn-success generar-informe" href="../Entradas/GenerarInforme?IdMuestra=@item.IdCorrelativoMuestra&IdEntrada=@item.IdCorrelativoEntrada&NumeroEnmienda=@Model.NumeroEnmienda" role="button">
                                                    <i class="far fa-file-pdf"></i>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <a href="@Url.Content("../Entradas/detallesAnulacion?IdMuestra="+item.IdCorrelativoMuestra+"&NumeroEnmienda="+Model.NumeroEnmienda)" class="btn btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        }

                                    </td>
                                    <td> <input type="checkbox" class="form-control-sm chkInforme" value="@item.IdCorrelativoMuestra"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                    <a name="btnInformeConsolidado" id="btnInformeConsolidado" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="text-white-50"></i> Informe consolidado
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                        aria-controls="collapseFive">
                    Modificaciones
                </button>
            </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
             data-parent="#accordionExample">
            <div class="card-body">
                <form class="needs-validation" novalidate autocomplete="off" method="post" action="@Url.Content("../Entradas/actModificaciones?IdEntrada="+Model.idEntrada)">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <input type="text" id="NumeroEnmienda" name="NumeroEnmienda"
                                   hidden value="@Model.NumeroEnmienda" />
                            <label for="validationCustom04">Anulado</label>
                            <select class="custom-select" id="Anulado" name="Anulado" required>
                                @switch (Model.Anulado)
                                {
                                    case 1:
                                        <option value="1" selected>Si</option>
                                        <option value="2">No</option>
                                        break;
                                    case 2:
                                        <option value="1">Si</option>
                                        <option value="2" selected>No</option>
                                        break;
                                    default:
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Si</option>
                                        <option value="2">No</option>
                                        break;
                                }

                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom04">Via de notificacion</label>
                            <select class="custom-select" id="ViaNotificacion" name="ViaNotificacion" required>
                                @switch (Model.ViaNotificacion)
                                {
                                    case 1:
                                        <option value="1" selected>Personalmente</option>
                                        <option value="2">Tel&eacute;fono</option>
                                        <option value="3">Correo</option>
                                        break;
                                    case 2:
                                        <option value="1">Personalmente</option>
                                        <option value="2" selected>Tel&eacute;fono</option>
                                        <option value="3">Correo</option>
                                        break;
                                    case 3:
                                        <option value="1">Personalmente</option>
                                        <option value="2">Tel&eacute;fono</option>
                                        <option value="3" selected>Correo</option>
                                        break;
                                    default:
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Personalmente</option>
                                        <option value="2">Tel&eacute;fono</option>
                                        <option value="3">Correo</option>
                                        break;
                                }

                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom02">
                                Persona que recibe
                                notificaci&oacute;n
                            </label>
                            <input type="text" class="form-control" id="Persona" name="Persona"
                                   required value="@Model.Persona">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom03">Fecha modificacion</label>
                            <input type="date" class="form-control" id="Fecha" name="Fecha" required
                                   value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label for="validationCustom03">Descripcion</label>
                            <textarea class="form-control" id="Descripcion" name="Descripcion" required>@Model.Descripcion</textarea>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" @(ViewBag.Estado == 4 ? "disabled" : "")>Guardar</button>
                </form>
            </div>
        </div>
    </div>
    @if (ViewBag.lstHistorial != null && ((List<SistemaLabMQ.Models.HistorialEntrada>)ViewBag.lstHistorial).Count > 0)
    {
        <div class="card shadow mb-4">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-light btn-block text-left collapsed" type="button"
                            data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                            aria-controls="collapseSix">
                        Historial de ediciones
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                 data-parent="#accordionExample">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>Justificación</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SistemaLabMQ.Models.HistorialEntrada item in ViewBag.lstHistorial)
                                {
                                    <tr>
                                        <td>@item.CambioRealizado</td>
                                        <td>@item.Usuario</td>
                                        <td>@item.FechaModificacion.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<!--Modal razones de anulacion-->
<div class="modal fade" id="modalRazonAnulacion" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Razones de anulacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate autocomplete="off" method="post" action="@Url.Content("../Entradas/anularMuestra")">
                    <div class="form-row">
                        <input type="number" name="idMuestra" id="idMuestraAnulacion" hidden />
                        <input type="text" name="NumeroEnmienda" id="NumeroEnmienda" value="@Model.NumeroEnmienda" hidden />
                        <input type="text" name="idEntrada" id="idEntrada" value="@Model.idEntrada" hidden />
                        <div class="col-md-6 mb-3">
                            <label for="ViaNotificacion">Via de notificacion</label>
                            <select class="custom-select" id="ViaNotificacion" name="ViaNotificacion" required>
                                <option selected disabled value="">Selecione...</option>
                                <option value="1">Personalmente</option>
                                <option value="2">Tel&eacute;fono</option>
                                <option value="3">Correo</option>
                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Persona">Persona que recibe notificaci&oacute;n</label>
                            <input type="text" class="form-control" id="Persona" name="Persona" required>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="Fecha">Fecha modificacion</label>
                            <input type="text" class="form-control" id="Fecha" name="Fecha" required
                                   value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label for="Descripcion">Descripcion</label>
                            <textarea class="form-control" id="Descripcion" name="Descripcion" required></textarea>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Insertar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="d-sm-flex justify-content-end mb-4">
    <div class="btn-group" role="group" aria-label="Grupo de botones">
        <a href="@Url.Content("../Entradas/Index")" class="btn btn-sm btn-secondary shadow-sm">
            <i class="text-white-50"></i> Regresar
        </a>
        @if (ViewBag.Estado == 4)
        {
            <button type="button"
                    data-target="#modalModificar" data-toggle="modal"
                    class="btn btn-sm btn-primary shadow-sm">
                Modificar
            </button>
        }
        else
        {
            <button type="button"
                    data-url="@Url.Content("../Entradas/GuardarEntrada?IdEntrada=" + Model.idEntrada+"&NumeroEnmienda="+Model.NumeroEnmienda)"
                    name="btnGuardar"
                    id="btnGuardar"
                    class="btn btn-sm btn-primary shadow-sm">
                Guardar
            </button>
        }
    </div>
</div>

<div class="modal fade" id="modalModificar" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="staticBackdropLabel">Editar entrada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info text-center" role="alert">
                    <b>¡Atención!</b> debe ingresar una justiciación para poder editar la entrada.
                </div>

                <form class="needs-validation" novalidate autocomplete="off" action="@Url.Content("../Entradas/JustificacionEditar")">
                    <div class="form-row">
                        <input type="text" hidden name="NumeroEnmienda" id="NumeroEnmienda" value="@Model.NumeroEnmienda" />
                        <input type="text" hidden name="IdEntrada" id="IdEntrada" value="@Model.idEntrada" />
                        <div class="col-md-12 mb-3">
                            <label for="Justificacion">Justificación</label>
                            <textarea class="form-control" id="Justificacion" name="Justificacion" value="" required></textarea>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("Justificacion").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
        }
    });

    $(document).on('click', '.generar-informe', function (e) {
        e.preventDefault(); // Prevenir la redirección automática

        var baseHref = $(this).attr('href'); // Obtener el href del elemento clicado

        // Mostrar SweetAlert para que el usuario seleccione el formato
        Swal.fire({
            title: 'Selecciona el tipo de página',
            html: `
        <div style="text-align: left;">
            <label for="seleccionarAnalisis" class="form-label">Seleccionar analisis por pagina:</label>
            <select id="seleccionarAnalisis" class="form-control">
                <option value="" selected disabled>Seleccione...</option>
                <option value="1">Si</option>
                <option value="0">No</option>
            </select>
            <br>
            <label for="tipoPagina1" class="form-label">Tipo de Página:</label>
            <select id="tipoPagina1" class="form-control">
                <option value="" disabled selected>Seleccione...</option>
                <option value="carta">Carta</option>
                <option value="oficio">Oficio</option>
            </select>
        </div>
    `,
            showCancelButton: true,
            confirmButtonText: 'Generar',
            cancelButtonText: 'Cancelar',
            preConfirm: () => {
                const seleccionarAnalisis = document.getElementById('seleccionarAnalisis').value;
                const tipoPagina = document.getElementById('tipoPagina1').value;

                if (!seleccionarAnalisis || !tipoPagina) {
                    Swal.showValidationMessage('Por favor selecciona ambas opciones');
                }

                return { seleccionarAnalisis, tipoPagina };
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const { seleccionarAnalisis, tipoPagina } = result.value;

                // Agregar el formato seleccionado a la URL base
                var url = baseHref + "&formato=" + tipoPagina+"&seleccionarAnalasis="+seleccionarAnalisis;

                //console.log(url);
                // Redirigir a la URL generada
               window.location.href = url;
            }
        });
    });
    $(document).ready(function () {
        // Inicializar DataTable
        var table = $('#dataTableMuestras').DataTable();

        // Evento para seleccionar/deseleccionar todos los checkboxes
        $('#selectAll').on('change', function () {
            var isChecked = this.checked; // Verifica si el checkbox principal está marcado

            // Usar la API de DataTables para afectar todos los checkboxes
            table.rows().every(function () {
                $(this.node()).find('.chkInforme').prop('checked', isChecked);
            });
        });

        // Evento para desmarcar "selectAll" si un checkbox es desmarcado manualmente
        $('#dataTableMuestras').on('change', '.chkInforme', function () {
            if (!this.checked) {
                $('#selectAll').prop('checked', false); // Desmarcar el checkbox principal
            }
        });
    });
    $(document).ready(function () {
        // Verificar si el DataTable ya está inicializado
        if (!$.fn.DataTable.isDataTable('#dataTableMuestras')) {
            // Inicializar el DataTable con stateSave habilitado
            var table = $('#dataTableMuestras').DataTable({
                stateSave: true, // Habilita el guardado de estado de DataTable
                "order": [[0, "desc"]]
            });

            // Guardar el estado en el sessionStorage antes de que el usuario salga de la página
            window.onbeforeunload = function () {
                var state = table.state();
                sessionStorage.setItem('dataTableMuestraState', JSON.stringify(state));
            };

            // Recuperar el estado almacenado cuando se carga la página
            var savedState = sessionStorage.getItem('dataTableMuestraState');
            if (savedState) {
                table.state.clear(); // Limpiar el estado previo
                table.state(JSON.parse(savedState)); // Aplicar el estado guardado
            }
        }
    });
    $(document).ready(function () {
        $('#btnGuardar').click(function () {
            const url = $(this).data('url');

            Swal.fire({
                title: '¡Atención!',
                text: "Se guardarán todos los datos de la entrada.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Guardar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
        });
    });

    @if (TempData["MensajeAlerta"] != null)
    {
        <text>
            // Mostrar el mensaje como un window.alert
            window.onload = function() {
                //alert('@TempData["MensajeAlerta"]');
                Swal.fire({
                    icon: "warning",
                    title: "Atención",
                    text: "@TempData["MensajeAlerta"]"
                });
            }
        </text>
    }
$("#btnInformeConsolidado").on("click", function () {
    // Desactivar la paginación
    var tabla = $('#dataTableMuestras').DataTable();
    tabla.search('').draw();
    tabla.page.len(-1).draw();

    var idsSeleccionados = [];
    $(".chkInforme:checked").each(function () {
        idsSeleccionados.push($(this).val());
    });

    if (idsSeleccionados.length > 0) {
Swal.fire({
    title: 'Opciones de generación de informe consolidado',
    html: `
        <div style="text-align: left;">
            <label for="formato">Formato:</label>
            <select id="formato" class="swal2-select">
                <option value="" disabled>Seleccione...</option>
                <option value="pdf" selected>PDF</option>
                <option value="word">Word</option>
            </select>
            <br>
            <label for="tipoPagina">Tipo de Página:</label>
            <select id="tipoPagina" class="swal2-select">
                <option value="" disabled selected>Seleccione...</option>
                <option value="carta">Carta</option>
                <option value="oficio">Oficio</option>
            </select>
        </div>
    `,
    showCancelButton: true,
    confirmButtonText: 'Generar Informe',
    cancelButtonText: 'Cancelar',
    preConfirm: () => {
        const formato = document.getElementById('formato').value;
        const tipoPagina = document.getElementById('tipoPagina').value;

        if (!formato || !tipoPagina) {
            Swal.showValidationMessage('Por favor selecciona ambas opciones');
        }

        return { formato, tipoPagina };
    }
}).then((result) => {
    if (result.isConfirmed) {
        const { formato, tipoPagina } = result.value;

        var url = `../Entradas/InformeConsolidado?IdMuestra=${idsSeleccionados}&IdEntrada=${@Model.idEntrada}&NumeroEnmienda=${@Model.NumeroEnmienda}&formato=${formato}&TipoPagina=${tipoPagina}`;

        window.location.href = url;
    }
});

    } else {
        Swal.fire({
            icon: "warning",
            title: "Atención",
            text: "Debe seleccionar una muestra como mínimo"
        });
    }
});

</script>
