﻿@model List<SistemaLabMQ.Models.Procedures.sp_getEntradas>
@{
    ViewBag.Title = "Entradas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center justify-content-between mb-4">
    <!-- Formulario -->
    <form class="needs-validation flex-grow-1" novalidate action="@Url.Content("../Entradas/Inicio")" method="post" autocomplete="off">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Fecha inicio</label>
                <input class="form-control" type="date" id="FechaInicio" name="FechaInicio" max="@DateTime.Now.ToString("yyyy-MM-dd")" required value="@ViewBag.FechaInicio.ToString("yyyy-MM-dd")" />
                <div class="valid-feedback">Valor válido</div>
                <div class="invalid-feedback">Valor no puede quedar en blanco</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Fecha final</label>
                <input class="form-control" type="date" id="FechaFinal" name="FechaFinal" max="@DateTime.Now.ToString("yyyy-MM-dd")" required value="@ViewBag.FechaFinal.ToString("yyyy-MM-dd")" />
                <div class="valid-feedback">Valor válido</div>
                <div class="invalid-feedback">Valor no puede quedar en blanco</div>
            </div>
            <div class="col-md-2 mb-3 d-flex align-items-end">
                <button class="btn btn-primary w-100 h-50" type="submit">Cargar</button>
            </div>
        </div>
    </form>

    <!-- Botón "Ingresar entrada" -->
    <div class="btn-group" role="group" aria-label="Grupo de botones">
        <a data-toggle="modal" data-target="#modalEntrada" class="btn btn-sm btn-primary shadow-sm ml-3">
            <i class="text-white-50"></i>Crear entrada
        </a>

        <a data-toggle="modal" data-target="#modalEnmienda" class="btn btn-sm btn-info shadow-sm ml-3">
            <i class="text-white-50"></i>Crear enmienda
        </a>

    </div>

</div>
<!--Modal crear enmienda-->
<div class="modal fade" id="modalEnmienda" tabindex="-1" role="dialog" aria-labelledby="modalEnmiendaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEnmiendaLabel">Crear enmienda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate action="@Url.Content("../Entradas/CrearEnmienda")" method="post">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="IdEntrada">Correlativo entrada origen</label>
                            <input type="number" class="form-control" id="IdEntrada" name="IdEntrada" min="1"
                                   required>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="Justificacion">Justificación</label>
                            <textarea class="form-control" id="Justificacion" name="Justificacion" value="" required></textarea>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" href="">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--Modal crear entrada-->
<div class="modal fade" id="modalEntrada" tabindex="-1" role="dialog" aria-labelledby="modalEntradaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEntradaLabel">Ingrese cantidad de muestras</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" name="frmAgregarEntrada" id="frmAgregarEntrada" novalidate action="@Url.Content("../Entradas/AgregarEntrada")" method="post">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Cantidad</label>
                            <input type="number" class="form-control" id="CantidadMuestras" name="CantidadMuestras" min="1"
                                   required>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" href="">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--Modal eliminar entrada-->
<div class="modal fade" id="modalEliminarEntrada" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="staticBackdropLabel">¿Está seguro de eliminar la entrada?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning text-center" role="alert">
                    <b>¡Atención!</b> debe ingresar una justiciación para poder eliminar la entrada.<br>
                    Tomar en cuenta que solamente se puede eliminar si es la &uacute;ltima entrada ingresada.
                </div>

                <form class="needs-validation" novalidate autocomplete="off" action="@Url.Content("../Entradas/EliminarEntrada")">
                    <div class="form-row">
                        <input type="text" hidden name="NumeroEnmienda" id="NumeroEnmienda" value="@Model.Where(a => a.IdCorrelativoEntrada == Model.Max(x => x.IdCorrelativoEntrada)).Select(s => s.NumeroEnmienda).FirstOrDefault()" />
                        <input type="text" hidden name="IdEntrada" id="IdEntrada" value="@Model.Select(s => s.IdCorrelativoEntrada).Max()" />
                        <div class="col-md-12 mb-3">
                            <label for="JustificacionEliminarEntrada">Justificación</label>
                            <textarea class="form-control" id="JustificacionEliminarEntrada" name="JustificacionEliminarEntrada" value="" required></textarea>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Entradas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableEntradas" name="dataTableEntradas" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CRR</th>
                        <th>Ingreso</th>
                        <th>Entrega</th>
                        <th>Empresa</th>
                        <th>Muestras</th>
                        <th>Factura</th>
                        <th>Estado</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SistemaLabMQ.Models.Procedures.sp_getEntradas item in Model)
                    {
                        <tr style="@(item.NumeroEnmienda != 0 ? "font-weight:bold;" : "")">
                            <td>@item.IdCorrelativoEntrada@(item.NumeroEnmienda!=0?"-"+item.NumeroEnmienda:"")</td>
                            <td nowrap>@item.FechaIngreso.ToString("dd-MM-yyyy")</td>
                            <td nowrap>@item.FechaEntrega.ToString("dd-MM-yyyy")</td>
                            <td nowrap>@item.Cliente</td>
                            <td>@item.IdMuestras</td>
                            <td>@item.NoFactura</td>
                            <td>
                                @if (@item.FechaEntrega < DateTime.Now.Date && (item.Estado == 0))
                                {

                                    <span class="btn btn-danger btn-icon-split btn-sm">
                                        <span class="text">Vencido</span>
                                    </span>


                                }
                                else
                                {
                                    if (item.Estado == 1)
                                    {
                                        <span class="btn btn-success btn-icon-split btn-sm">
                                            <span class="text">Entregado</span>
                                        </span>
                                    }
                                    else
                                    {
                                        if (item.Estado == 0)
                                        {
                                            if (@item.FechaEntrega == DateTime.Now.Date)
                                            {
                                                <span class="btn btn-primary btn-icon-split btn-sm">
                                                    <span class="text">Resultados del d&iacute;a</span>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="btn btn-warning btn-icon-split btn-sm">
                                                    <span class="text">En proceso</span>
                                                </span>
                                            }

                                        }
                                        else
                                        {
                                            if (item.Estado == 3)
                                            {
                                                <span class="btn btn-danger btn-icon-split btn-sm">
                                                    <span class="text">Anulada</span>
                                                </span>
                                            }
                                            if (item.Estado == 4)
                                            {
                                                <span class="btn btn-info btn-icon-split btn-sm">
                                                    <span class="text">Guardado</span>
                                                </span>
                                            }
                                        }

                                    }
                                }


                            </td>
                            <td class=text-center>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    @if (item.Estado != 3)
                                    {
                                        <a class="btn btn-primary btn-sm" href="@Url.Content("../Entradas/back?IdEntrada="+item.IdCorrelativoEntrada+"&NumeroEnmienda="+item.NumeroEnmienda)" role="button">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <a class="btn btn-secondary btn-sm" href="~/Reportes/Formularios/frmEntradas.aspx?IdEntrada=@item.IdCorrelativoEntrada&&NumeroEnmienda=@item.NumeroEnmienda" role="button">
                                            <i class="far fa-file-pdf"></i>
                                        </a>

                                    }
                                    else
                                    {
                                        <a class="btn btn-danger btn-sm" href="@Url.Content("../Entradas/DetalleAnulacionEntrada?IdEntrada="+item.IdCorrelativoEntrada+"&NumeroEnmienda="+item.NumeroEnmienda)" role="button">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    }
                                </div>

                                @if (item.IdCorrelativoEntrada == Model.Select(s => s.IdCorrelativoEntrada).Max())
                                {
                                    <a class="btn btn-danger btn-sm mt-1" data-target="#modalEliminarEntrada" data-toggle="modal" title="Eliminar entrada">
                                        <i class="fas fa-ban"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    @if (TempData["EliminarEntrada"]!=null)
    {
        <text>
            Swal.fire({
                icon: "warning",
                title: "Atención",
                text: "@TempData["EliminarEntrada"]"
            });
        </text>
    }
    $(document).ready(function () {
        // Verificar si el DataTable ya está inicializado
        if (!$.fn.DataTable.isDataTable('#dataTableEntradas')) {
            // Inicializar el DataTable con stateSave habilitado
            var table = $('#dataTableEntradas').DataTable({
                stateSave: true, // Habilita el guardado de estado de DataTable
                "order": [[0, "desc"]]
            });

            // Guardar el estado en el sessionStorage antes de que el usuario salga de la página
            window.onbeforeunload = function () {
                var state = table.state();
                sessionStorage.setItem('dataTableState', JSON.stringify(state));
            };

            // Recuperar el estado almacenado cuando se carga la página
            var savedState = sessionStorage.getItem('dataTableState');
            if (savedState) {
                table.state.clear(); // Limpiar el estado previo
                table.state(JSON.parse(savedState)); // Aplicar el estado guardado
            }
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        var forms = document.getElementById("frmAgregarEntrada");
        Array.prototype.forEach.call(forms, function (form) {
            form.addEventListener("submit", function (event) {
                var submitButton = form.querySelector("button[type='submit']");
                if (submitButton) {
                    submitButton.disabled = true;
                }
            }, false);
        });
    });
    //$(document).ready(function () {
    //    $('#dataTableEntradas').dataTable({
    //        "order": [[0, "desc"]]
    //    });
    //});
</script>
