﻿@model List<SistemaLabMQ.Models.Firmas>
@{
    ViewBag.Title = "ParametrosInforme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ingresar parametros para generar informe</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../Entradas/Informe")" enctype="multipart/form-data" method="post" autocomplete="off">
            <input type="text" class="form-control" id="IdMuestra" name="IdMuestra" value="@ViewBag.IdMuestra" hidden>
            <input type="text" class="form-control" id="IdEntrada" name="IdEntrada" value="@ViewBag.IdEntrada" hidden>
            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="LeyendaP" class="form-label">Leyenda personalizada:</label>
                    <textarea id="LeyendaP" class="form-control" style="height: 130px;" name="LeyendaP">@ViewBag.paramInforme.LeyendaP</textarea>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="TipoI" class="form-label">Tipo de informe:</label>
                    <select class="custom-select" id="TipoI" name="TipoI" required>
                        @switch (ViewBag.TipoMuestra)
                        {
                            case "1":
                            case "10":
                            case "11":
                            case "12":
                            case "13":
                            case "14":
                            case "15":
                            case "16":
                            case "17":
                            case "18":
                            case "19":
                            case "20":
                            case "21":
                            case "22":
                            case "28":
                                switch (ViewBag.paramInforme.TipoI.ToString())
                                {
                                    case "1":
                                        <optgroup label="Agua potable">
                                            <option value="1" selected>Agua potable 1</option>
                                            <option value="2">Agua potable 2</option>
                                            <option value="3">Agua potable 3</option>
                                        </optgroup>
                                        break;
                                    case "2":
                                        <optgroup label="Agua potable">
                                            <option value="1">Agua potable 1</option>
                                            <option value="2" selected>Agua potable 2</option>
                                            <option value="3">Agua potable 3</option>
                                        </optgroup>
                                        break;
                                    case "3":
                                        <optgroup label="Agua potable">
                                            <option value="1">Agua potable 1</option>
                                            <option value="2">Agua potable 2</option>
                                            <option value="3" selected>Agua potable 3</option>
                                        </optgroup>
                                        break;
                                    default:
                                        <option value="0" selected disabled>Seleccione...</option>
                                        <optgroup label="Agua potable">
                                            <option value="1">Agua potable 1</option>
                                            <option value="2">Agua potable 2</option>
                                            <option value="3">Agua potable 3</option>
                                        </optgroup>
                                        break;
                                }
                                break;
                        }


                        @if (ViewBag.TipoMuestra == "2")
                        {
                            switch (ViewBag.paramInforme.TipoI.ToString())
                            {
                                case "4":
                                    <optgroup label="Agua residual">
                                        <option value="4" selected>Agua residual 1</option>
                                        <option value="5">Agua residual 2</option>
                                        <option value="6">Agua residual 3</option>
                                    </optgroup>
                                    break;
                                case "5":
                                    <optgroup label="Agua residual">
                                        <option value="4">Agua residual 1</option>
                                        <option value="5" selected>Agua residual 2</option>
                                        <option value="6">Agua residual 3</option>
                                    </optgroup>
                                    break;
                                case "6":
                                    <optgroup label="Agua residual">
                                        <option value="4">Agua residual 1</option>
                                        <option value="5">Agua residual 2</option>
                                        <option value="6" selected>Agua residual 3</option>
                                    </optgroup>
                                    break;
                                default:
                                    <option value="0" selected disabled>Seleccione...</option>
                                    <optgroup label="Agua residual">
                                        <option value="4">Agua residual 1</option>
                                        <option value="5">Agua residual 2</option>
                                        <option value="6">Agua residual 3</option>
                                    </optgroup>
                                    break;
                            }
                        }
                        else if (ViewBag.TipoMuestra == "3" || ViewBag.TipoMuestra == "23" || ViewBag.TipoMuestra == "24")
                        {
                            switch (ViewBag.paramInforme.TipoI.ToString())
                            {
                                case "7":
                                    <optgroup label="Alimentos, PT, MP">
                                        <option value="7" selected>Alimentos, PT, MP 1</option>
                                        <option value="8">Alimentos, PT, MP 2</option>
                                        <option value="9">Alimentos, PT, MP 3</option>
                                    </optgroup>
                                    break;
                                case "8":
                                    <optgroup label="Alimentos, PT, MP">
                                        <option value="7">Alimentos, PT, MP 1</option>
                                        <option value="8" selected>Alimentos, PT, MP 2</option>
                                        <option value="9">Alimentos, PT, MP 3</option>
                                    </optgroup>
                                    break;
                                case "9":
                                    <optgroup label="Alimentos, PT, MP">
                                        <option value="7">Alimentos, PT, MP 1</option>
                                        <option value="8">Alimentos, PT, MP 2</option>
                                        <option value="9" selected>Alimentos, PT, MP 3</option>
                                    </optgroup>
                                    break;
                                default:
                                    <option value="0" selected disabled>Seleccione...</option>
                                    <optgroup label="Alimentos, PT, MP">
                                        <option value="7">Alimentos, PT, MP 1</option>
                                        <option value="8">Alimentos, PT, MP 2</option>
                                        <option value="9">Alimentos, PT, MP 3</option>
                                    </optgroup>
                                    break;
                            }
                        }
                        else if (ViewBag.TipoMuestra == "4" || ViewBag.TipoMuestra == "25")
                        {
                            switch (ViewBag.paramInforme.TipoI.ToString())
                            {
                                case "10":
                                    <optgroup label="Hisopado o ambiente">
                                        <option value="10" selected>Hisopado o ambiente 1</option>
                                        <option value="11">Hisopado o ambiente 2</option>
                                    </optgroup>
                                    break;

                                case "11":
                                    <optgroup label="Hisopado o ambiente">
                                        <option value="10">Hisopado o ambiente 1</option>
                                        <option value="11" selected>Hisopado o ambiente 2</option>
                                    </optgroup>
                                    break;
                                default:
                                    <option value="0" selected disabled>Seleccione...</option>
                                    <optgroup label="Hisopado o ambiente">
                                        <option value="10">Hisopado o ambiente 1</option>
                                        <option value="11">Hisopado o ambiente 2</option>
                                    </optgroup>
                                    break;
                            }
                        }
                        else if (ViewBag.TipoMuestra == "5" || ViewBag.TipoMuestra == "26" || ViewBag.TipoMuestra == "29")
                        {
                            switch (ViewBag.paramInforme.TipoI.ToString())
                            {
                                case "12":
                                    <optgroup label="Medicamentos o MP">
                                        <option value="12" selected>Medicamentos o MP 1</option>
                                        <option value="13">Medicamentos o MP 2</option>
                                    </optgroup>
                                    break;
                                case "13":
                                    <optgroup label="Medicamentos o MP">
                                        <option value="12">Medicamentos o MP 1</option>
                                        <option value="13" selected>Medicamentos o MP 2</option>
                                    </optgroup>
                                    break;
                                default:
                                    <option value="0" selected disabled>Seleccione...</option>
                                    <optgroup label="Medicamentos o MP">
                                        <option value="12">Medicamentos o MP 1</option>
                                        <option value="13">Medicamentos o MP 2</option>
                                    </optgroup>
                                    break;
                            }
                        }
                        else if (ViewBag.TipoMuestra == "6")
                        {
                            switch (ViewBag.paramInforme.TipoI.ToString())
                            {
                                case "14":
                                    <optgroup label="Poder bactericida">
                                        <option value="14" selected>Poder bactericida</option>
                                    </optgroup>
                                    break;
                                default:
                                    <option value="0" selected disabled>Seleccione...</option>
                                    <optgroup label="Poder bactericida">
                                        <option value="14">Poder bactericida</option>
                                    </optgroup>
                                    break;
                            }
                        }
                        else if (ViewBag.TipoMuestra == "7")
                        {
                            switch (ViewBag.paramInforme.TipoI.ToString())
                            {
                                case "15":
                                    <optgroup label="Vida util">
                                        <option value="15" selected>Vida util</option>
                                    </optgroup>
                                    break;
                                default:
                                    <option value="0" selected disabled>Seleccione...</option>
                                    <optgroup label="Vida util">
                                        <option value="15">Vida util</option>
                                    </optgroup>
                                    break;
                            }
                        }
                        else if (ViewBag.TipoMuestra == "8" || ViewBag.TipoMuestra == "27")
                        {
                            switch (ViewBag.paramInforme.TipoI.ToString())
                            {
                                case "16":
                                    <optgroup label="Productos o MP">
                                        <option value="16" selected>Chemex 1</option>
                                        <option value="17">Chemex 2</option>
                                    </optgroup>
                                    break;
                                case "17":
                                    <optgroup label="Productos o MP">
                                        <option value="16">Chemex 1</option>
                                        <option value="17" selected>Chemex 2</option>
                                    </optgroup>
                                    break;
                                default:
                                    <option value="0" selected disabled>Seleccione...</option>
                                    <optgroup label="Productos o MP">
                                        <option value="16">Chemex 1</option>
                                        <option value="17">Chemex 2</option>
                                    </optgroup>
                                    break;
                            }
                        }
                        else if (ViewBag.TipoMuestra == "9")
                        {
                            switch (ViewBag.paramInforme.TipoI.ToString())
                            {
                                case "18":
                                    <optgroup label="Suelo">
                                        <option value="18" selected>Suelo</option>
                                    </optgroup>
                                    break;
                                default:
                                    <option value="0" selected disabled>Seleccione...</option>
                                    <optgroup label="Suelo">
                                        <option value="18">Suelo</option>
                                    </optgroup>
                                    break;
                            }
                        }
                    </select>
                    <div class="valid-feedback">Valor válido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>

            </div>

            <div class="form-row">
                @if (ViewBag.TipoMuestra == "5" || ViewBag.TipoMuestra == "26" || ViewBag.TipoMuestra == "29")
                {
                    <div class="col-md-4 mb-3">
                        <label for="Cumple" class="form-label">Cumple:</label>
                        <select class="custom-select" id="Cumple" name="Cumple" required>
                            @switch (ViewBag.paramInforme.Cumple)
                            {
                                case 0:
                                    <option value="0" selected>No</option>
                                    <option value="1">Si</option>
                                    break;
                                case 1:
                                    <option value="0">No</option>
                                    <option value="1" selected>Si</option>
                                    break;
                                default:
                                    <option value="" selected disabled>Seleccione...</option>
                                    <option value="0">No</option>
                                    <option value="1">Si</option>
                                    break;
                            }
                        </select>
                    </div>
                }

                @if (ViewBag.TipoMuestra == "7")
                {
                    <div class="col-md-4 mb-3">
                        <label for="Temperatura" class="form-label">Temperatura:</label>
                        <input type="text" class="form-control" id="Temperatura" name="Temperatura" value="@ViewBag.paramInforme.Temperatura">
                        <div class="valid-feedback">Valor valido</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <a href="javascript:history.back()" class="btn btn-secondary" data-dismiss="modal">Regresar</a>
                <button class="btn btn-primary" type="submit">Generar informe</button>
            </div>
        </form>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Seleccionar firmas</h6>
    </div>
    <div class="card-body">
        @if (ViewBag.lstFirmasMuestra.Count < 2)
        {
            <form class="needs-validation" novalidate action="@Url.Content("../Entradas/AgregarFirmaMuestra")" enctype="multipart/form-data" method="post" autocomplete="off">
                <input type="text" class="form-control" id="IdMuestra" name="IdMuestra" value="@ViewBag.IdMuestra" hidden>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="ValorM" class="form-label">Firma</label>
                        <select class="custom-select" id="Firma" name="Firma" required>
                            <option selected disabled value="">Selecione...</option>
                            @foreach (SistemaLabMQ.Models.Firmas item in Model)
                            {
                                <option value="@item.IdFirma">@item.Nombre</option>
                            }

                        </select>
                        <div class="valid-feedback">Valor valido</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>

                </div>

                <button class="btn btn-primary" type="submit">Agregar</button>


            </form>
        }
        </br>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Firma</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SistemaLabMQ.Models.Procedures.sp_getFirmasMuestra item in ViewBag.lstFirmasMuestra)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td><img src="data:image/png;base64,@item.ImgFirma" width="35%"></td>
                            <td>
                                <a class="btn btn-danger" href="@Url.Content("../Entradas/EliminarFirmaMuestra?IdFirma="+item.IdFirma)" role="button">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("LeyendaP").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
        }
    });
</script>