﻿﻿@model List<SistemaLabMQ.Models.Firmas>
@{
    ViewBag.Title = "ParametrosInformeGenerico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ingresar parametros para generar informe</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../Entradas/InformeGenerico")" enctype="multipart/form-data" method="post" autocomplete="off">
            <input type="text" class="form-control" id="IdMuestra" name="IdMuestra" value="@ViewBag.IdMuestra" hidden>
            <input type="text" class="form-control" id="IdEntrada" name="IdEntrada" value="@ViewBag.IdEntrada" hidden>
            <input type="text" class="form-control" id="IdEntrada" name="NumeroEnmienda" value="@ViewBag.NumeroEnmienda" hidden>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="ValorM" class="form-label">Incluir campo Valor Maximo Admisible</label>
                    <select class="custom-select" id="ValorM" name="ValorM" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="ValorR" class="form-label">Incluir campo Valor Recomendado</label>
                    <select class="custom-select" id="ValorR" name="ValorR" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Imagen" class="form-label">Incluir imagen OHA</label>
                    <select class="custom-select" id="Imagen" name="Imagen" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="EnsayoI" class="form-label">Incluir tabla de ensayo e incertidumbre</label>
                    <select class="custom-select" id="EnsayoI" name="EnsayoI" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="LME1" class="form-label">Incluir la leyenda:</label>
                    <p class="text text-dark">ME: Método de Ensayo Según el Text Standard Methods for Examination of Water and Waste Water 24ND Edition</p>
                    <select class="custom-select" id="LME1" name="LME1" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="LME" class="form-label">Incluir la leyenda:</label>
                    <p class="text text-dark">ME: Método de ensayo por voltamperometría/Metrohm.</p>
                    <select class="custom-select" id="LME" name="LME" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="LCalculoI" class="form-label">Incluir la leyenda:</label>
                    <p class="text text-dark">*Si lo requiere, el cálculo de incertidumbre para los ensayos microbiológicos está disponible en nuestro laboratorio.</p>
                    <select class="custom-select" id="LCalculoI" name="LCalculoI" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="Descripcion" class="form-label">Incluir la leyenda:</label>
                    <p class="text text-dark">* Ensayo acreditado consultar alcance de acreditación en https://sde.gob.hn/oha/ ** Ensayo no acreditado</p>
                    <select class="custom-select" id="EnsayoA" name="EnsayoA" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="LSilice" class="form-label">Incluir la leyenda:</label>
                    <p class="text text-dark">*** Los valores recomendados y máximos para Sílice son tomados del Informe Técnico “Calidad de las aguas potables de consumo público, Zaragoza”</p>
                    <select class="custom-select" id="LSilice" name="LSilice" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="LValoresM" class="form-label">Incluir la leyenda:</label>
                    <p class="text text-dark">Los valores recomendados y máximos admisibles son tomados de “La Norma técnica Nacional para la calidad del agua Potable’’ Republica de Honduras.</p>
                    <select class="custom-select" id="LValoresM" name="LValoresM" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="LValoresR" class="form-label">Incluir la leyenda:</label>
                    <p class="text text-dark">* Los valores de referencia no expresados no son descritos en La Norma Nacional de Agua.</p>
                    <select class="custom-select" id="LValoresR" name="LValoresR" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Salto" class="form-label">Generar un resultado por pagina:</label>
                    <select class="custom-select" id="Salto" name="Salto" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="TipoI" class="form-label">Tipo de informe:</label>
                    <select class="custom-select" id="TipoI" name="TipoI" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Informe normal</option>
                        <option value="2">Informe con concentracion maxima permisible</option>
                        <option value="3">Informe con especificaciones de materia prima</option>
                        <option value="4">Informe con especificaciones de producto terminado</option>
                        <option value="5">Informe con limites</option>
                        <option value="6">Informe con rango de aceptacion</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="LeyendaP" class="form-label">Leyenda personalizada:</label>
                    <textarea id="LeyendaP" class="form-control" style="height: 130px;" name="LeyendaP"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:history.back()" class="btn btn-secondary" data-dismiss="modal">Regresar</a>
                <button class="btn btn-primary" type="submit">Generar informe</button>
            </div>
        </form>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Seleccionar firmas</h6>
    </div>
    <div class="card-body">
        @if (ViewBag.lstFirmasMuestra.Count < 2)
        {
            <form class="needs-validation" novalidate action="@Url.Content("../Entradas/AgregarFirmaMuestra")" enctype="multipart/form-data" method="post" autocomplete="off">
                <input type="text" class="form-control" id="IdMuestra" name="IdMuestra" value="@ViewBag.IdMuestra" hidden>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="ValorM" class="form-label">Firma</label>
                        <select class="custom-select" id="Firma" name="Firma" required>
                            <option selected disabled value="">Selecione...</option>
                            @foreach (SistemaLabMQ.Models.Firmas item in Model)
                            {
                                <option value="@item.IdFirma">@item.Nombre</option>
                            }

                        </select>
                        <div class="valid-feedback">Valor valido</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>

                </div>

                <button class="btn btn-primary" type="submit">Agregar</button>


            </form>
        }
        </br>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Firma</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SistemaLabMQ.Models.Procedures.sp_getFirmasMuestra item in ViewBag.lstFirmasMuestra)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td><img src="data:image/png;base64,@item.ImgFirma" width="35%"></td>
                            <td>
                                <a class="btn btn-danger" href="@Url.Content("../Entradas/EliminarFirmaMuestra?IdFirma="+item.IdFirma)" role="button">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("LeyendaP").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
        }
    });
</script>