﻿@model List<SistemaLabMQ.Models.AnalisisSolicitadoViewModel>
@{
    ViewBag.Title = "Seleccionar Análisis para Informe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex align-items-center">
            @if (ViewBag.IdMuestraMin < ViewBag.IdMuestra)
            {
                <div>
                    <a class="btn btn-light" href="@Url.Content("../Entradas/GenerarInforme?IdMuestra="+(ViewBag.IdMuestra - 1)+"&NumeroEnmienda="+ViewBag.NumeroEnmienda+"&IdEntrada="+ViewBag.IdEntrada+"&formato="+ViewBag.formato+"&seleccionarAnalasis=1")">
                        <i class="fas fa-arrow-left"></i> Atrás
                    </a>
                </div>
            }

        <div class="flex-fill text-center">
            <h6 class="m-0 font-weight-bold text-primary">
                Seleccionar an&aacute;lisis para informe @ViewBag.IdMuestra | CRR: @ViewBag.IdEntrada
                @Html.Raw(ViewBag.NumeroEnmienda != 0 ? $"| Enmienda N<sup>o</sup> {ViewBag.NumeroEnmienda}" : "")
            </h6>
        </div>
            <div>
                <a class="btn btn-light" href="@Url.Content("../Entradas/back?IdEntrada="+ViewBag.IdEntrada+"&NumeroEnmienda="+ViewBag.NumeroEnmienda)">
                    <i class="fas fa-home"></i>
                </a>
            </div>

            @if (ViewBag.IdMuestra < ViewBag.IdMuestraMax)
            {
                <div>
                    <a class="btn btn-light" href="@Url.Content("../Entradas/GenerarInforme?IdMuestra="+(ViewBag.IdMuestra + 1)+"&NumeroEnmienda="+ViewBag.NumeroEnmienda+"&IdEntrada="+ViewBag.IdEntrada+"&formato="+ViewBag.formato+"&seleccionarAnalasis=1")">
                        Siguiente <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="row">
                <!-- Lista de análisis disponibles -->
                <div class="col-md-4">
                    <h4>An&aacute;lisis disponibles</h4>
                    <div id="analisis-disponibles" class="group-container">
                        @foreach (SistemaLabMQ.Models.AnalisisSolicitadoViewModel item in Model)
                        {
                            <div class="draggable-item" data-id="@item.IdAnalisisSolicitados">
                                <strong>@item.Analisis.Analisis1</strong>&nbsp;<small>@item.Metodo</small>
                            </div>
                        }
                    </div>
                </div>

                <!-- Grupos dinámicos -->
                <div class="col-md-8">
                    <h4>Grupos de an&aacute;lisis</h4>
                    <div id="grupos">
                        @if (ViewBag.lstGruposAnalisis != null)
                        {
                            if (ViewBag.lstGruposAnalisis.Count > 0)
                            {
                                foreach (SistemaLabMQ.Models.Dto.listGruposAnalisisInformeDto item in ViewBag.lstGruposAnalisis)
                                {
                                    <div class="group-container" id="grupo" data-id-row="@item.IdRow">
                                        <p class="text-muted">Arrastra aquí los análisis</p>
                                        @foreach (SistemaLabMQ.Models.Dto.GruposAnalisisInformeDto item2 in item.GruposAnalisisInformeDto)
                                        {
                                            <div class="draggable-item" data-id="@item2.IdAnalisisSolicitados" data-id-row="@item.IdRow">
                                                <strong>@item2.Analisis</strong>&nbsp;<small>@item2.Metodo</small>
                                            </div>
                                        }
                                    </div>
                                }

                            }
                        }
                    </div>
                    @if (ViewBag.lstGruposAnalisis == null)
                    {
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <button id="agregar-grupo" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">Agregar grupo</button>
                        </div>
                    }

                </div>
            </div>
        </div>

        <br>
        <div class="btn-group align-items-center justify-content-between mb-4" role="group" aria-label="Basic example">
            <a href="@Url.Content("../Entradas/back?IdEntrada="+ViewBag.IdEntrada+"&NumeroEnmienda="+ViewBag.NumeroEnmienda)" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
                <i class="text-white-50"></i> Regresar
            </a>
            <button id="generar-informe" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Generar Informe</button>
            @if (ViewBag.lstGruposAnalisis != null)
            {
                if (!ViewBag.DemasMuestrasConGrupos)
                {
                    <a href="@Url.Content("../Entradas/DuplicarSeleccionGrupoAnalisis?IdMuestra="+ViewBag.IdMuestra+"&IdEntrada="+ViewBag.IdEntrada+"&NumeroEnmienda="+ViewBag.NumeroEnmienda+"&formato="+ViewBag.Formato)" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
                        Duplicar a las demás muestras
                    </a>
                }

                <a class="btn btn-danger btn-sm" data-target="#modalEliminarAnalisis" data-toggle="modal">
                    Eliminar grupo
                </a>

            }
        </div>


    </div>
</div>
<div class="modal fade" id="modalEliminarAnalisis" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="staticBackdropLabel">Eliminar grupos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label" for="EliminarTodos">Eliminar para todas las muestras:</label>
                        <input type="checkbox" class="form-check-inline" id="EliminarTodos" name="EliminarTodos" value="1">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger" id="btnEliminar" name="btnEliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
<script>

    @if (TempData["Error"] != null)
    {
        <text>
            window.onload = function() {
                Swal.fire({
                    icon: "warning",
                    title: "Atención",
                    text: "@TempData["Error"]"
                });
    }
        </text>
    }
    @if (TempData["Exitoso"]!=null)
                {
                <text>
            window.onload = function() {
                Swal.fire({
                    icon: "success",
                    title: "Exitoso",
                    text: "Se duplicó selección de análisis a las demás muestras."
                });
    }
        </text>
                }
                document.addEventListener("DOMContentLoaded", () => {
                // Inicializar SortableJS para las listas
                new Sortable(document.getElementById("analisis-disponibles"), {
            group: "shared",
            animation: 150
        });

                const grupos = document.querySelectorAll(".group-container");
                grupos.forEach(grupo => {
                new Sortable(grupo, {
                group: "shared",
                animation: 150
            });
            });


                                @if (ViewBag.lstGruposAnalisis == null)
                                    {  <text>
                                        // Agregar nuevos grupos dinámicamente
                                        document.getElementById("agregar-grupo").addEventListener("click", () => {
                                        const gruposContainer = document.getElementById("grupos");
                                        const nuevoGrupo = document.createElement("div");
                                        nuevoGrupo.setAttribute("data-id-row", "0");
                                        nuevoGrupo.className = "group-container";
                                        nuevoGrupo.innerHTML = '<p class="text-muted">Arrastra aquí los análisis</p>';
                                        gruposContainer.appendChild(nuevoGrupo);
                                        new Sortable(nuevoGrupo, {
                group: "shared",
                animation: 150
            });
                                        });
                                      </text>
                                }

        // Enviar datos al servidor
document.getElementById("generar-informe").addEventListener("click", () => {
                const grupos = document.querySelectorAll(".group-container");
                const datos = Array.from(grupos).map(grupo => {
                // Se obtiene el IdRow del atributo data-id-row del contenedor
                const idRow = grupo.getAttribute("data-id-row");

                // Se mapea cada item del grupo a un objeto con las propiedades deseadas
                const analisis = Array.from(grupo.querySelectorAll(".draggable-item")).map(item => ({
                    IdAnalisisSolicitados: parseInt(item.getAttribute("data-id")),
            Analisis: item.querySelector("strong") ? item.querySelector("strong").innerText : "",
            Metodo: item.querySelector("small") ? item.querySelector("small").innerText : ""
                }));

                return {
                    IdRow: parseInt(idRow),
            GruposAnalisisInformeDto: analisis
                };
            });

    const formData = new FormData();
            formData.append("IdMuestra", "@ViewBag.IdMuestra");
    formData.append("Formato", "@ViewBag.Formato");
    formData.append("NumeroEnmienda", "@ViewBag.NumeroEnmienda");
    formData.append("Datos", JSON.stringify(datos));

    // Enviar datos al servidor
    fetch("/Entradas/GenerarInformeSeleccionAnalisis", {
                method: "POST",
        body: formData
    })
    .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Error al generar el informe.");
                }
            })
    .then(data => {
                if (data.success) {
                    window.location.href = data.redirectUrl;
                } else {
                    throw new Error("Error al procesar los datos.");
                }
            })
    .catch(error => {
        console.error("Error:", error);
        alert("Hubo un error al generar el informe.");
        });
});


                });

                $(document).ready(function(){
    $('#btnEliminar').on('click', function(e){
        e.preventDefault();

        // Obtener el valor del checkbox: 1 si está marcado, 0 en caso contrario
        var eliminarTodos = $('#EliminarTodos').is(':checked') ? 1 : 0;

        // Asumiendo que estos valores se pasan desde el servidor (ViewBag)
        var idMuestra = '@ViewBag.IdMuestra';
        var idEntrada = '@ViewBag.IdEntrada';
        var numeroEnmienda = '@ViewBag.NumeroEnmienda';

        // Llamada AJAX al método del controlador
        $.ajax({
            url: '/Entradas/EliminarGrupoSeleccionarAnalisis',
            type: 'POST',
            data: {
                IdMuestra: idMuestra,
                IdEntrada: idEntrada,
                NumeroEnmienda: numeroEnmienda,
                EliminarTodos: eliminarTodos
            },
            success: function(response){
                if(response.success){
                    // Mostrar mensaje con SweetAlert2 y recargar la página
                    Swal.fire({
                        icon: 'success',
                        title: 'Eliminado',
                        text: 'Se eliminó correctamente',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if(result.isConfirmed){
                            location.reload();
                        }
                    });
                }
            },
            error: function(xhr, status, error){
                // Manejo de errores opcional
                console.error("Error:", error);
            }
        });
    });
});
</script>

<style>
    .group-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        min-height: 100px;
    }

    .draggable-item {
        padding: 10px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 4px;
        margin-bottom: 5px;
        cursor: grab;
    }
</style>
