﻿@model List<SistemaLabMQ.Models.Usuarios>
@{
    ViewBag.Title = "ActualizarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Contrasena"] != null)
{
    <div class="alert alert-danger" role="alert">
        La contraseña debe cumplir con lo siguiente: <br>Incluya al menos: <br>Al menos 8 caracteres. <br>Una letra minúscula. <br>Una letra mayúscula. <br>Un número. <br>Un carácter especial de la lista permitida("$!% *? &).
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString();
    </div>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Roles</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../Usuarios/ActualizarUsuario")" enctype="multipart/form-data" method="post" autocomplete="off">
            @foreach (SistemaLabMQ.Models.Usuarios item in Model)
            {
                <input type="text" class="form-control" id="IdUsuario" name="IdUsuario" value="@item.IdRow" hidden>

                <div class="form-row">
                    <div class="col-md-8 mb-3">
                        <label for="Usuario" class="form-label">Usuario:</label>
                        <input type="text" class="form-control" id="Usuario" name="Usuario" value="@item.Usuarios1" required>
                        <div class="valid-feedback"> Valor correcto</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Rol" class="form-label">Rol:</label>
                        <select class="custom-select" id="idRol" name="idRol" required>
                            @foreach (SistemaLabMQ.Models.Roles item2 in ViewBag.Roles)
                            {
                                if (item.IdRol == item2.IdRol)
                                {
                                    <option value="@item2.IdRol" selected>@item2.Rol</option>
                                }
                                else
                                {
                                    <option value="@item2.IdRol">@item2.Rol</option>
                                }

                            }

                        </select>
                        <div class="valid-feedback"> Valor correcto</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-8 mb-3">
                        <label for="Contrasena" class="form-label">Contraseña:</label>
                        <input type="text" class="form-control" id="Contrasena" name="Contrasena">
                        <div class="valid-feedback"> Valor correcto</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom04">Estado</label>
                        <select class="custom-select" id="Estado" name="Estado" required>
                            @if (item.Estado == 1)
                            {
                                <option value="1" selected>Activo</option>
                                <option value="0">Inactivo</option>
                            }
                            else
                            {
                                <option value="1">Activo</option>
                                <option value="0" selected>Inactivo</option>
                            }

                        </select>
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor no puede quedar en blanco
                        </div>
                    </div>
                </div>
            }
            <div class="modal-footer">
                <a href="@Url.Content("../Usuarios/Index")" class="btn btn-secondary" data-dismiss="modal">Atras</a>
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>
