﻿@model List<SistemaLabMQ.Models.Usuarios>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Mensaje"] != null)
{
    if (TempData["Mensaje"].ToString() == "1")
    {
        <div class="alert alert-primary" role="alert">
            Se ha insertado un nuevo usuario
        </div>
    }
    else
    {
        if (TempData["Mensaje"].ToString() == "2")
        {
            <div class="alert alert-danger" role="alert">
                Error al insertar nuevo usuario
            </div>
        }
        if (TempData["Mensaje"].ToString() == "3")
        {
            <div class="alert alert-primary" role="alert">
                Se ha actualizado el usuario con exito
            </div>
        }
        if (TempData["Mensaje"].ToString() == "4")
        {
            <div class="alert alert-danger" role="alert">
                Error al actualizar usuario
            </div>
        }
    }
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString();
    </div>
}
@if (TempData["Contrasena"] != null)
{
    <div class="alert alert-danger" role="alert">
        La contraseña debe cumplir con lo siguiente: <br>Incluya al menos: <br>Al menos 8 caracteres. <br>Una letra minúscula. <br>Una letra mayúscula. <br>Un número. <br>Un carácter especial de la lista permitida("$!% *? &).
    </div>
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
    <a data-toggle="modal" data-target="#exampleModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="text-white-50"></i> Nuevo usuario
    </a>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingrese nuevo usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate action="@Url.Content("../Usuarios/NuevoUsuario")" enctype="multipart/form-data" method="post" autocomplete="off">
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="Usuario" class="form-label">Usuario:</label>
                            <input type="text" class="form-control" id="Usuario" name="Usuario" required>
                            <div class="valid-feedback"> Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Rol" class="form-label">Rol:</label>
                            <select class="custom-select" id="idRol" name="idRol" required>
                                <option selected disabled value="">Selecione...</option>
                                @foreach (SistemaLabMQ.Models.Roles item in ViewBag.Roles)
                                {
                                    <option value="@item.IdRol">@item.Rol</option>
                                }

                            </select>
                            <div class="valid-feedback"> Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="Contrasena" class="form-label">Contraseña:</label>
                            <input type="text" class="form-control" id="Contrasena" name="Contrasena" required>
                            <div class="valid-feedback"> Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Agregar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Usuarios</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Nombre de Usuario</th>
                        <th>Rol</th>
                        <th>Intentos fallidos inicio de sesi&oacute;n</th>
                        <th>&Uacute;ltimo cambio de contraseña</th>
                        <th>Estado</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SistemaLabMQ.Models.Usuarios item in Model)
                    {
                    <tr>
                        <td>@item.Usuarios1</td>
                        <td>@item.Roles.Rol</td>
                        <td>@item.CantidadIntentosFallidos</td>
                        <td>@item.FechaUltimoCambioContrasena.ToString("dd/MM/yyyy")</td>
                        @{
                            if (item.Estado != 1)
                            {
                                <td>
                                    <span class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">Inactivo</span>
                                    </span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="btn btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">Activo</span>
                                    </span>
                                </td>
                            }
                        }
                        <td><a class="btn btn-primary" href="@Url.Content("../Usuarios/VistaAct?IdUsuario="+item.IdRow)" role="button"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>