﻿@model SistemaLabMQ.Models.Firmas
@{
    ViewBag.Title = "ActualizarFirma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Actualizar firmas</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../Firmas/ActualizarFirma")" enctype="multipart/form-data" method="post" autocomplete="off">
            <input type="text" name="IdFirma" id="IdFirma" hidden value="@Model.IdFirma" />
            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="Nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" required>
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom04">Estado</label>
                    <select class="custom-select" id="Estado" name="Estado" required>
                        @if (Model.Estado == 1)
                        {
                            <option value="1" selected>Activo</option>
                            <option value="0">Inactivo</option>
                        }
                        else
                        {
                            <option value="1">Activo</option>
                            <option value="0" selected>Inactivo</option>
                        }

                    </select>
                    <div class="valid-feedback">
                        Valor valido
                    </div>
                    <div class="invalid-feedback">
                        Valor no puede quedar en blanco
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="Rol" class="form-label">Imagen firma:</label>
                    <input type="file" class="form-control" id="Imagen" name="Imagen" accept="image/png, image/jpeg" required>
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="@Url.Content("../Firmas/Index")" class="btn btn-secondary">Regresar</a>
                <button class="btn btn-primary" type="submit">Agregar</button>
            </div>
        </form>
    </div>
</div>