﻿@model List<SistemaLabMQ.Models.Firmas>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Mensaje"] != null)
{
    if (TempData["Mensaje"].ToString() == "1")
    {
        <div class="alert alert-primary" role="alert">
            Se ha insertado un nueva firma
        </div>
    }
    else
    {
        if (TempData["Mensaje"].ToString() == "2")
        {
            <div class="alert alert-danger" role="alert">
                Error al insertar nueva firma
            </div>
        }
        if (TempData["Mensaje"].ToString() == "3")
        {
            <div class="alert alert-primary" role="alert">
                Se ha actualizado la firma con exito
            </div>
        }
        if (TempData["Mensaje"].ToString() == "4")
        {
            <div class="alert alert-danger" role="alert">
                Error al actualizar firma
            </div>
        }
    }
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString();
    </div>
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
    <a data-toggle="modal" data-target="#exampleModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="text-white-50"></i> Nueva firma
    </a>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingrese nueva firma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate action="@Url.Content("../Firmas/NuevaFirma")" enctype="multipart/form-data" method="post" autocomplete="off">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="Rol" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="Nombre" name="Nombre" required>
                            <div class="valid-feedback"> Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="Rol" class="form-label">Imagen firma:</label>
                            <input type="file" class="form-control" id="Imagen" name="Imagen" accept="image/png, image/jpeg" required>
                            <div class="valid-feedback"> Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Agregar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de firmas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Firma</th>
                        <th>Fecha modificaci&oacute;n</th>
                        <th>Estado</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SistemaLabMQ.Models.Firmas item in Model)
                    {
                    <tr>
                        <td>@item.IdFirma</td>
                        <td>@item.Nombre</td>
                        <td><img src="data:image/png;base64,@item.ImgFirma" width="35%"></td>
                        <td>@item.FechaModificacion.ToString("dd-MM-yyyy")</td>
                        <td>
                            @if (item.Estado != 1)
                            {
                                <span class="btn btn-warning btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Inactivo</span>
                                </span>
                            }
                            else
                            {
                                <span class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Activo</span>
                                </span>
                            }

                        </td>
                        <td>
                                <a class="btn btn-primary" href="@Url.Content("../Firmas/ActualizarFirmasView?IdFirma="+item.IdFirma)" role="button">
                                    <i class="fas fa-plus"></i>
                                </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>