﻿@model List<SistemaLabMQ.Models.Roles>
@{
    ViewBag.Title = "ActualizarRol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Roles</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../Roles/ActualizarRol")" enctype="multipart/form-data" method="post" autocomplete="off">
            <div class="form-row">
                @foreach (SistemaLabMQ.Models.Roles item in Model)
                {
                    <input type="number" id="IdRol"  value="@item.IdRol" name="IdRol" hidden/>
                    <div class="col-md-8 mb-3">
                        <div class="col-md-12">
                            <label for="Rol" class="form-label">Rol:</label>
                            <input type="text" value="@item.Rol" class="form-control" id="Rol" name="Rol" required>
                            <div class="valid-feedback"> Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom04">Estado</label>
                        <select class="custom-select" id="Estado" name="Estado" required>
                            @if (item.Estado == 1)
                            {
                                <option value="1" selected>Activo</option>
                                <option value="0">Inactivo</option>
                            }
                            else
                            {
                                <option value="1">Activo</option>
                                <option value="0" selected>Inactivo</option>
                            }

                        </select>
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor no puede quedar en blanco
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <a href="@Url.Content("../Roles/Index")" class="btn btn-secondary" data-dismiss="modal">Atras</a>
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>
