﻿﻿@model List<SistemaLabMQ.Models.Roles>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Mensaje"] != null)
{
    if (TempData["Mensaje"].ToString() == "1")
    {
        <div class="alert alert-primary" role="alert">
            Se ha insertado un nuevo rol
        </div>
    }
    else
    {
        if (TempData["Mensaje"].ToString() == "2")
        {
            <div class="alert alert-danger" role="alert">
                Error al insertar nuevo rol
            </div>
        }
        if (TempData["Mensaje"].ToString() == "3")
        {
            <div class="alert alert-primary" role="alert">
                Se ha actualizado el rol con exito
            </div>
        }
        if (TempData["Mensaje"].ToString() == "4")
        {
            <div class="alert alert-danger" role="alert">
                Error al actualizar rol
            </div>
        }
    }
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString();
    </div>
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
    <a data-toggle="modal" data-target="#exampleModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="text-white-50"></i> Nuevo Rol
    </a>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingrese nuevo rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate action="@Url.Content("../Roles/NuevoRol")" enctype="multipart/form-data" method="post" autocomplete="off">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="col-md-12">
                                <label for="Rol" class="form-label">Rol:</label>
                                <input type="text" class="form-control" id="Rol" name="Rol" required>
                                <div class="valid-feedback"> Valor correcto</div>
                                <div class="invalid-feedback">Campo requerido</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Agregar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Roles</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>IdRol</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SistemaLabMQ.Models.Roles item in Model)
                    {
                        <tr>
                            <td>@item.IdRol</td>
                            <td>@item.Rol</td>
                            @{
                                if (item.Estado != 1)
                                {
                                    <td>
                                        <span class="btn btn-warning btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span class="text">Inactivo</span>
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="btn btn-success btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span class="text">Activo</span>
                                        </span>
                                    </td>
                                }
                            }

                            <td><a class="btn btn-primary" href="@Url.Content("../Roles/ActualizarRolView?IdRol="+item.IdRol)" role="button"><i class="fas fa-plus"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>