﻿@model List<SistemaLabMQ.Models.Permisos>
@{
    ViewBag.Title = "ActualizarPermisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Permisos</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../Permisos/ActualizarPermiso")" enctype="multipart/form-data" method="post" autocomplete="off">
            @foreach (SistemaLabMQ.Models.Permisos item in Model)
            {
                <input type="text" class="form-control" id="IdPermiso" name="IdPermiso" value="@item.IdRow" hidden>

                <div class="form-row">
                    <div class="col-md-8 mb-3">
                        <label for="Pantalla" class="form-label">Pantalla:</label>
                        <input type="text" class="form-control" id="Pantalla" name="Pantalla" value="@item.Pantalla" required>
                        <div class="valid-feedback"> Valor correcto</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Rol" class="form-label">Rol:</label>
                        <select class="custom-select" id="idRol" name="idRol" required>
                            @foreach (SistemaLabMQ.Models.Roles item2 in ViewBag.Roles)
                            {
                                if (item.IdRol == item2.IdRol)
                                {
                                    <option value="@item2.IdRol" selected>@item2.Rol</option>
                                }
                                else
                                {
                                    <option value="@item2.IdRol">@item2.Rol</option>
                                }

                            }

                        </select>
                        <div class="valid-feedback"> Valor correcto</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-8 mb-3">
                        <label for="URL" class="form-label">URL:</label>
                        <textarea class="form-control" id="Url" name="Url" required>@item.Url</textarea>
                        <div class="valid-feedback"> Valor correcto</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom04">Estado</label>
                        <select class="custom-select" id="Estado" name="Estado" required>
                            @if (item.Estado == 1)
                            {
                                <option value="1" selected>Activo</option>
                                <option value="0">Inactivo</option>
                            }
                            else
                            {
                                <option value="1">Activo</option>
                                <option value="0" selected>Inactivo</option>
                            }

                        </select>
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor no puede quedar en blanco
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="Orden" class="form-label">Orden</label>
                        <input type="number" min="0" class="form-control" id="Orden" name="Orden" value="@item.Orden" required>
                        <div class="valid-feedback"> Valor correcto</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>
                </div>
            }
            <div class="modal-footer">
                <a href="@Url.Content("../Permisos/Index")" class="btn btn-secondary" data-dismiss="modal">Atras</a>
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>