﻿@model List<SistemaLabMQ.Models.Procedures.sp_rptBitacora>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center justify-content-between mb-4">
    <!-- Formulario -->
    <form class="needs-validation flex-grow-1" novalidate action="@Url.Content("../Bitacora/Inicio")" method="post" autocomplete="off">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Fecha inicio</label>
                <input class="form-control" type="date" id="FechaInicio" name="FechaInicio" max="@DateTime.Now.ToString("yyyy-MM-dd")" required value="@ViewBag.FechaInicio.ToString("yyyy-MM-dd")" />
                <div class="valid-feedback">Valor válido</div>
                <div class="invalid-feedback">Valor no puede quedar en blanco</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Fecha final</label>
                <input class="form-control" type="date" id="FechaFinal" name="FechaFinal" max="@DateTime.Now.ToString("yyyy-MM-dd")" required value="@ViewBag.FechaFinal.ToString("yyyy-MM-dd")" />
                <div class="valid-feedback">Valor válido</div>
                <div class="invalid-feedback">Valor no puede quedar en blanco</div>
            </div>
            <div class="col-md-2 mb-3 d-flex align-items-end">
                <button class="btn btn-primary w-100" type="submit">Cargar datos</button>
            </div>
        </div>
    </form>

    <a href="@Url.Content("../Bitacora/GenerarInforme?FechaInicio=&&FechaFinal=")" class="btn btn-sm btn-primary shadow-sm ml-3" id="generarReporteBtn">
        <i class="text-white-50"></i>Generar reporte
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Bitacora</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th></th> <!-- Columna para control de expansión -->
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>FechaHora</th>
                        <th>Modulo</th>
                        <th>Accion</th>
                        <th>IP</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-detalles="@item.Detalles">
                            <!-- Detalles almacenados como atributo -->
                            <td class="details-control"></td>
                            <td>@item.IdBitacora</td>
                            <td>@item.Usuario</td>
                            <td>@item.FechaHora</td>
                            <td>@item.Modulo</td>
                            <td>@item.Accion</td>
                            <td>@item.IP</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<style>
    td.details-control {
        background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
    }
</style>

<script type="text/javascript">
        $(document).ready(function () {
        // Inicializar DataTable
        var table = $('#dataTable').DataTable({
            responsive: true,
        columnDefs: [
        {orderable: false, targets: 0 }, // Desactivar ordenación en la columna de control
        ],
        order: [[1, 'desc']] // Ordenar por la columna "Id" (índice 1) en orden descendente
        });

        // Función para generar los detalles
        function format(detalles) {
            return `
            <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
                <tr>
                    <td><strong>Detalles:</strong></td>
                    <td>${detalles}</td>
                </tr>
            </table>`;
        }

        // Evento click para mostrar/ocultar detalles
        $('#dataTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
        var row = table.row(tr);

        if (row.child.isShown()) {
            // Cerrar fila expandida
            row.child.hide();
        tr.removeClass('shown');
            } else {
                // Abrir fila expandida con datos
                var detalles = tr.data('detalles'); // Obtener el atributo data-detalles
        row.child(format(detalles)).show();
        tr.addClass('shown');
            }
        });
        });

        document.addEventListener('DOMContentLoaded', function () {
        const fechaInicioInput = document.getElementById('FechaInicio');
        const fechaFinalInput = document.getElementById('FechaFinal');
        const generarReporteBtn = document.getElementById('generarReporteBtn');

        function actualizarEnlace() {
            const fechaInicio = fechaInicioInput.value;
            const fechaFinal = fechaFinalInput.value;
            const baseUrl = "@Url.Content("../Bitacora/GenerarInforme")";
            generarReporteBtn.href = `${baseUrl}?FechaInicio=${encodeURIComponent(fechaInicio)}&FechaFinal=${encodeURIComponent(fechaFinal)}`;
        }

        fechaInicioInput.addEventListener('change', actualizarEnlace);
        fechaFinalInput.addEventListener('change', actualizarEnlace);

        // Inicializar el enlace al cargar la página
        actualizarEnlace();
    });
</script>


