﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LabMQ - Cambio contraseña</title>
    <link href="~/img/mq_logo.ico" rel="shortcut icon" />
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    @Styles.Render("~/vendor/fontawesome-free/css/all.min.css")
    @Styles.Render("~/css/sb-admin-2.min.css")
    @Scripts.Render("~/Scripts/jquery/jquery.min.js")
    @Scripts.Render("~/Scripts/jquery-easing/jquery.easing.min.js")
    @Scripts.Render("~/Scripts/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/datatables/dataTables.bootstrap4.min.js")

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        @if (TempData["Error"] != null)
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                @TempData["Error"]
                                            </div>
                                        }
                                        @if (TempData["Contrasena"] != null)
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                La contraseña debe cumplir con lo siguiente: <br>Incluya al menos: <br>Al menos 8 caracteres. <br>Una letra minúscula. <br>Una letra mayúscula. <br>Un número. <br>Un carácter especial de la lista permitida("$!% *? &).
                                            </div>
                                        }
                                        <h1 class="h4 text-gray-900 mb-4">Laboratorio MQ</h1>
                                    </div>
                                    <form class="user needs-validation" action="@Url.Content("../Login/CambiarContrasena")" method="post" autocomplete="off" novalidate>
                                        <input type="text" class="form-control" id="IdUsuario" name="IdUsuario" value="@ViewBag.IdUsuario" hidden>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   id="ContrasenaActual" name="ContrasenaActual"
                                                   placeholder="Contraseña actual" required>
                                            <div class="valid-feedback"> Valor correcto</div>
                                            <div class="invalid-feedback">Campo requerido</div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="NuevaContrasena" name="NuevaContrasena" placeholder="Nueva contraseña" required>
                                            <div class="valid-feedback"> Valor correcto</div>
                                            <div class="invalid-feedback">Campo requerido</div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="RepetirNuevaContrasena" name="RepetirNuevaContrasena" placeholder="Repetir nueva contraseña" required>
                                            <div class="valid-feedback"> Valor correcto</div>
                                            <div class="invalid-feedback">Campo requerido</div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Cambiar</button>
                                        <div>&nbsp;</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    @Scripts.Render("~/Scripts/jquery/jquery.min.js")
    @Scripts.Render("~/Scripts/bootstrap/js/bootstrap.bundle.min.js")
    <!-- Core plugin JavaScript-->
    @Scripts.Render("~/Scripts/jquery-easing/jquery.easing.min.js")
    <!-- Custom scripts for all pages-->
    @Scripts.Render("~/Scripts/js/sb-admin-2.min.js")

    <script>

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>
    @Scripts.Render("~/Scripts/bootstrap/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/Scripts/js/sb-admin-2.min.js")

    
</body>

</html>