﻿@{
    ViewBag.Title = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bienvenido</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Analisis pendientes
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@TempData["AnalisisPendientes"]</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Analisis realizados en el mes - @DateTime.Now.ToString("MMMM").ToUpperInvariant()
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@TempData["AnalisisRealizados"]</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Volumen de trabajo
                        </div>
                        <a href="@Url.Content("../VolumenTrabajo/Index")" class="btn btn-light btn-sm">Generar</a>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-chart-pie fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Estadistica de entradas durante el año</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myChart2"></canvas>
                </div>


            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Analisis mas realizados</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-6 pb-4">
                    <canvas id="myChart"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Estadistica de analisis durante el año</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myChart3"></canvas>
                </div>


            </div>
        </div>
    </div>
</div>
<style>
    .chart-area {
        position: relative;
        height: 100%; /* Asegura que el gráfico crezca en proporción */
        width: 100%; /* Se ajusta al ancho del contenedor */
    }

    canvas {
        display: block; /* Asegura que no tenga scroll */
        max-width: 100%; /* Evita que exceda el contenedor */
        height: auto; /* Mantiene las proporciones */
    }
</style>

<script>

    const ctx = document.getElementById('myChart');

    var url = "../Home/AnalisisMasRealizados";

    $.ajax({
        url: url,
        cache: false,
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Analisis mas realizados',
                        data: data.data,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'bottom',
                        },
                        title: {
                            display: false
                        }
                    }
                }
            });
        }
    });

    const ctx2 = document.getElementById('myChart2');

    var url2 = "../Home/EntradasxMes";

    $.ajax({
        url: url2,
        cache: false,
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Cantidad',
                        data: data.data,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'bottom',
                        },
                        title: {
                            display: false,
                            text: (ctx) => 'Point Style: ' + ctx.chart.data.datasets[0].pointStyle,
                        }
                    }
                }
            });
        }
    });

    const ctx3 = document.getElementById('myChart3');

    var url3 = "../Home/AnalisisxMes";

    $.ajax({
        url: url3,
        cache: false,
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Cantidad',
                        data: data.data,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'bottom',
                        },
                        title: {
                            display: false,
                            text: (ctx) => 'Point Style: ' + ctx.chart.data.datasets[0].pointStyle,
                        }
                    }
                }
            });
        }
    });
</script>