﻿
@{
    ViewBag.Title = "ActualizarAnalisisMantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Analisis</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../AnalisisMantenimiento/ActualizarAnalisis")" enctype="multipart/form-data" method="post" autocomplete="off">
            @foreach (SistemaLabMQ.Models.Analisis item in Model)
            {
                <input type="text" class="form-control" id="IdAnalisis" name="IdAnalisis" value="@item.IdAnalisis" hidden>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Análisis</label>
                        <input type="text" class="form-control" id="Analisis" name="Analisis" value="@item.Analisis1" min="1"
                               required oninput="convertirSuperindice(this)">
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Metodo</label>
                        <input type="text" class="form-control" id="Metodo" name="Metodo" value="@item.Metodo" min="1"
                               required oninput="convertirSuperindice(this)">
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="Tipo Analsis" class="form-label">Tipo Analisis:</label>
                        <select class="custom-select" id="IdTipoAnalisis" name="IdTipoAnalisis" required>
                            <option selected disabled value="">Selecione...</option>
                            @foreach (SistemaLabMQ.Models.TiposAnalisis item2 in ViewBag.TipoAnalisis)
                            {
                                if (item.IdTipoAnalisis == item2.IdTipoAnalisis)
                                {
                                    <option value="@item2.IdTipoAnalisis" selected>@item2.TipoAnalisis</option>
                                }
                                else
                                {
                                    <option value="@item2.IdTipoAnalisis">@item2.TipoAnalisis</option>
                                }

                            }

                        </select>
                        <div class="valid-feedback"> Valor correcto</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="validationCustom04">Estado</label>
                        <select class="custom-select" id="Estado" name="Estado" required>
                            @if (item.Estado == 1)
                            {
                                <option value="1" selected>Activo</option>
                                <option value="0">Inactivo</option>
                            }
                            else
                            {
                                <option value="1">Activo</option>
                                <option value="0" selected>Inactivo</option>
                            }

                        </select>
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor no puede quedar en blanco
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="Tipo Analsis" class="form-label">Acreditado</label>
                        <select class="custom-select" id="Acreditado" name="Acreditado" required>
                            <option selected disabled value="">Selecione...</option>
                            @if (item.Acreditado == 1)
                            {
                                <option value="1" selected>Si</option>
                                <option value="0">No</option>
                            }
                            else
                            {
                                <option value="1">Si</option>
                                <option value="0" selected>No</option>
                            }
                        </select>
                        <div class="valid-feedback"> Valor correcto</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="TuboEnsayo" class="form-label">Requiere tubo ensayo</label>
                        <select class="custom-select" id="TuboEnsayo" name="TuboEnsayo" required>
                            <option selected disabled value="">Selecione...</option>
                            @if (item.RequiereTuboEnsayo == 1)
                            {
                                <option value="1" selected>Si</option>
                                <option value="0">No</option>
                            }
                            else
                            {
                                <option value="1">Si</option>
                                <option value="0" selected>No</option>
                            }
                        </select>
                        <div class="valid-feedback"> Valor correcto</div>
                        <div class="invalid-feedback">Campo requerido</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Unidades</label>
                        <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="Unidades" name="Unidades" value="@item.Unidades">
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>

                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Valor m&aacute;ximo admisible</label>
                        <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="ValorM" name="ValorM" value="@item.ValorMaximoAdmisible">
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Valor recomendado</label>
                        <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="ValorR" name="ValorR" value="@item.ValorRecomendado">
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Concentraci&oacute;n m&aacute;xima</label>
                        <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="ConcentracionMaxima" name="ConcentracionMaxima" value="@item.ConcentracionMaxima">
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>

                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Especificaci&oacute;n materia prima</label>
                        <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="EspecificacionMateriaPrima" name="EspecificacionMateriaPrima" value="@item.EspecificacionMateriaPrima">
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Especificaci&oacute;n producto terminado</label>
                        <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="EspecificacionProductoTerminado" name="EspecificacionProductoTerminado" value="@item.EspecificacionProductoTerminado">
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Limites</label>
                        <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="Limites" name="Limites" value="@item.Limites">
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>

                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Rango aceptaci&oacute;n</label>
                        <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="RangoAceptacion" name="RangoAceptacion" value="@item.RangoAceptacion">
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>
                    </div>
                </div>
            }
            <div class="modal-footer">
                <a href="@Url.Content("../AnalisisMantenimiento/Index")" class="btn btn-secondary" data-dismiss="modal">Atras</a>
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function convertirSuperindice(input) {
        let texto = input.value;

        // Reemplazar "^n" con el número `n` en superíndice (Ejemplo: "5^3" a "5³")
        texto = texto.replace(/\^(\d)/g, (_, num) => {
            const superindices = "⁰¹²³⁴⁵⁶⁷⁸⁹";
            return superindices[num] || num;
        });

        // Reemplazar "_n" con el número `n` en subíndice (Ejemplo: "H_2O" a "H₂O")
        texto = texto.replace(/_(\d)/g, (_, num) => {
            const subindices = "₀₁₂₃₄₅₆₇₈₉";
            return subindices[num] || num;
        });

        // Actualizar el campo de texto
        input.value = texto;
    }
</script>