﻿
@{@model List<SistemaLabMQ.Models.Analisis>
ViewBag.Title = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
    <a data-toggle="modal" data-target="#exampleModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="text-white-50"></i> Nuevo Analisis
    </a>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo analisis    </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate action="@Url.Content("../AnalisisMantenimiento/NuevoAnalisis")" enctype="multipart/form-data" method="post" autocomplete="off">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Análisis</label>
                            <input type="text" class="form-control" id="Analisis" name="Analisis" min="1"
                                    required oninput="convertirSuperindice(this)">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Metodo</label>
                            <input type="text" class="form-control" id="Metodo" name="Metodo" min="1"
                                    required oninput="convertirSuperindice(this)">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="Tipo Analsis" class="form-label">Tipo Analisis:</label>
                            <select class="custom-select" id="IdTipoAnalisis" name="IdTipoAnalisis" required>
                                <option selected disabled value="">Selecione...</option>
                                @foreach (SistemaLabMQ.Models.TiposAnalisis item in ViewBag.TipoAnalisis)
                                {
                                    <option value="@item.IdTipoAnalisis">@item.TipoAnalisis</option>
                                }

                            </select>
                            <div class="valid-feedback"> Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Tipo Analsis" class="form-label">Acreditado</label>
                            <select class="custom-select" id="Acreditado" name="Acreditado" required>
                                <option selected disabled value="">Selecione...</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>

                            </select>
                            <div class="valid-feedback"> Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="TuboEnsayo" class="form-label">Requiere tubo ensayo</label>
                            <select class="custom-select" id="TuboEnsayo" name="TuboEnsayo" required>
                                <option selected disabled value="">Selecione...</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>

                            </select>
                            <div class="valid-feedback"> Valor correcto</div>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Unidades</label>
                            <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="Unidades" name="Unidades">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>

                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Valor m&aacute;ximo admisible</label>
                            <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="ValorM" name="ValorM">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Valor recomendado</label>
                            <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="ValorR" name="ValorR">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Concentraci&oacute;n m&aacute;xima</label>
                            <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="ConcentracionMaxima" name="ConcentracionMaxima">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>

                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Especificaci&oacute;n materia prima</label>
                            <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="EspecificacionMateriaPrima" name="EspecificacionMateriaPrima">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Especificaci&oacute;n producto terminado</label>
                            <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="EspecificacionProductoTerminado" name="EspecificacionProductoTerminado">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Limites</label>
                            <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="Limites" name="Limites">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Rango aceptaci&oacute;n</label>
                            <input type="text" class="form-control" oninput="convertirSuperindice(this)" id="RangoAceptacion" name="RangoAceptacion">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" href="">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Analisis</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Análisis</th>
                        <th>Metodo</th>
                        <th>Unidades</th>
                        <th>Tipo de Análisis</th>
                        <th>Valor m&aacute;ximo admisible</th>
                        <th>Valor recomendado</th>
                        <th>Concentracion Maxima</th>
                        <th>Especificacion Materia Prima</th>
                        <th>Especificacion Producto Terminado</th>
                        <th>Limites</th>
                        <th>Rango Aceptacion</th>
                        <th>Acreditado</th>
                        <th>RequiereTuboEnsayo</th>
                        <th>Estado</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody >
                    @foreach (SistemaLabMQ.Models.Analisis item in Model)
                    {
                    <tr>
                        <td>@item.Analisis1</td>
                        <td>@item.Metodo</td>
                        <td>@item.Unidades</td>
                        <td>@item.TiposAnalisis.TipoAnalisis</td>
                        <td>@item.ValorMaximoAdmisible</td>
                        <td>@item.ValorRecomendado</td>
                        <td>@item.ConcentracionMaxima</td>
                        <td>@item.EspecificacionMateriaPrima</td>
                        <td>@item.EspecificacionProductoTerminado</td>
                        <td>@item.Limites</td>
                        <td>@item.RangoAceptacion</td>
                        <td>@(item.Acreditado==1?"Si":"No")</td>
                        <td>@(item.RequiereTuboEnsayo==1?"Si":"No")</td>

                        @{
                            if (item.Estado != 1)
                            {
                                <td>
                                    <span class="btn btn-warning btn-icon-split btn-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">Inactivo</span>
                                    </span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="btn btn-success btn-icon-split btn-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">Activo</span>
                                    </span>
                                </td>
                            }
                        }
                        <td><a class="btn btn-primary" href="@Url.Content("../AnalisisMantenimiento/VistaAct?IdAnalisis="+item.IdAnalisis)" role="button"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function convertirSuperindice(input) {
        let texto = input.value;

        // Reemplazar "^n" con el número `n` en superíndice (Ejemplo: "5^3" a "5³")
        texto = texto.replace(/\^(\d)/g, (_, num) => {
            const superindices = "⁰¹²³⁴⁵⁶⁷⁸⁹";
            return superindices[num] || num;
        });

        // Reemplazar "_n" con el número `n` en subíndice (Ejemplo: "H_2O" a "H₂O")
        texto = texto.replace(/_(\d)/g, (_, num) => {
            const subindices = "₀₁₂₃₄₅₆₇₈₉";
            return subindices[num] || num;
        });

        // Actualizar el campo de texto
        input.value = texto;
    }
</script>