﻿@model  SistemaLabMQ.Models.AnalisisSolicitados
@{
    ViewBag.Title = "AgregarResultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Mensaje"] != null)
{
    if (TempData["Mensaje"].ToString() == "1")
    {
        <div class="alert alert-primary" role="alert">
            Los datos se guardaron con exito
        </div>
    }
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString();
    </div>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Ingresar resultados muestra @ViewBag.IdMuestra
            @Html.Raw(ViewBag.NumeroEnmienda != 0 ? $"| Enmienda N<sup>o</sup> {ViewBag.NumeroEnmienda}" : "")
        </h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../IngresoResultados/registro")" enctype="multipart/form-data" method="post" autocomplete="off">

            <input type="text" class="form-control" id="IdAnalisisSolicitado" name="IdAnalisisSolicitado" value="@Model.IdAnalisisSolicitados" hidden>
            <input type="text" class="form-control" id="IdEntrada" name="IdEntrada" value="@ViewBag.IdEntrada" hidden>
            <input type="text" class="form-control" id="IdMuestra" name="IdMuestra" value="@ViewBag.IdMuestra" hidden>
            <input type="text" class="form-control" id="NumeroEnmienda" name="NumeroEnmienda" value="@ViewBag.NumeroEnmienda" hidden>

            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label for="Resultado" class="form-label">Resultado</label>
                    <textarea class="form-control" id="Resultado" name="Resultado" required oninput="convertirSuperindice(this)">@Model.Resultado</textarea>
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Metodo" class="form-label">Metodo</label>
                    <input class="form-control" type="text" id="Metodo" name="Metodo" value="@Model.Metodo" />
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Fecha" class="form-label">Fecha</label>
                    <input class="form-control" type="date" id="Fecha" name="Fecha" required value="@Model.FechaResultado.ToString("yyyy-MM-dd")" />
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="Unidades" class="form-label">Unidades</label>
                    <input class="form-control" type="text" id="Unidades" name="Unidades" required oninput="convertirSuperindice(this)" value="@Model.Unidades" />
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="ConcentracionMaxima" class="form-label">Concentracion m&aacute;ximo permisible</label>
                    <input class="form-control" type="text" id="ConcentracionMaxima" name="ConcentracionMaxima" value="@Model.ConcentracionMaxima" />
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="EspecificacionMateriaPrima" class="form-label">Especificaciones materia prima</label>
                    <input class="form-control" type="text" id="EspecificacionMateriaPrima" name="EspecificacionMateriaPrima" value="@Model.EspecificacionMateriaPrima" />
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="EspecificacionProductoTerminado" class="form-label">Especificaciones producto terminado</label>
                    <input class="form-control" type="text" id="EspecificacionProductoTerminado" name="EspecificacionProductoTerminado" value="@Model.EspecificacionProductoTerminado" />
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Limites" class="form-label">L&iacute;mites</label>
                    <input class="form-control" type="text" id="Limites" name="Limites" value="@Model.Limites" />
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="RangoAceptacion" class="form-label">Rango de aceptaci&oacute;n</label>
                    <input class="form-control" type="text" id="RangoAceptacion" name="RangoAceptacion" value="@Model.RangoAceptacion" />
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="Incertidumbre" class="form-label">Incertidumbre</label>
                    <input class="form-control" type="text" id="Incertidumbre" name="Incertidumbre" value="@Model.Incertidumbre" />
                    <div class="valid-feedback"> Valor correcto</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="@Url.Content("../Entradas/analisisMuestras?IdMuestra="+Model.IdCorrelativoMuestra+"&&NumeroEnmienda="+ViewBag.NumeroEnmienda)" class="btn btn-secondary" data-dismiss="modal">Regresar</a>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>
<!-- Scripts JavaScript -->
<script type="text/javascript">
    function convertirSuperindice(input) {
        let texto = input.value;

        // Reemplazar "^n" con el número `n` en superíndice (Ejemplo: "5^3" a "5³")
        texto = texto.replace(/\^(\d)/g, (_, num) => {
            const superindices = "⁰¹²³⁴⁵⁶⁷⁸⁹";
            return superindices[num] || num;
        });

        // Reemplazar "_n" con el número `n` en subíndice (Ejemplo: "H_2O" a "H₂O")
        texto = texto.replace(/_(\d)/g, (_, num) => {
            const subindices = "₀₁₂₃₄₅₆₇₈₉";
            return subindices[num] || num;
        });

        // Actualizar el campo de texto
        input.value = texto;
    }

</script>