﻿@model List<SistemaLabMQ.Models.Procedures.sp_getEntradasTecnicos>
@{
    ViewBag.Title = "Entradas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Entradas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableEntradasTecnicos" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CRR</th>
                        <th>Ingreso</th>
                        <th>Entrega</th>
                        <th>Muestras</th>
                        <th>Estado</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SistemaLabMQ.Models.Procedures.sp_getEntradasTecnicos item in Model)
                    {
                        <tr>
                            <td>@item.IdCorrelativoEntrada@(item.NumeroEnmienda!=0?"-"+item.NumeroEnmienda:"")</td>
                            <td nowrap>@item.FechaIngreso.ToString("dd-MM-yyyy")</td>
                            <td nowrap>@item.FechaEntrega.ToString("dd-MM-yyyy")</td>
                            <td>@item.IdMuestras</td>
                            <td>
                                @if (@item.FechaEntrega < DateTime.Now.Date && (item.Estado == 0))
                                {
                                    <span class="btn btn-danger btn-icon-split btn-sm">
                                        <span class="text">Vencido</span>
                                    </span>
                                }
                                else
                                {
                                    if (item.Estado == 1)
                                    {
                                        <span class="btn btn-success btn-icon-split btn-sm">
                                            <span class="text">Entregado</span>
                                        </span>
                                    }
                                    else
                                    {
                                        if (item.Estado == 0)
                                        {
                                            if (@item.FechaEntrega == DateTime.Now.Date)
                                            {
                                                <span class="btn btn-primary btn-icon-split btn-sm">
                                                    <span class="text">Resultados del d&iacute;a</span>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="btn btn-warning btn-icon-split btn-sm">
                                                    <span class="text">En proceso</span>
                                                </span>
                                            }
                                        }
                                        else
                                        {
                                            if (item.Estado == 3)
                                            {
                                                <span class="btn btn-danger btn-icon-split btn-sm">
                                                    <span class="text">Anulada</span>
                                                </span>
                                            }
                                            if (item.Estado == 4)
                                            {
                                                <span class="btn btn-info btn-icon-split btn-sm">
                                                    <span class="text">Guardado</span>
                                                </span>
                                            }
                                        }

                                    }
                                }


                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    @if (item.Estado != 3)
                                    {
                                        <a class="btn btn-primary btn-sm" href="@Url.Content("../IngresoResultados/back?IdEntrada="+item.IdCorrelativoEntrada+"&NumeroEnmienda="+item.NumeroEnmienda)" role="button">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <a class="btn btn-secondary btn-sm" href="~/Reportes/Formularios/frmEntradasTecnico.aspx?IdEntrada=@item.IdCorrelativoEntrada&NumeroEnmienda=@item.NumeroEnmienda" role="button">
                                            <i class="far fa-file-pdf"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger btn-sm" href="@Url.Content("../Entradas/DetalleAnulacionEntrada?IdEntrada="+item.IdCorrelativoEntrada+"&NumeroEnmienda="+item.NumeroEnmienda)" role="button">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    }
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>