﻿
@{
    ViewBag.Title = "RegistroResultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ingresar resultados de anàlisis de muestra</h6>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Tipo de analisis</th>
                        <th>Analisis</th>
                        <th>Unidades</th>
                        <th>Metodo</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.lstAnalisisS)
                    {
                    <tr>
                        <td>@item.Analisis.TiposAnalisis.TipoAnalisis</td>
                        <td>@item.Analisis.Analisis1</td>
                        <td>@item.Analisis.Unidades</td>
                        <td>@item.Analisis.Metodo</td>
                        <td>
                            @if (item.Estado == 0)
                            {
                                <span class="btn btn-warning btn-icon-split btn-sm">
                                    <span class="text">En proceso</span>
                                </span>
                            }
                            else
                            {
                                <span class="btn btn-success btn-icon-split btn-sm">
                                    <span class="text">Entregado</span>
                                </span>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <a href="javascript:history.back()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="text-white-50"></i> Regresar
            </a>
        </div>
    </div>
</div>
<div class="accordion" id="accordionExample">
    <div class="card shadow mb-4">
        <div class="card-header" id="headingSix">
            <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                        aria-controls="collapseSix">
                    Observaciones
                </button>
            </h2>
        </div>

        <div id="collapseSix" class="collapse show" aria-labelledby="headingSix"
             data-parent="#accordionExample">
            <div class="card-body">
                <form class="needs-validation" novalidate>

                    <div class="form-row">

                        <div class="col-md-12 mb-3">
                            <label for="validationCustom04">Observaciones para tecnico</label>
                            <textarea class="form-control" id="ObsTecnico" name="ObsTecnico" readonly>@ViewBag.ObsTecnico</textarea>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>