﻿@model List<SistemaLabMQ.Models.Procedures.sp_getAnalisisSolicitadosParaResultado>

@{
    ViewBag.Title = "ResultadosMasivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
    <a href="@Url.Content("../Entradas/InsertarValoresReferencia?IdMuestra="+ViewBag.IdMuestra+"&&NumeroEnmienda="+ViewBag.NumeroEnmienda)" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="text-white-50"></i> Insertar valores de referencia
    </a>
</div>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong class="copyable">≤</strong>,
    <strong class="copyable">≥</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex align-items-center">
            @if (ViewBag.IdMuestraMin < ViewBag.IdMuestra)
            {
                <div>
                    <a class="btn btn-light" href="@Url.Content("../Entradas/ResultadosMasivos?IdMuestra="+(ViewBag.IdMuestra - 1)+"&NumeroEnmienda="+ViewBag.NumeroEnmienda)">
                        <i class="fas fa-arrow-left"></i> Atrás
                    </a>
                </div>
            }

            <div class="flex-fill text-center">
                <h6 class="m-0 font-weight-bold text-primary">
                    Agregar resultados. @ViewBag.IdMuestra - @ViewBag.TipoMuestraDescripcion | CRR: @ViewBag.IdEntrada
                    @Html.Raw(ViewBag.NumeroEnmienda != 0 ? $"| Enmienda N<sup>o</sup> {ViewBag.NumeroEnmienda}" : "")
                </h6>
            </div>
            <div>
                <a class="btn btn-light" href="@Url.Content("../Entradas/back?IdEntrada="+ViewBag.IdEntrada+"&NumeroEnmienda="+ViewBag.NumeroEnmienda)">
                    <i class="fas fa-home"></i>
                </a>
            </div>

            @if (ViewBag.IdMuestra < ViewBag.IdMuestraMax)
            {
                <div>
                    <a class="btn btn-light" href="@Url.Content("../Entradas/ResultadosMasivos?IdMuestra="+(ViewBag.IdMuestra + 1)+"&NumeroEnmienda="+ViewBag.NumeroEnmienda)">
                        Siguiente <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableAnalisisSolicitados" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Analisis</th>
                        <th>Metodo</th>
                        <th>Resultado</th>
                        <th>Unidades</th>
                        <th>Incetidumbre ±</th>
                        @switch (ViewBag.TipoMuestra)
                        {
                            case "1":
                            case "10":
                            case "11":
                            case "12":
                            case "13":
                            case "14":
                            case "15":
                            case "16":
                            case "17":
                            case "18":
                            case "19":
                            case "20":
                            case "21":
                            case "22":
                            case "28":
                            case "30":
                            case "31":
                            case "34":
                            case "45":
                            case "46":
                                <th>ValoresMaximos</th>
                                <th>ValorRecomendado</th>
                                break;
                            default:
                                break;
                        }

                        @* Columnas adicionales según el valor de TipoMuestras *@
                        @if (ViewBag.TipoMuestra == "2" || ViewBag.TipoMuestra == "42" || ViewBag.TipoMuestra == "43" || ViewBag.TipoMuestra == "47" || ViewBag.TipoMuestra == "48" || ViewBag.TipoMuestra == "49")
                        {<!-- Agua residual -->
                            <th>Concentración Máxima</th>
                        }
                        else if (ViewBag.TipoMuestra == "3" || ViewBag.TipoMuestra == "23" || ViewBag.TipoMuestra == "24" || ViewBag.TipoMuestra == "32")
                        { <!-- Alimentos, PT, MP -->
                            <th>Limites</th>
                        }
                        else if (ViewBag.TipoMuestra == "4" || ViewBag.TipoMuestra == "25" || ViewBag.TipoMuestra == "33" || ViewBag.TipoMuestra == "35" || ViewBag.TipoMuestra == "36" || ViewBag.TipoMuestra == "37" || ViewBag.TipoMuestra == "38" || ViewBag.TipoMuestra == "39" || ViewBag.TipoMuestra == "40" || ViewBag.TipoMuestra == "41")
                        { <!-- Hisopado o ambiente -->
                            <th>Rango</th>
                        }
                        else if (ViewBag.TipoMuestra == "5" || ViewBag.TipoMuestra == "29")
                        { <!-- Medicamentos o MP -->
                            <th>Producto Terminado</th>
                        }
                        else if (ViewBag.TipoMuestra == "26" || ViewBag.TipoMuestra == "44")
                        { <!-- Medicamentos o MP -->
                            <th>Materia prima</th>
                        }
                        else if (ViewBag.TipoMuestra == "8" || ViewBag.TipoMuestra == "27")
                        { <!-- Productos o MP -->
                            <th>Limites</th>
                        }
                        else if (ViewBag.TipoMuestra == "7")
                        { <!-- Vida útil -->
                            <th>Limites</th>
                            <th>Fecha</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Analisis
                                @if (item.RequiereTuboEnsayo == 1)
                                {
                                    <select class="custom-select" data-id="@item.Id" data-field="TipoTubo" required>
                                        @switch (item.TipoTubo)
                                        {
                                            case 3:
                                                <option value="3" selected>3 mL</option>
                                                <option value="5">5 mL</option>
                                                break;
                                            case 5:
                                                <option value="3">3 mL</option>
                                                <option value="5" selected>5 mL</option>
                                                break;
                                            default:
                                                <option selected disabled value="">Selecione tipo tubo...</option>
                                                <option value="3">3 mL</option>
                                                <option value="5">5 mL</option>
                                                break;
                                        }

                                    </select>
                                }
                            </td>

                            <!-- Campos comunes editables -->
                            <td><input type="text" value="@item.Metodo" class="form-control editable" data-id="@item.Id" data-field="Metodo" oninput="convertirSuperindice(this)" /></td>
                            <td><input type="text" value="@item.Resultado" class="form-control editable" data-id="@item.Id" data-field="Resultado" oninput="convertirSuperindice(this)" /></td>
                            <td><input type="text" value="@item.Unidades" class="form-control editable" data-id="@item.Id" data-field="Unidades" oninput="convertirSuperindice(this)" /></td>
                            <td><input type="text" value="@item.Incertidumbre" class="form-control editable" data-id="@item.Id" data-field="Incertidumbre" oninput="convertirSuperindice(this)" /></td>

                            @* Columnas adicionales según el valor de TipoMuestras *@
                            @switch (ViewBag.TipoMuestra)
                            {
                                case "1":
                                case "10":
                                case "11":
                                case "12":
                                case "13":
                                case "14":
                                case "15":
                                case "16":
                                case "17":
                                case "18":
                                case "19":
                                case "20":
                                case "21":
                                case "22":
                                case "28":
                                case "30":
                                case "31":
                                case "34":
                                case "45":
                                case "46":
                                    <td><input type="text" value="@item.ValoresMaximos" class="form-control editable" data-id="@item.Id" data-field="ValoresMaximos" /></td>
                                    <td><input type="text" value="@item.ValorRecomendado" class="form-control editable" data-id="@item.Id" data-field="ValorRecomendado" /></td>
                                    break;
                                default:
                                    break;
                            }
                            @if (ViewBag.TipoMuestra == "2" || ViewBag.TipoMuestra == "42" || ViewBag.TipoMuestra == "43" || ViewBag.TipoMuestra == "47" || ViewBag.TipoMuestra == "48" || ViewBag.TipoMuestra == "49")
                            {
                                <td><input type="text" value="@item.ConcentracionMaxima" class="form-control editable" data-id="@item.Id" data-field="ConcentracionMaxima" oninput="convertirSuperindice(this)" /></td>
                            }
                            else if (ViewBag.TipoMuestra == "3" || ViewBag.TipoMuestra == "23" || ViewBag.TipoMuestra == "24" || ViewBag.TipoMuestra == "32")
                            {
                                <td><input type="text" value="@item.Limites" class="form-control editable" data-id="@item.Id" data-field="Limites" oninput="convertirSuperindice(this)" /></td>
                            }
                            else if (ViewBag.TipoMuestra == "4" || ViewBag.TipoMuestra == "25" || ViewBag.TipoMuestra == "33" || ViewBag.TipoMuestra == "35" || ViewBag.TipoMuestra == "36" || ViewBag.TipoMuestra == "37" || ViewBag.TipoMuestra == "38" || ViewBag.TipoMuestra == "39" || ViewBag.TipoMuestra == "40" || ViewBag.TipoMuestra == "41")
                            {
                                <td><input type="text" value="@item.RangoAceptacion" class="form-control editable" data-id="@item.Id" data-field="RangoAceptacion" oninput="convertirSuperindice(this)" /></td>
                            }
                            else if (ViewBag.TipoMuestra == "5" || ViewBag.TipoMuestra == "29")
                            {
                                <td><input type="text" value="@item.EspecificacionProductoTerminado" class="form-control editable" data-id="@item.Id" data-field="EspecificacionProductoTerminado" oninput="convertirSuperindice(this)" /></td>
                            }
                            else if (ViewBag.TipoMuestra == "26" || ViewBag.TipoMuestra == "44")
                            {
                                <td><input type="text" value="@item.EspecificacionMateriaPrima" class="form-control editable" data-id="@item.Id" data-field="EspecificacionMateriaPrima" oninput="convertirSuperindice(this)" /></td>
                            }
                            else if (ViewBag.TipoMuestra == "8" || ViewBag.TipoMuestra == "27")
                            {
                                <td><input type="text" value="@item.Limites" class="form-control editable" data-id="@item.Id" data-field="Limites" oninput="convertirSuperindice(this)" /></td>
                            }
                            else if (ViewBag.TipoMuestra == "7")
                            {
                                <td><input type="text" value="@item.Limites" class="form-control editable" data-id="@item.Id" data-field="Limites" oninput="convertirSuperindice(this)" /></td>
                                <td><input type="date" value="@item.FechaResultado.ToString("yyyy-MM-dd")" class="form-control editable" data-id="@item.Id" data-field="FechaResultado" /></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="@Url.Content("../Entradas/analisisMuestras?IdMuestra="+ViewBag.IdMuestra+"&&NumeroEnmienda="+ViewBag.NumeroEnmienda)" class="btn btn-secondary" data-dismiss="modal">Regresar</a>
            <button class="btn btn-primary" id="guardar-todos">Guardar</button>
        </div>
    </div>
</div>
<!-- Scripts JavaScript -->
<script type="text/javascript">

    document.querySelectorAll('.copyable').forEach(symbol => {
        symbol.addEventListener('click', function () {
            const textToCopy = this.textContent;

            // Copiar texto al portapapeles
            navigator.clipboard.writeText(textToCopy).then(() => {
                Swal.fire({
                    icon: "info",
                    title: "Atención",
                    text: `Símbolo "${textToCopy}" copiado al portapapeles.`
                });
            }).catch(err => {
                console.error('Error al copiar el texto: ', err);
            });
        });
    });

    $(document).ready(function () {
        $('#dataTableAnalisisSolicitados').dataTable({
           "order": [[1, "asc"]],
            pageLength: 50,
            lengthMenu: [75, 100, 200, 300, 400]
        });
    });

    $(document).ready(function () {
        // Detectar clic en el botón de guardar
        $('.save-btn').click(function () {
            var id = $(this).data('id'); // Obtener el ID del análisis
            var fila = $(this).closest('tr'); // Obtener la fila

            // Crear un objeto con los datos editables de la fila
            var datos = {
                id: id,
                Metodo: fila.find('input[data-field="Metodo"]').val(),
                Resultado: fila.find('input[data-field="Resultado"]').val(),
                Unidades: fila.find('input[data-field="Unidades"]').val(),
                Incertidumbre: fila.find('input[data-field="Incertidumbre"]').val()
            };

            // Condicionales para verificar existencia de campos adicionales
            if (fila.find('input[data-field="ValoresMaximos"]').length) {
                datos.ValoresMaximos = fila.find('input[data-field="ValoresMaximos"]').val();
            }
            if (fila.find('input[data-field="ValorRecomendado"]').length) {
                datos.ValorRecomendado = fila.find('input[data-field="ValorRecomendado"]').val();
            }
            if (fila.find('input[data-field="ConcentracionMaxima"]').length) {
                datos.ConcentracionMaxima = fila.find('input[data-field="ConcentracionMaxima"]').val();
            }
            if (fila.find('input[data-field="EspecificacionProductoTerminado"]').length) {
                datos.EspecificacionProductoTerminado = fila.find('input[data-field="EspecificacionProductoTerminado"]').val();
            }
            if (fila.find('input[data-field="EspecificacionMateriaPrima"]').length) {
                datos.EspecificacionMateriaPrima = fila.find('input[data-field="EspecificacionMateriaPrima"]').val();
            }
            if (fila.find('input[data-field="Limites"]').length) {
                datos.Limites = fila.find('input[data-field="Limites"]').val();
            }
            if (fila.find('input[data-field="RangoAceptacion"]').length) {
                datos.RangoAceptacion = fila.find('input[data-field="RangoAceptacion"]').val();
            }
            if (fila.find('input[data-field="FechaResultado"]').length) {
                datos.FechaResultado = fila.find('input[data-field="FechaResultado"]').val();
            }

            // Llamada Ajax para actualizar los valores en el servidor
            $.ajax({
                url: '@Url.Action("ActualizarAnalisis", "Entradas")',
                type: 'POST',
                data: datos,
                success: function (response) {
                    if (response.success) {
                        alert('Análisis actualizado correctamente');
                    } else {
                        alert('Error al actualizar el análisis');
                    }
                },
                error: function () {
                    alert('Error en la petición');
                }
            });
        });

        $('#guardar-todos').click(function () {

            var valid = true; // Variable para controlar la validación
            var errorMsg = "Por favor, seleccione un valor para TipoTubo en todas las filas requeridas.";

            // Recorrer cada fila de la tabla
            $('#dataTableAnalisisSolicitados tbody tr').each(function () {
                var fila = $(this);
                // Buscar el select para TipoTubo en la fila
                var selectTipoTubo = fila.find('select[data-field="TipoTubo"]');

                // Si existe el select, validar que se haya seleccionado un valor
                if (selectTipoTubo.length > 0) {
                    var valor = selectTipoTubo.val();
                    if (!valor) { // valor vacío o null
                        valid = false;
                        // Marcar visualmente el error (opcional)
                        selectTipoTubo.addClass('is-invalid');
                    } else {
                        // Remover clase de error si ya tiene un valor seleccionado
                        selectTipoTubo.removeClass('is-invalid');
                    }
                }
            });

            if (!valid) {
                Swal.fire({
                    icon: "warning",
                    title: "Atención",
                    text: errorMsg
                });
                return false; // Evitar envío o procesamiento posterior
            }
    var analisisDatos = []; // Crear un arreglo para todos los análisis

    // Recorrer cada fila de la tabla
    $('#dataTableAnalisisSolicitados tbody tr').each(function () {
        var fila = $(this);
        var id = fila.find('input[data-id]').data('id');

        // Crear un objeto con los datos de cada análisis, asegurando que los campos vacíos sean cadenas vacías
        var analisis = {
            id: id,
            Metodo: fila.find('input[data-field="Metodo"]').val() || "", // Valor vacío si null o undefined
            Resultado: fila.find('input[data-field="Resultado"]').val() || "",
            Unidades: fila.find('input[data-field="Unidades"]').val() || "",
            Incertidumbre: fila.find('input[data-field="Incertidumbre"]').val() || "",
            TipoTubo: fila.find('select[data-field="TipoTubo"]').val() || 0
        };

        if (fila.find('input[data-field="ValoresMaximos"]').length) {
            analisis.ValoresMaximos = fila.find('input[data-field="ValoresMaximos"]').val();
        }
        if (fila.find('input[data-field="ValorRecomendado"]').length) {
            analisis.ValorRecomendado = fila.find('input[data-field="ValorRecomendado"]').val();
        }
        if (fila.find('input[data-field="ConcentracionMaxima"]').length) {
            analisis.ConcentracionMaxima = fila.find('input[data-field="ConcentracionMaxima"]').val() || "";
        }
        if (fila.find('input[data-field="EspecificacionProductoTerminado"]').length) {
            analisis.EspecificacionProductoTerminado = fila.find('input[data-field="EspecificacionProductoTerminado"]').val() || "";
        }
        if (fila.find('input[data-field="EspecificacionMateriaPrima"]').length) {
            analisis.EspecificacionMateriaPrima = fila.find('input[data-field="EspecificacionMateriaPrima"]').val() || "";
        }
        if (fila.find('input[data-field="Limites"]').length) {
            analisis.Limites = fila.find('input[data-field="Limites"]').val() || "";
        }
        if (fila.find('input[data-field="RangoAceptacion"]').length) {
            analisis.RangoAceptacion = fila.find('input[data-field="RangoAceptacion"]').val() || "";
        }
        if (fila.find('input[data-field="FechaResultado"]').length) {
            analisis.FechaResultado = fila.find('input[data-field="FechaResultado"]').val() || "";
        }

        analisisDatos.push(analisis);
    });

    // Enviar los datos al servidor usando Ajax
    $.ajax({
        url: '@Url.Content("../Entradas/ActualizarTodosLosAnalisis?NumeroEnmienda="+ViewBag.NumeroEnmienda)',//@Url.Action("ActualizarTodosLosAnalisis", "Entradas")',
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(analisisDatos),
        success: function (response) {
            if (response.success) {
                Swal.fire({
                    icon: "success",
                    title: "Atención",
                    text: "Todos los análisis se han actualizado correctamente."
                });
            } else {
                Swal.fire({
                    icon: "warning",
                    title: "Atención",
                    text: "Error al actualizar los análisis."
                });
            }
        },
        error: function () {
            Swal.fire({
                icon: "warning",
                title: "Atención",
                text: "Error en la petición."
            });
        }
    });
});

    });

    function convertirSuperindice(input) {
        let texto = input.value;

        // Reemplazar "^n" con el número `n` en superíndice (Ejemplo: "5^3" a "5³")
        texto = texto.replace(/\^(\d)/g, (_, num) => {
            const superindices = "⁰¹²³⁴⁵⁶⁷⁸⁹";
            return superindices[num] || num;
        });

        // Reemplazar "_n" con el número `n` en subíndice (Ejemplo: "H_2O" a "H₂O")
        texto = texto.replace(/_(\d)/g, (_, num) => {
            const subindices = "₀₁₂₃₄₅₆₇₈₉";
            return subindices[num] || num;
        });

        // Actualizar el campo de texto
        input.value = texto;
    }



</script>
