﻿@model SistemaLabMQ.Models.Procedures.sp_verEntrada

@{
    ViewBag.Title = "ResultadosView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4 bg-transparent">
    <!-- <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Analisis</h6>
    </div> -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="row">
                    <center><img src="data:image/png;base64,@ViewBag.Parametros.Logo" width="35%"></center>
                </div>
                <div class="row">
                    <p class="text-center text-dark">Laboratorio de Análisis <br>Industriales MQ</p>
                </div>
            </div>
            <div class="col-md-4 mb-6">

                <p class="text-center text-dark font-weight-bold">
                    @ViewBag.Parametros.TituloEntrada <br>
                    Teléfono: @ViewBag.Parametros.Telefonos<br>
                    Correo electrónico:<br>
                    @ViewBag.Parametros.Correos
                </p>

            </div>
            <div class="col-md-4 mb-3">

                <p class="text-right text-dark">
                    Código: @ViewBag.Parametros.CodigoFormatoEntrada<br>
                    Versión: @ViewBag.Parametros.VersionFormatoEntrada<br>
                    Correlativo: @Model.idEntrada@(ViewBag.NumeroEnmienda!=0? "-"+ViewBag.NumeroEnmienda:"")<br>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="accordion" id="accordionExample">

    <div class="card shadow mb-4">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                        aria-controls="collapseTwo">
                    Condiciones de recepción de la muestra
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
             data-parent="#accordionExample">
            <div class="card-body">
                <form class="needs-validation" novalidate autocomplete="off" method="post" action="@Url.Content("../Entradas/actCondiciones?IdEntrada="+Model.idEntrada)">
                    <div class="form-row">
                        <div class="card col-md-6 mb-3">
                            <!-- <div class="card-header">Cantidad</div> -->
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom04">Unidad de medida</label>
                                        <select disabled class="custom-select" id="UnidadMedida" name="UnidadMedida"
                                                required>
                                            @if (Model.UnidadMedida == 1)
                                            {
                                                <option value="1" selected>mL</option>
                                                <option value="2">L</option>
                                                <option value="3">gr</option>
                                                <option value="4">oz</option>
                                                <option value="5">Varios</option>
                                            }
                                            else
                                            {
                                                if (Model.UnidadMedida == 2)
                                                {
                                                    <option value="1">mL</option>
                                                    <option value="2" selected>L</option>
                                                    <option value="3">gr</option>
                                                    <option value="4">oz</option>
                                                    <option value="5">Varios</option>
                                                }
                                                else
                                                {
                                                    if (Model.UnidadMedida == 3)
                                                    {
                                                        <option value="1">mL</option>
                                                        <option value="2">L</option>
                                                        <option value="3" selected>gr</option>
                                                        <option value="4">oz</option>
                                                        <option value="5">Varios</option>
                                                    }
                                                    else
                                                    {
                                                        if (Model.UnidadMedida == 4)
                                                        {
                                                            <option value="1">mL</option>
                                                            <option value="2">L</option>
                                                            <option value="3">gr</option>
                                                            <option value="4" selected>oz</option>
                                                            <option value="5">Varios</option>
                                                        }
                                                        else
                                                        {
                                                            if (Model.UnidadMedida == 5)
                                                            {
                                                                <option value="1">mL</option>
                                                                <option value="2">L</option>
                                                                <option value="3">gr</option>
                                                                <option value="4">oz</option>
                                                                <option value="5" selected>Varios</option>
                                                            }
                                                            else
                                                            {
                                                                <option selected disabled value="">Selecione...</option>
                                                                <option value="1">mL</option>
                                                                <option value="2">L</option>
                                                                <option value="3">gr</option>
                                                                <option value="4">oz</option>
                                                                <option value="5">Varios</option>
                                                            }

                                                        }
                                                    }
                                                }
                                            }

                                        </select>
                                        <div class="valid-feedback">
                                            Valor valido
                                        </div>
                                        <div class="invalid-feedback">
                                            Valor no puede quedar en blanco
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom04">Cantidad</label>
                                        <input readonly type="number" class="form-control"
                                               id="Cantidad" name="Cantidad" min="1"
                                               required value="@Model.Cantidad">
                                        <div class="valid-feedback">
                                            Valor valido
                                        </div>
                                        <div class="invalid-feedback">
                                            Valor debe ser mayor que 0
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom04">Condicion</label>
                                        <select disabled class="custom-select" id="CondicionCantidad" name="CondicionCantidad"
                                                required>
                                            @if (Model.CondicionCantidad == 1)
                                            {
                                                <option value="1" selected>Apto</option>
                                                <option value="2">No apto</option>
                                            }
                                            else
                                            {
                                                if (Model.CondicionCantidad == 2)
                                                {
                                                    <option value="1">Apto</option>
                                                    <option value="2" selected>No apto</option>
                                                }
                                                else
                                                {
                                                    <option selected disabled value="">Selecione...</option>
                                                    <option value="1">Apto</option>
                                                    <option value="2">No apto</option>
                                                }
                                            }
                                        </select>
                                        <div class="valid-feedback">
                                            Valor valido
                                        </div>
                                        <div class="invalid-feedback">
                                            Valor no puede quedar en blanco
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card col-md-6 mb-3">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom04">Envase</label>
                                        <select disabled class="custom-select" multiple id="Envase" name="Envase"
                                                required>
                                            @Html.Raw(Model.Envase);

                                        </select>
                                        <div class="valid-feedback">
                                            Valor valido
                                        </div>
                                        <div class="invalid-feedback">
                                            Valor no puede quedar en blanco
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom04">Condicion</label>
                                        <select disabled class="custom-select" id="CondicionEnvase" name="CondicionEnvase"
                                                required>
                                            @switch (Model.CondicionEnvase)
                                            {
                                                case 1:
                                                    <option value="1" selected> Apto</option>
                                                    <option value="2"> No Apto</option>
                                                    break;
                                                case 2:
                                                    <option value="1">Apto</option>
                                                    <option value="2" selected>No Apto</option>
                                                    break;
                                                default:
                                                    <option selected disabled>Selecione...</option>
                                                    <option value="1">Apto</option>
                                                    <option value="2">No Apto</option>
                                                    break;
                                            }

                                        </select>
                                        <div class="valid-feedback">
                                            Valor valido
                                        </div>
                                        <div class="invalid-feedback">
                                            Valor no puede quedar en blanco
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom04">
                                Muestra dentro del periodo
                                de
                                analisis
                            </label>
                            <select disabled class="custom-select" id="MuestraPeriodo" name="MuestraPeriodo" required>
                                @if (Model.MuestraPeriodo == 1)
                                {
                                    <option value="1" selected>Apto</option>
                                    <option value="2">No apto</option>
                                }
                                else
                                {
                                    if (Model.MuestraPeriodo == 2)
                                    {
                                        <option value="1">Apto</option>
                                        <option value="2" selected>No apto</option>
                                    }
                                    else
                                    {
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Apto</option>
                                        <option value="2">No apto</option>
                                    }
                                }
                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom04">Preservacion</label>
                            <select disabled class="custom-select" id="PreservacionCondicion" name="PreservacionCondicion" required>
                                @if (Model.PreservacionCondicion == 1)
                                {
                                    <option value="1" selected>Apto</option>
                                    <option value="2">No apto</option>
                                }
                                else
                                {
                                    if (Model.PreservacionCondicion == 2)
                                    {
                                        <option value="1">Apto</option>
                                        <option value="2" selected>No apto</option>
                                    }
                                    else
                                    {
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Apto</option>
                                        <option value="2">No apto</option>
                                    }
                                }

                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                        aria-controls="collapseFour">
                    Analisis solicitados
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
             data-parent="#accordionExample">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableMuestrasTecnicos" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Numero muestra</th>
                                <th>Identificacion de muestra</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (SistemaLabMQ.Models.Procedures.sp_getMuestras item in ViewBag.lstMuestras)
                            {
                                <tr>
                                    <td>@item.IdCorrelativoMuestra</td>
                                    <td>@item.IdentificacionMuestra</td>
                                    @switch (item.Estado)
                                    {
                                        case 0:
                                            <td class="text-center">
                                                <span class="btn btn-warning btn-icon-split">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </span>
                                                    <span class="text">En proceso</span>
                                                </span>
                                            </td>

                                            break;
                                        case 1:
                                            <td class="text-center">
                                                <span class="btn btn-success btn-icon-split">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </span>
                                                    <span class="text">Entregado</span>
                                                </span>
                                            </td>
                                            break;
                                        case 2:
                                            <td class="text-center">
                                                <span class="btn btn-danger btn-icon-split">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </span>
                                                    <span class="text">Anulado</span>
                                                </span>
                                            </td>
                                            break;
                                        default:
                                            break;
                                    }

                                    <td class="text-center">
                                        @if (item.Estado != 2)
                                        {
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <a href="@Url.Content("../IngresoResultados/registroResultados?IdMuestra="+item.IdCorrelativoMuestra+"&&NumeroEnmienda="+ViewBag.NumeroEnmienda)" class="btn btn-primary">
                                                    <i class="fas fa-plus"></i>
                                                </a>

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <a href="@Url.Content("../Entradas/detallesAnulacion?IdMuestra="+item.IdCorrelativoMuestra+"&&NumeroEnmienda="+ViewBag.NumeroEnmienda)" class="btn btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                                <span class="btn btn-primary">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </div>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                        aria-controls="collapseFive">
                    Modificaciones
                </button>
            </h2>
        </div>
        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive"
             data-parent="#accordionExample">
            <div class="card-body">
                <form class="needs-validation" novalidate autocomplete="off">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom04">Via de notificacion</label>
                            <select class="custom-select" id="ViaNotificacion" name="ViaNotificacion" disabled>
                                @switch (Model.ViaNotificacion)
                                {
                                    case 1:
                                        <option value="1" selected>Personalmente</option>
                                        <option value="2">Tel&eacute;fono</option>
                                        <option value="3">Correo</option>
                                        break;
                                    case 2:
                                        <option value="1">Personalmente</option>
                                        <option value="2" selected>Tel&eacute;fono</option>
                                        <option value="3">Correo</option>
                                        break;
                                    case 3:
                                        <option value="1">Personalmente</option>
                                        <option value="2">Tel&eacute;fono</option>
                                        <option value="3" selected>Correo</option>
                                        break;
                                    default:
                                        <option selected disabled value="">Selecione...</option>
                                        <option value="1">Personalmente</option>
                                        <option value="2">Tel&eacute;fono</option>
                                        <option value="3">Correo</option>
                                        break;
                                }

                            </select>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom02">
                                Persona que recibe
                                notificaci&oacute;n
                            </label>
                            <input type="text" class="form-control" id="Persona" name="Persona"
                                   readonly value="@Model.Persona">
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom03">Fecha modificacion</label>
                            <input type="date" class="form-control" id="Fecha" name="Fecha" required
                                   value="@Model.Fecha.ToString("yyyy-MM-dd")" readonly>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom03">Descripcion</label>
                            <textarea class="form-control" id="Descripcion" name="Descripcion" readonly>@Model.Descripcion</textarea>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor no puede quedar en blanco
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
    <a href="@Url.Content("../IngresoResultados/Index")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="text-white-50"></i> Regresar
    </a>
</div>