﻿@model List<SistemaLabMQ.Models.TiposAnalisis>
@{
    ViewBag.Title = "ActualizarTipoAnalisis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Roles</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../TipoAnalisis/ActualizarTiposAnalsis")" enctype="multipart/form-data" method="post" autocomplete="off">
            @foreach (SistemaLabMQ.Models.TiposAnalisis item in Model)
            {
                <input type="text" class="form-control" id="IdTipoAnalisis" name="IdTipoAnalisis" value="@item.IdTipoAnalisis" hidden>

                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationCustom01">Tipo de Análisis</label>
                        <input type="text" class="form-control" id="TipoAnalisis" name="TipoAnalisis" value="@item.TipoAnalisis" min="1"
                               required>
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom04">Estado</label>
                        <select class="custom-select" id="Estado" name="Estado" required>
                            @if (item.Estado == 1)
                            {
                                <option value="1" selected>Activo</option>
                                <option value="0">Inactivo</option>
                            }
                            else
                            {
                                <option value="1">Activo</option>
                                <option value="0" selected>Inactivo</option>
                            }

                        </select>
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor no puede quedar en blanco
                        </div>
                    </div>
                </div>
            }
            <div class="modal-footer">
                <a href="@Url.Content("../TipoAnalisis/Index")" class="btn btn-secondary" data-dismiss="modal">Atras</a>
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>

