﻿@model List<SistemaLabMQ.Models.TiposAnalisis>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <a data-toggle="modal" data-target="#exampleModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"

            <i class="text-white-50"></i>Nuevo tipo de Análisis
        </a>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Creación de nuevos tipos de Análisis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate action="@Url.Content("../TipoAnalisis/NuevoTipoAnalisis")" enctype="multipart/form-data" method="post" autocomplete="off">
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom01">Tipo de Análisis</label>
                                <input type="text" class="form-control" id="TipoAnalisis" name="TipoAnalisis" min="1"
                                       required>
                                <div class="valid-feedback">
                                    Valor valido
                                </div>
                                <div class="invalid-feedback">
                                    Valor incorrecto
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" href="">Guardar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Tipos de Analisis</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>Tipo de Análisis</th>
                            <th>Estado</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SistemaLabMQ.Models.TiposAnalisis item in Model)
                        {
                            <tr>
                                <td>@item.TipoAnalisis</td>
                                @{
                                    if (item.Estado != 1)
                                    {
                                        <td>
                                            <span class="btn btn-warning btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Inactivo</span>
                                            </span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Activo</span>
                                            </span>
                                        </td>
                                    }
                                }
                                <td><a class="btn btn-primary" href="@Url.Content("../TipoAnalisis/VistaAct?IdTipoAnalisis="+item.IdTipoAnalisis)" role="button"><i class="fas fa-plus"></i></a></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
