﻿
@{
    ViewBag.Title = "ActualizarParametro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Parametros</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../Parametros/ActualizarParametro")" enctype="multipart/form-data" method="post" autocomplete="off">
            @foreach (SistemaLabMQ.Models.Parametros item in Model)
            {
                <input type="text" class="form-control" id="IdParametro" name="IdParametro" value="@item.IdRow" hidden>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Nombre parámetro</label>
                        <input type="text" class="form-control" id="Parametro" name="Parametro" value="@item.Parametro" min="1"
                               required>
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Valor del Parametro</label>
                        <input type="text" class="form-control" id="Valor" name="Valor" value="@item.Valor" min="1"
                               required>
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor incorrecto
                        </div>
                    </div>

                </div>
                <div class="form-row">

                    <div class="col-md-4 mb-3">
                        <label for="validationCustom04">Estado</label>
                        <select class="custom-select" id="Estado" name="Estado" required>
                            @if (item.Estado == 1)
                            {
                                <option value="1" selected>Activo</option>
                                <option value="0">Inactivo</option>
                            }
                            else
                            {
                                <option value="1">Activo</option>
                                <option value="0" selected>Inactivo</option>
                            }

                        </select>
                        <div class="valid-feedback">
                            Valor valido
                        </div>
                        <div class="invalid-feedback">
                            Valor no puede quedar en blanco
                        </div>
                    </div>
                    
                </div>
            }
            <div class="modal-footer">
                <a href="@Url.Content("../Parametros/Index")" class="btn btn-secondary" data-dismiss="modal">Atras</a>
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>
