﻿@model List<SistemaLabMQ.Models.Parametros>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card shadow mb-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Parametros</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>Nombre del Parametro</th>
                            <th>Valor del Parametro</th>
                            <th>Estado</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SistemaLabMQ.Models.Parametros item in Model)
                        {
                            <tr>
                                <td>@item.Parametro</td>
                                <td>@item.Valor</td>
                                @{
                                    if (item.Estado != 1)
                                    {
                                        <td>
                                            <span class="btn btn-warning btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Inactivo</span>
                                            </span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Activo</span>
                                            </span>
                                        </td>
                                    }
                                }
                                <td><a class="btn btn-primary" href="@Url.Content("../Parametros/VistaAct?IdParametro="+item.IdRow)" role="button"><i class="fas fa-plus"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

