﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Volumen de trabajo</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate autocomplete="off" action="@Url.Content("../VolumenTrabajo/verInforme")">
            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="TipoI" class="form-label">Tipo de informe:</label>
                    <select class="custom-select" id="TipoI" name="TipoI" required>
                        <option selected disabled value="">Selecione...</option>
                        <option value="1">Global</option>
                        <option value="2">Resumen</option>
                        <option value="3">Alcance</option>
                        <option value="4">Otros datos</option>
                    </select>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Anio" class="form-label">Año:</label>
                    <input type="number" class="form-control" id="Anio" min="2024" value="0" name="Anio" required>
                    <div class="valid-feedback">Valor valido</div>
                    <div class="invalid-feedback">Campo requerido</div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Generar</button>
        </form>
        <br />
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <a href="javascript:history.back()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="text-white-50"></i> Regresar
            </a>
        </div>
    </div>
</div>