﻿@model List<SistemaLabMQ.Models.Clientes>
@{
    ViewBag.Title = "ActualizarCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Clientes</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate action="@Url.Content("../Clientes/ActualizarCliente")" enctype="multipart/form-data" method="post" autocomplete="off">
            @foreach (SistemaLabMQ.Models.Clientes item in Model)
            {
                <input type="text" class="form-control" id="IdCliente" name="IdCliente" value="@item.IdCliente" hidden>

                <div class="form-row">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Cliente</label>
                            <input type="text" class="form-control" Name="Cliente" id="Cliente" value="@item.Cliente" min="1"
                                   required>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Contacto</label>
                            <input type="text" class="form-control" name="Contacto" id="Contacto" value="@item.Contacto" min="1"
                                   required>
                            <div class="valid-feedback">
                                Valor valido
                            </div>
                            <div class="invalid-feedback">
                                Valor incorrecto
                            </div>
                        </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Teléfono</label>
                                <input type="text" class="form-control" name="Telefono" id="Telefono" value="@item.Telefono" min="1"
                                       required>
                                <div class="valid-feedback">
                                    Valor valido
                                </div>
                                <div class="invalid-feedback">
                                    Valor incorrecto
                                </div>
                            </div>
                            <div class="col-md-8 mb-3">
                                <label for="validationCustom01">Dirección </label>
                                <input type="text" class="form-control" name="Direccion" id="Direccion" value="@item.Direccion" min="1"
                                       required>
                                <div class="valid-feedback">
                                    Valor valido
                                </div>
                                <div class="invalid-feedback">
                                    Valor incorrecto
                                </div>

                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="validationCustom04">Estado</label>
                                <select class="custom-select" id="Estado" name="Estado" required>
                                    @if (item.Estado == 1)
                                    {
                                        <option value="1" selected>Activo</option>
                                        <option value="0">Inactivo</option>
                                    }
                                    else
                                    {
                                        <option value="1">Activo</option>
                                        <option value="0" selected>Inactivo</option>
                                    }

                                </select>
                                <div class="valid-feedback">
                                    Valor valido
                                </div>
                                <div class="invalid-feedback">
                                    Valor no puede quedar en blanco
                                </div>
                            </div>
                        </div>

                </div>

            }
            <div class="modal-footer">
                <a href="@Url.Content("../Clientes/Index")" class="btn btn-secondary" data-dismiss="modal">Atras</a>
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>
