﻿@model List<SistemaLabMQ.Models.Clientes>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Mensaje"] != null)
{
    if (TempData["Mensaje"].ToString() == "1")
    {
        <div class="alert alert-primary" role="alert">
            Se ha insertado un nuevo cliente
        </div>
    }
    else
    {
        if (TempData["Mensaje"].ToString() == "2")
        {
            <div class="alert alert-danger" role="alert">
                Error al insertar nuevo cliente
            </div>
        }
        if (TempData["Mensaje"].ToString() == "3")
        {
            <div class="alert alert-primary" role="alert">
                Se ha actualizado el cliente con exito
            </div>
        }
        if (TempData["Mensaje"].ToString() == "4")
        {
            <div class="alert alert-danger" role="alert">
                Error al actualizar cliente
            </div>
        }
    }
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString();
    </div>
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <a data-toggle="modal" data-target="#exampleModal"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="text-white-50"></i>Nuevo Cliente
        </a>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Creación de nuevos clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate action="@Url.Content("../Clientes/NuevoCliente")" enctype="multipart/form-data" method="post" autocomplete="off">
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="Cliente">Cliente</label>
                                <input type="text" class="form-control" Name="Cliente" id="Cliente"
                                       required>
                                <div class="valid-feedback">
                                    Valor valido
                                </div>
                                <div class="invalid-feedback">
                                    Valor incorrecto
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="Contacto">Contacto</label>
                                <input type="text" class="form-control" name="Contacto" id="Contacto"
                                       required>
                                <div class="valid-feedback">
                                    Valor valido
                                </div>
                                <div class="invalid-feedback">
                                    Valor incorrecto
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="Direccion">Dirección </label>
                                <input type="text" class="form-control" name="Direccion" id="Direccion"
                                       required>
                                <div class="valid-feedback">
                                    Valor valido
                                </div>
                                <div class="invalid-feedback">
                                    Valor incorrecto
                                </div>
                            </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="Telefono">Teléfono</label>
                                            <input type="text" class="form-control" name="Telefono" id="Telefono"
                                                   required>
                                            <div class="valid-feedback">
                                                Valor valido
                                            </div>
                                            <div class="invalid-feedback">
                                                Valor incorrecto
                                            </div>
                                        </div>
                                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" href="">Guardar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Contacto</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Estado</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SistemaLabMQ.Models.Clientes item in Model)
                        {
                            <tr>
                                <td>@item.Cliente</td>
                                <td>@item.Contacto</td>
                                <td>@item.Direccion</td>
                                <td>@item.Telefono</td>
                                @{
                                    if (item.Estado != 1)
                                    {
                                        <td>
                                            <span class="btn btn-warning btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Inactivo</span>
                                            </span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Activo</span>
                                            </span>
                                        </td>
                                    }
                                }
                                <td><a class="btn btn-primary" href="@Url.Content("../Clientes/VistaAct?IdCliente="+item.IdCliente)" role="button"><i class="fas fa-plus"></i></a></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>